###Task:Using a for loop, Print the name of each person from the exec_df dataframe at the end of the notebook.
Submit at the end of the lab on the provided BB link.

# Data Acquisition

As we start our journey into Big Data Analytics, the first thing we need to do is **get the data** in the form we need for analysis!  We'll start with an overview of how to acquire and *wrangle* data.

This notebook gives us a series of examples for:

* Acquiring data from files and remote sources
* Information extraction over HTML content
* A basic "vocabulary" of operators over tables (the relational algebra)

* "Data wrangling" or integration:
  * Cleaning and filtering data, using rules and based operations
  * Linking data across dataframes or relations
  * The need for approximate match and record linking

## The Question/Goals
To illustrate the principles, we should focus on a question about the age of company CEOs and founders.  A use-case relevant to this question can be accessed from this link 

* Founders of Tech Companies are mostly Middle-Aged: https://www.nytimes.com/2019/08/29/business/tech-start-up-founders-nest.html?searchResultPosition=2

So let's test if this hypothesis is valid based on data!

In [1]:
# Let's install some libraries useful for processing web data

# For string similarity
!pip3 install py_stringsimjoin

# # lxml to parse xml tree
!pip3 install lxml

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting py_stringsimjoin
  Downloading py_stringsimjoin-0.3.2.tar.gz (1.1 MB)
     |████████████████████████████████| 1.1 MB 4.2 MB/s
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from py_stringsimjoin) (1.2.0)
Requirement already satisfied: pandas>=0.16.0 in /usr/local/lib/python3.8/dist-packages (from py_stringsimjoin) (1.3.5)
Collecting PyPrind>=2.9.3
  Downloading PyPrind-2.11.3-py2.py3-none-any.whl (8.4 kB)
Collecting py_stringmatching>=0.2.1
  Downloading py_stringmatching-0.4.2.tar.gz (661 kB)
     |████████████████████████████████| 661 kB 47.3 MB/s
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from py_stringsimjoin) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.16.0->py_stringsimjoin) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.16.0->py_stringsimjoin) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.16.0->py_stringsimjoin) (1.21.6)
Building wheels for collected packages: py-stringsimjoin, py-stringmatching
  Building wheel for py-stringsimjoin (setup.py) ... done
  Created wheel for py-stringsimjoin: filename=py_stringsimjoin-0.3.2-cp38-cp38-linux_x86_64.whl size=4117943 sha256=204f3e0d767aa151ed144dd746cf5eeb5af24d07aa63983ad3a568de150022e6
  Stored in directory: /root/.cache/pip/wheels/7f/61/96/0aa1d87a2d0a9329ea415ffaf74c875c9344434844177f2b62
  Building wheel for py-stringmatching (setup.py) ... done
  Created wheel for py-stringmatching: filename=py_stringmatching-0.4.2-cp38-cp38-linux_x86_64.whl size=2191924 sha256=3acae7ba52b67746e2183cf16e89487aa5af62839e61387738fe84518a4a79a9
  Stored in directory: /root/.cache/pip/wheels/6d/01/57/0131e0a87fa6471ec265bd9777de2e789a4bd1248c279fa875
Successfully built py-stringsimjoin py-stringmatching
Installing collected packages: PyPrind, py-stringmatching, py-stringsimjoin
Successfully installed PyPrind-2.11.3 py-stringmatching-0.4.2 py-stringsimjoin-0.3.2
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (4.9.1)

In [2]:
# Imports we'll use through the notebook, collected here for simplicity

# For parsing dates and being able to compare
import datetime

# For fetching remote data
import urllib
import urllib.request

# Pandas dataframes and operations
import pandas as pd

# Numpy matrix and array operations
import numpy as np

# Sqlite is a simplistic database
import sqlite3

# Approximate string matching, see 
import py_stringsimjoin as ssj
import py_stringmatching as sm

# Data visualization
import matplotlib

#  Acquiring Data

To test above hypothesis, we might want:

1. A list of companies (and, for futher details, perhaps their lines of business)
2. A list of company CEOs
3. Ages of the CEOs

We'll go through each of these using real data from the web.

### Reading Structured Data Sources

Let's start by looking up data about companies.  An example of this is at:

https://gist.githubusercontent.com/jvilledieu/c3afe5bc21da28880a30/raw/a344034b82a11433ba6f149afa47e57567d4a18f/Companies.csv

which has some nicely detailed information about companies, their categories, when they were founded, etc.  Let's load this (remote) CSV file into a dataframe.

In [3]:
data = urllib.request.urlopen(\
       'https://gist.github.com/jvilledieu/c3afe5bc21da28880a30/raw/a344034b82a11433ba6f149afa47e57567d4a18f/Companies.csv')

company_data_df = pd.read_csv(data)

In [4]:
# Let's write it to SQL, and read it back

conn = sqlite3.connect('local.db')

company_data_df.to_sql("companies", conn, if_exists="replace", index=False)

pd.read_sql_query('select * from companies', conn)

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at
0,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,1 750 000,acquired,USA,NY,New York City,New York,1,01/06/2012,2012-06,2012-Q2,2012.0,30/06/2012,30/06/2012
1,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,4 000 000,operating,USA,CA,Los Angeles,Los Angeles,2,None,None,None,NaN,04/06/2010,23/09/2010
2,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Publishing,40 000,operating,EST,None,Tallinn,Tallinn,1,26/10/2012,2012-10,2012-Q4,2012.0,09/08/2012,09/08/2012
3,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|iPhone|Apps|Mobile|iOS|E-Commerce|,Electronics,1 500 000,operating,GBR,None,London,London,1,01/04/2011,2011-04,2011-Q2,2011.0,01/04/2011,01/04/2011
4,/organization/n-plusn,+n (PlusN),http://plusn.com,|Software|,Software,1 200 000,operating,USA,NY,New York City,New York,2,01/01/2012,2012-01,2012-Q1,2012.0,29/08/2012,04/09/2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47753,/organization/zzish,Zzish,http://www.zzish.com,|Analytics|Gamification|Developer APIs|iOS|Android|Education|,Education,320 000,operating,GBR,None,London,London,1,28/01/2013,2013-01,2013-Q1,2013.0,24/03/2014,24/03/2014
47754,/organization/zznode-science-and-technology-co-ltd,ZZNode Science and Technology,http://www.zznode.com,|Enterprise Software|,Enterprise Software,1 587 301,operating,CHN,None,Beijing,Beijing,1,None,None,None,NaN,01/04/2012,01/04/2012
47755,/organization/zzzzapp-com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,|Web Development|Advertising|Wireless|Mobile|,Web Development,97 398,operating,HRV,None,Split,Split,5,13/05/2012,2012-05,2012-Q2,2012.0,01/11/2011,10/09/2014
47756,/organization/a-list-games,[a]list games,http://www.alistgames.com,|Games|,Games,9 300 000,operating,None,None,None,None,1,None,None,None,NaN,21/11/2011,21/11/2011
47757,/organization/x,[x+1],http://www.xplusone.com/,|Enterprise Software|,Enterprise Software,45 000 000,operating,USA,NY,New York City,New York,4,01/01/1999,1999-01,1999-Q1,1999.0,01/06/2008,04/04/2013

## Companies' CEOs: a Web Table

Now we need to figure out who the CEOs are for corporations.  One place to look is Wikipedia, which has an HTML table describing the CEOs.

https://en.wikipedia.org/wiki/List_of_chief_executive_officers#List_of_CEOs

Pandas actually makes it easy to read HTML tables...

In [5]:
# Now let's read an HTML table!

company_ceos_df = pd.read_html('https://en.wikipedia.org/wiki/List_of_chief_executive_officers#List_of_CEOs')[0]

company_ceos_df

,Company,Executive,Title,Since,Notes,Updated
0,Accenture,Julie Sweet,CEO[1],2019,"Succeeded Pierre Nanterme, died",2019-01-31
1,Aditya Birla Group,Kumar Mangalam Birla,Chairman[2],1995[2],Part of the Birla family business house in India,2018-10-01
2,Adobe Systems,Shantanu Narayen,"Chairman, president and CEO[3]",2007,Formerly with Apple,2018-10-01
3,Agenus,Garo H. Armen,"Founder, chairman, CEO[4]",1994,Founder of the Children of Armenia Fund (COAF),2018-10-01
4,Airbus,Guillaume Faury,CEO[5],2012,Succeeded Louis Gallois,2017-11-14
...,...,...,...,...,...,...
171,Williams-Sonoma,Laura J. Alber,President and CEO[155],2010,Replaced W. Howard Lester,2017-11-11
172,WWE,Stephanie McMahon,Chairwoman and Co-CEO (Alongside Nick Khan) [156],2022,Chairwoman of the executive committeeChairwoman since 2022 CEO since July 22 2022,2017-11-11
173,Yum! Brands,Greg Creed,CEO[157],2015,Previously CEO for Taco Bell,2017-11-11
174,Zillow Group,Rich Barton,CEO[158],2019,Co-founder and previously was Zillow's CEO for nearly a decade. Succeeded Spencer Rascoff.,2018-12-10
175,Zoom Video Communications,Eric Yuan,"President, Chairman and CEO[159]",2011,Previously corporate Vice President of engineering at Cisco,2020-10-12

## The Problem Gets Harder... Extracting Structured Fields

We have data for companies and CEOs.   Now we need to know the age of CEOs.

One solution is, we're going to go back to Wikipedia -- this time looking at the web pages for the CEOs!

This involves "crawling" the CEO pages, and "scraping" the relevant content.  In other words we have to do *information extraction*.

We'll start by constructing a list of CEO web pages, from the Company CEO dataframe above.  For this, we need to take the names and do a bit of tweaking, for example adding underscores instead of spaces.

In [6]:
crawl_list = []

for executive in company_ceos_df['Executive']:
  crawl_list.append('https://en.wikipedia.org/wiki/' + executive.replace(' ', '_'))
 
crawl_list

['https://en.wikipedia.org/wiki/Julie_Sweet',
 'https://en.wikipedia.org/wiki/Kumar_Mangalam_Birla',
 'https://en.wikipedia.org/wiki/Shantanu_Narayen',
 'https://en.wikipedia.org/wiki/Garo_H._Armen',
 'https://en.wikipedia.org/wiki/Guillaume_Faury',
 'https://en.wikipedia.org/wiki/Daniel_Zhang',
 'https://en.wikipedia.org/wiki/Andy_Jassy',
 'https://en.wikipedia.org/wiki/Lisa_Su',
 'https://en.wikipedia.org/wiki/Stephen_Squeri',
 'https://en.wikipedia.org/wiki/Joseph_R._Swedish',
 'https://en.wikipedia.org/wiki/Tim_Cook',
 'https://en.wikipedia.org/wiki/Lakshmi_Niwas_Mittal',
 'https://en.wikipedia.org/wiki/John_Stankey',
 'https://en.wikipedia.org/wiki/Charles_Woodburn',
 'https://en.wikipedia.org/wiki/Tapan_Singhel',
 'https://en.wikipedia.org/wiki/Carlos_Torres_Vila',
 'https://en.wikipedia.org/wiki/Brian_Moynihan',
 'https://en.wikipedia.org/wiki/Jes_Staley',
 'https://en.wikipedia.org/wiki/Warren_Buffett',
 'https://en.wikipedia.org/wiki/Hubert_Joly',
 'https://en.wikipedia.org/wiki/Sunil_Bharti_Mittal',
 'https://en.wikipedia.org/wiki/Stephen_A._Schwarzman',
 'https://en.wikipedia.org/wiki/Andrew_Mackenzie',
 'https://en.wikipedia.org/wiki/Oliver_Zipse',
 'https://en.wikipedia.org/wiki/Dave_Calhoun',
 'https://en.wikipedia.org/wiki/Rich_Lesser',
 'https://en.wikipedia.org/wiki/Bob_Dudley',
 'https://en.wikipedia.org/wiki/Denise_Morrison',
 'https://en.wikipedia.org/wiki/Mark_Shuttleworth',
 'https://en.wikipedia.org/wiki/Richard_Fairbank',
 'https://en.wikipedia.org/wiki/Jim_Umpleby',
 'https://en.wikipedia.org/wiki/Evan_Greenberg',
 'https://en.wikipedia.org/wiki/Chuck_Robbins',
 'https://en.wikipedia.org/wiki/Jane_Fraser',
 'https://en.wikipedia.org/wiki/James_Quincey',
 'https://en.wikipedia.org/wiki/Brian_Humphries',
 'https://en.wikipedia.org/wiki/Brian_L._Roberts',
 'https://en.wikipedia.org/wiki/Thomas_Gottstein',
 'https://en.wikipedia.org/wiki/Ola_Källenius',
 'https://en.wikipedia.org/wiki/Michael_Dell',
 'https://en.wikipedia.org/wiki/Ed_Bastian',
 'https://en.wikipedia.org/wiki/Christian_Sewing',
 'https://en.wikipedia.org/wiki/Frank_Appel',
 'https://en.wikipedia.org/wiki/Roland_Dickey_Jr.',
 'https://en.wikipedia.org/wiki/Edward_D._Breen',
 'https://en.wikipedia.org/wiki/G._V._Prasad',
 'https://en.wikipedia.org/wiki/Devin_Wenig',
 'https://en.wikipedia.org/wiki/Andrew_Wilson',
 'https://en.wikipedia.org/wiki/Börje_Ekholm',
 'https://en.wikipedia.org/wiki/Darren_Woods',
 'https://en.wikipedia.org/wiki/Lisa_S._Jones',
 'https://en.wikipedia.org/wiki/Carmine_Di_Sibio',
 'https://en.wikipedia.org/wiki/Mark_Zuckerberg',
 'https://en.wikipedia.org/wiki/Frederick_W._Smith',
 'https://en.wikipedia.org/wiki/Rihanna',
 'https://en.wikipedia.org/wiki/Sergio_Marchionne',
 'https://en.wikipedia.org/wiki/Abigail_Johnson',
 'https://en.wikipedia.org/wiki/James_Michael_Lafferty',
 'https://en.wikipedia.org/wiki/James_Hackett',
 'https://en.wikipedia.org/wiki/Terry_Gou',
 'https://en.wikipedia.org/wiki/Lachlan_Murdoch',
 'https://en.wikipedia.org/wiki/Daymond_John',
 'https://en.wikipedia.org/wiki/Phebe_Novakovic',
 'https://en.wikipedia.org/wiki/H._Lawrence_Culp_Jr.',
 'https://en.wikipedia.org/wiki/Mary_T._Barra',
 'https://en.wikipedia.org/wiki/Emma_Walmsley',
 'https://en.wikipedia.org/wiki/David_M._Solomon',
 'https://en.wikipedia.org/wiki/Sundar_Pichai',
 'https://en.wikipedia.org/wiki/Felipe_Gozon',
 'https://en.wikipedia.org/wiki/Gunupati_Venkata_Krishna_Reddy',
 'https://en.wikipedia.org/wiki/C_Vijayakumar',
 'https://en.wikipedia.org/wiki/Lee_Shau_Kee',
 'https://en.wikipedia.org/wiki/Antonio_Neri',
 'https://en.wikipedia.org/wiki/Darius_Adamczyk',
 'https://en.wikipedia.org/wiki/John_A._Kaneb',
 'https://en.wikipedia.org/wiki/Noel_Quinn',
 'https://en.wikipedia.org/wiki/Arvind_Krishna',
 'https://en.wikipedia.org/wiki/Dikesh_Malhotra',
 'https://en.wikipedia.org/wiki/Salil_Parekh',
 'https://en.wikipedia.org/wiki/Pat_Gelsinger',
 'https://en.wikipedia.org/wiki/Millard_Drexler',
 'https://en.wikipedia.org/wiki/Richard_B._Handler',
 'https://en.wikipedia.org/wiki/James_Dimon',
 'https://en.wikipedia.org/wiki/Andrew_S._Rosen',
 'https://en.wikipedia.org/wiki/Pieter_Elbers',
 'https://en.wikipedia.org/wiki/Charles_G._Koch',
 'https://en.wikipedia.org/wiki/Jeff_Clarke',
 'https://en.wikipedia.org/wiki/Robert_Noel',
 'https://en.wikipedia.org/wiki/Robert_Goldstein',
 'https://en.wikipedia.org/wiki/Andrew_Meslow',
 'https://en.wikipedia.org/wiki/Marillyn_Hewson',
 'https://en.wikipedia.org/wiki/Steve_Rowe',
 'https://en.wikipedia.org/wiki/Chris_Kempczinski',
 'https://en.wikipedia.org/wiki/Kevin_Sneader',
 'https://en.wikipedia.org/wiki/Jonathan_Ornstein',
 'https://en.wikipedia.org/wiki/Steven_A._Kandarian',
 'https://en.wikipedia.org/wiki/Isaac_Larian',
 'https://en.wikipedia.org/wiki/Satya_Nadella',
 'https://en.wikipedia.org/wiki/Michael_J._Saylor',
 'https://en.wikipedia.org/wiki/James_P._Gorman',
 'https://en.wikipedia.org/wiki/Toxey_Haas',
 'https://en.wikipedia.org/wiki/Chris_Beard',
 'https://en.wikipedia.org/wiki/Jeff_Shell',
 'https://en.wikipedia.org/wiki/Robert_James_Thomson',
 'https://en.wikipedia.org/wiki/Mark_Thompson',
 'https://en.wikipedia.org/wiki/Mark_Parker',
 'https://en.wikipedia.org/wiki/Pekka_Lundmark',
 'https://en.wikipedia.org/wiki/Vasant_Narasimhan',
 'https://en.wikipedia.org/wiki/Tatsumi_Kimishima',
 'https://en.wikipedia.org/wiki/Tim_Armstrong',
 'https://en.wikipedia.org/wiki/Safra_Catz',
 'https://en.wikipedia.org/wiki/Mark_Hurd',
 'https://en.wikipedia.org/wiki/Ramon_Laguarta',
 'https://en.wikipedia.org/wiki/Albert_Bourla',
 'https://en.wikipedia.org/wiki/Patrice_Louvet',
 'https://en.wikipedia.org/wiki/David_S._Taylor',
 'https://en.wikipedia.org/wiki/John_Strangfeld',
 'https://en.wikipedia.org/wiki/Alan_Joyce',
 'https://en.wikipedia.org/wiki/Anil_Ambani',
 'https://en.wikipedia.org/wiki/Mukesh_Ambani',
 'https://en.wikipedia.org/wiki/Luca_de_Meo',
 'https://en.wikipedia.org/wiki/Phiwa_Nkambule',
 'https://en.wikipedia.org/wiki/David_I._McKay',
 'https://en.wikipedia.org/wiki/Ross_McEwan',
 'https://en.wikipedia.org/wiki/Ben_van_Beurden',
 "https://en.wikipedia.org/wiki/Michael_O'Leary",
 'https://en.wikipedia.org/wiki/Douglas_L._Peterson',
 'https://en.wikipedia.org/wiki/Herbert_Fisk_Johnson_III',
 'https://en.wikipedia.org/wiki/Brian_Peddle',
 'https://en.wikipedia.org/wiki/Oh-Hyun_Kwon',
 'https://en.wikipedia.org/wiki/Christian_Klein',
 'https://en.wikipedia.org/wiki/James_Goodnight',
 'https://en.wikipedia.org/wiki/Jean-Pascal_Tricoire',
 'https://en.wikipedia.org/wiki/Roland_Busch',
 'https://en.wikipedia.org/wiki/David_Simon',
 'https://en.wikipedia.org/wiki/Chua_Sock_Koong',
 'https://en.wikipedia.org/wiki/Masayoshi_Son',
 'https://en.wikipedia.org/wiki/Tony_Aquila',
 'https://en.wikipedia.org/wiki/Gary_C._Kelly',
 'https://en.wikipedia.org/wiki/J._Clifford_Hudson',
 'https://en.wikipedia.org/wiki/Kevin_Johnson',
 'https://en.wikipedia.org/wiki/Raymond_Kwok',
 'https://en.wikipedia.org/wiki/Dilip_Shanghvi',
 'https://en.wikipedia.org/wiki/William_H._Rogers_Jr.',
 'https://en.wikipedia.org/wiki/Rakesh_Khanna',
 'https://en.wikipedia.org/wiki/Brian_Cornell',
 'https://en.wikipedia.org/wiki/Rajesh_Gopinathan',
 'https://en.wikipedia.org/wiki/Li_Dongsheng',
 'https://en.wikipedia.org/wiki/Andy_Penn',
 'https://en.wikipedia.org/wiki/Ho_Ching',
 'https://en.wikipedia.org/wiki/Dave_Lewis',
 'https://en.wikipedia.org/wiki/Elon_Musk',
 'https://en.wikipedia.org/wiki/Alan_D._Schnitzer',
 'https://en.wikipedia.org/wiki/Akio_Toyoda',
 'https://en.wikipedia.org/wiki/Bill_Stromberg',
 'https://en.wikipedia.org/wiki/Parag_Agrawal',
 'https://en.wikipedia.org/wiki/Scott_Kirby',
 'https://en.wikipedia.org/wiki/Ralph_Hamers',
 'https://en.wikipedia.org/wiki/Joseph_C._Papa',
 'https://en.wikipedia.org/wiki/Hans_Vestberg',
 'https://en.wikipedia.org/wiki/Robert_Bakish',
 'https://en.wikipedia.org/wiki/Vittorio_Colao',
 'https://en.wikipedia.org/wiki/Herbert_Diess',
 'https://en.wikipedia.org/wiki/Bill_Hilf',
 'https://en.wikipedia.org/wiki/Bob_Chapek',
 'https://en.wikipedia.org/wiki/Stefano_Pessina',
 'https://en.wikipedia.org/wiki/Doug_McMillon',
 'https://en.wikipedia.org/wiki/Ann_Sarnoff',
 'https://en.wikipedia.org/wiki/Jason_Kilar',
 'https://en.wikipedia.org/wiki/Charles_Scharf',
 'https://en.wikipedia.org/wiki/John_Mackey',
 'https://en.wikipedia.org/wiki/Laura_J._Alber',
 'https://en.wikipedia.org/wiki/Stephanie_McMahon',
 'https://en.wikipedia.org/wiki/Greg_Creed',
 'https://en.wikipedia.org/wiki/Rich_Barton',
 'https://en.wikipedia.org/wiki/Eric_Yuan']

In [7]:
# Use urllib.urlopen to crawl all pages in crawl_list, and store the response of the page
# in list pages 

pages = []

for url in crawl_list:
    page = url.split("/")[-1] #extract the person name at the end of the url
    print('Looking at file %s' % page)

    # An issue: some of the accent characters won't work.  We need to convert them
    # into an HTML URL.  We'll split the URL, then use "parse.quote" to change
    # the structure, then re-form the URL
    url_list = list(urllib.parse.urlsplit(url))
    url_list[2] = urllib.parse.quote(url_list[2])
    url_ascii = urllib.parse.urlunsplit(url_list)
    try:
      response = urllib.request.urlopen((url_ascii))
      #Save page and url for later use.
      pages.append(response)
    except urllib.error.URLError as e:
      print(e.reason)

Looking at file Julie_Sweet
Looking at file Kumar_Mangalam_Birla
Looking at file Shantanu_Narayen
Looking at file Garo_H._Armen
Looking at file Guillaume_Faury
Looking at file Daniel_Zhang
Looking at file Andy_Jassy
Looking at file Lisa_Su
Looking at file Stephen_Squeri
Looking at file Joseph_R._Swedish
Looking at file Tim_Cook
Looking at file Lakshmi_Niwas_Mittal
Looking at file John_Stankey
Looking at file Charles_Woodburn
Looking at file Tapan_Singhel
Looking at file Carlos_Torres_Vila
Looking at file Brian_Moynihan
Looking at file Jes_Staley
Looking at file Warren_Buffett
Looking at file Hubert_Joly
Looking at file Sunil_Bharti_Mittal
Looking at file Stephen_A._Schwarzman
Looking at file Andrew_Mackenzie
Looking at file Oliver_Zipse
Looking at file Dave_Calhoun
Looking at file Rich_Lesser
Looking at file Bob_Dudley
Looking at file Denise_Morrison
Looking at file Mark_Shuttleworth
Looking at file Richard_Fairbank
Looking at file Jim_Umpleby
Looking at file Evan_Greenberg
Looking at file Chuck_Robbins
Looking at file Jane_Fraser
Looking at file James_Quincey
Looking at file Brian_Humphries
Looking at file Brian_L._Roberts
Looking at file Thomas_Gottstein
Looking at file Ola_Källenius
Looking at file Michael_Dell
Looking at file Ed_Bastian
Looking at file Christian_Sewing
Looking at file Frank_Appel
Looking at file Roland_Dickey_Jr.
Looking at file Edward_D._Breen
Looking at file G._V._Prasad
Looking at file Devin_Wenig
Looking at file Andrew_Wilson
Looking at file Börje_Ekholm
Looking at file Darren_Woods
Looking at file Lisa_S._Jones
Looking at file Carmine_Di_Sibio
Looking at file Mark_Zuckerberg
Looking at file Frederick_W._Smith
Looking at file Rihanna
Looking at file Sergio_Marchionne
Looking at file Abigail_Johnson
Looking at file James_Michael_Lafferty
Looking at file James_Hackett
Looking at file Terry_Gou
Looking at file Lachlan_Murdoch
Looking at file Daymond_John
Looking at file Phebe_Novakovic
Looking at file H._Lawrence_Culp_Jr.
Looking at file Mary_T._Barra
Looking at file Emma_Walmsley
Looking at file David_M._Solomon
Looking at file Sundar_Pichai
Looking at file Felipe_Gozon
Looking at file Gunupati_Venkata_Krishna_Reddy
Looking at file C_Vijayakumar
Looking at file Lee_Shau_Kee
Looking at file Antonio_Neri
Looking at file Darius_Adamczyk
Looking at file John_A._Kaneb
Looking at file Noel_Quinn
Looking at file Arvind_Krishna
Looking at file Dikesh_Malhotra
Looking at file Salil_Parekh
Looking at file Pat_Gelsinger
Looking at file Millard_Drexler
Looking at file Richard_B._Handler
Looking at file James_Dimon
Looking at file Andrew_S._Rosen
Looking at file Pieter_Elbers
Looking at file Charles_G._Koch
Looking at file Jeff_Clarke
Looking at file Robert_Noel
Looking at file Robert_Goldstein
Looking at file Andrew_Meslow
Not Found
Looking at file Marillyn_Hewson
Looking at file Steve_Rowe
Looking at file Chris_Kempczinski
Looking at file Kevin_Sneader
Looking at file Jonathan_Ornstein
Looking at file Steven_A._Kandarian
Looking at file Isaac_Larian
Looking at file Satya_Nadella
Looking at file Michael_J._Saylor
Looking at file James_P._Gorman
Looking at file Toxey_Haas
Looking at file Chris_Beard
Looking at file Jeff_Shell
Looking at file Robert_James_Thomson
Looking at file Mark_Thompson
Looking at file Mark_Parker
Looking at file Pekka_Lundmark
Looking at file Vasant_Narasimhan
Looking at file Tatsumi_Kimishima
Looking at file Tim_Armstrong
Looking at file Safra_Catz
Looking at file Mark_Hurd
Looking at file Ramon_Laguarta
Looking at file Albert_Bourla
Looking at file Patrice_Louvet
Looking at file David_S._Taylor
Looking at file John_Strangfeld
Looking at file Alan_Joyce
Looking at file Anil_Ambani
Looking at file Mukesh_Ambani
Looking at file Luca_de_Meo
Looking at file Phiwa_Nkambule
Looking at file David_I._McKay
Looking at file Ross_McEwan
Looking at file Ben_van_Beurden
Looking at file Michael_O'Leary
Looking at file Douglas_L._Peterson
Looking at file Herbert_Fisk_Johnson_III
Looking at file Brian_Peddle
Looking at file Oh-Hyun_Kwon
Looking at file Christian_Klein
Looking at file James_Goodnight
Looking at file Jean-Pascal_Tricoire
Looking at file Roland_Busch
Not Found
Looking at file David_Simon
Looking at file Chua_Sock_Koong
Looking at file Masayoshi_Son
Looking at file Tony_Aquila
Looking at file Gary_C._Kelly
Looking at file J._Clifford_Hudson
Looking at file Kevin_Johnson
Looking at file Raymond_Kwok
Looking at file Dilip_Shanghvi
Looking at file William_H._Rogers_Jr.
Looking at file Rakesh_Khanna
Looking at file Brian_Cornell
Looking at file Rajesh_Gopinathan
Looking at file Li_Dongsheng
Looking at file Andy_Penn
Looking at file Ho_Ching
Looking at file Dave_Lewis
Looking at file Elon_Musk
Looking at file Alan_D._Schnitzer
Looking at file Akio_Toyoda
Looking at file Bill_Stromberg
Looking at file Parag_Agrawal
Looking at file Scott_Kirby
Looking at file Ralph_Hamers
Looking at file Joseph_C._Papa
Looking at file Hans_Vestberg
Looking at file Robert_Bakish
Looking at file Vittorio_Colao
Looking at file Herbert_Diess
Looking at file Bill_Hilf
Looking at file Bob_Chapek
Looking at file Stefano_Pessina
Looking at file Doug_McMillon
Looking at file Ann_Sarnoff
Looking at file Jason_Kilar
Looking at file Charles_Scharf
Looking at file John_Mackey
Looking at file Laura_J._Alber
Looking at file Stephanie_McMahon
Looking at file Greg_Creed
Looking at file Rich_Barton
Looking at file Eric_Yuan

In [8]:
pages

[<http.client.HTTPResponse at 0x7f4865028df0>,
 <http.client.HTTPResponse at 0x7f48572eaeb0>,
 <http.client.HTTPResponse at 0x7f4855f0c220>,
 <http.client.HTTPResponse at 0x7f48572eafd0>,
 <http.client.HTTPResponse at 0x7f486313c460>,
 <http.client.HTTPResponse at 0x7f48572eaa60>,
 <http.client.HTTPResponse at 0x7f48540815b0>,
 <http.client.HTTPResponse at 0x7f4865028970>,
 <http.client.HTTPResponse at 0x7f4854081550>,
 <http.client.HTTPResponse at 0x7f4865028e20>,
 <http.client.HTTPResponse at 0x7f4854081850>,
 <http.client.HTTPResponse at 0x7f48540818e0>,
 <http.client.HTTPResponse at 0x7f48540817f0>,
 <http.client.HTTPResponse at 0x7f4854081730>,
 <http.client.HTTPResponse at 0x7f48540816a0>,
 <http.client.HTTPResponse at 0x7f4854081be0>,
 <http.client.HTTPResponse at 0x7f4854081b20>,
 <http.client.HTTPResponse at 0x7f4854081580>,
 <http.client.HTTPResponse at 0x7f4854081d00>,
 <http.client.HTTPResponse at 0x7f4854081520>,
 <http.client.HTTPResponse at 0x7f48540814c0>,
 <http.client.HTTPResponse at 0x7f4854081bb0>,
 <http.client.HTTPResponse at 0x7f4854081e50>,
 <http.client.HTTPResponse at 0x7f4854081970>,
 <http.client.HTTPResponse at 0x7f4854081b80>,
 <http.client.HTTPResponse at 0x7f486313cd30>,
 <http.client.HTTPResponse at 0x7f4854081e20>,
 <http.client.HTTPResponse at 0x7f4854081fa0>,
 <http.client.HTTPResponse at 0x7f48545ee730>,
 <http.client.HTTPResponse at 0x7f4854081f40>,
 <http.client.HTTPResponse at 0x7f4854071340>,
 <http.client.HTTPResponse at 0x7f48540712b0>,
 <http.client.HTTPResponse at 0x7f48540713d0>,
 <http.client.HTTPResponse at 0x7f4854071400>,
 <http.client.HTTPResponse at 0x7f48540716d0>,
 <http.client.HTTPResponse at 0x7f48540715b0>,
 <http.client.HTTPResponse at 0x7f4854071220>,
 <http.client.HTTPResponse at 0x7f4854071070>,
 <http.client.HTTPResponse at 0x7f4854071760>,
 <http.client.HTTPResponse at 0x7f4854071940>,
 <http.client.HTTPResponse at 0x7f4854071610>,
 <http.client.HTTPResponse at 0x7f4854071880>,
 <http.client.HTTPResponse at 0x7f4854071a60>,
 <http.client.HTTPResponse at 0x7f4854071af0>,
 <http.client.HTTPResponse at 0x7f4854071ca0>,
 <http.client.HTTPResponse at 0x7f4854071310>,
 <http.client.HTTPResponse at 0x7f4854071b80>,
 <http.client.HTTPResponse at 0x7f4854071c10>,
 <http.client.HTTPResponse at 0x7f4854071dc0>,
 <http.client.HTTPResponse at 0x7f48540714c0>,
 <http.client.HTTPResponse at 0x7f4854071eb0>,
 <http.client.HTTPResponse at 0x7f48540717f0>,
 <http.client.HTTPResponse at 0x7f4854071c40>,
 <http.client.HTTPResponse at 0x7f4853d170d0>,
 <http.client.HTTPResponse at 0x7f48540719a0>,
 <http.client.HTTPResponse at 0x7f4854071f10>,
 <http.client.HTTPResponse at 0x7f4854071040>,
 <http.client.HTTPResponse at 0x7f4865028cd0>,
 <http.client.HTTPResponse at 0x7f4853d17430>,
 <http.client.HTTPResponse at 0x7f4853d17100>,
 <http.client.HTTPResponse at 0x7f4853d174f0>,
 <http.client.HTTPResponse at 0x7f4853d17280>,
 <http.client.HTTPResponse at 0x7f4853d17610>,
 <http.client.HTTPResponse at 0x7f4853d17580>,
 <http.client.HTTPResponse at 0x7f4853d17370>,
 <http.client.HTTPResponse at 0x7f4853d17490>,
 <http.client.HTTPResponse at 0x7f4853d17910>,
 <http.client.HTTPResponse at 0x7f4853d17a60>,
 <http.client.HTTPResponse at 0x7f4853d17880>,
 <http.client.HTTPResponse at 0x7f4853d171f0>,
 <http.client.HTTPResponse at 0x7f4853d17a00>,
 <http.client.HTTPResponse at 0x7f4853d17040>,
 <http.client.HTTPResponse at 0x7f4853d17ca0>,
 <http.client.HTTPResponse at 0x7f4853d17a30>,
 <http.client.HTTPResponse at 0x7f4853d178e0>,
 <http.client.HTTPResponse at 0x7f4853d17bb0>,
 <http.client.HTTPResponse at 0x7f4853d17e50>,
 <http.client.HTTPResponse at 0x7f4853d17c70>,
 <http.client.HTTPResponse at 0x7f4853d17820>,
 <http.client.HTTPResponse at 0x7f4853d17b50>,
 <http.client.HTTPResponse at 0x7f4853d17eb0>,
 <http.client.HTTPResponse at 0x7f4854081cd0>,
 <http.client.HTTPResponse at 0x7f4853d17fa0>,
 <http.client.HTTPResponse at 0x7f4853d17b80>,
 <http.client.HTTPResponse at 0x7f4853d17f10>,
 <http.client.HTTPResponse at 0x7f4854071df0>,
 <http.client.HTTPResponse at 0x7f4853c263a0>,
 <http.client.HTTPResponse at 0x7f4853c26130>,
 <http.client.HTTPResponse at 0x7f4853c26310>,
 <http.client.HTTPResponse at 0x7f4853c26520>,
 <http.client.HTTPResponse at 0x7f4853c266d0>,
 <http.client.HTTPResponse at 0x7f4853c26460>,
 <http.client.HTTPResponse at 0x7f4853c26670>,
 <http.client.HTTPResponse at 0x7f4853c26280>,
 <http.client.HTTPResponse at 0x7f4853c26190>,
 <http.client.HTTPResponse at 0x7f4853c260a0>,
 <http.client.HTTPResponse at 0x7f4853c26400>,
 <http.client.HTTPResponse at 0x7f4853c267f0>,
 <http.client.HTTPResponse at 0x7f4853c26820>,
 <http.client.HTTPResponse at 0x7f4853c26bb0>,
 <http.client.HTTPResponse at 0x7f4853c268b0>,
 <http.client.HTTPResponse at 0x7f4853c26ac0>,
 <http.client.HTTPResponse at 0x7f4853c26af0>,
 <http.client.HTTPResponse at 0x7f4853c26b80>,
 <http.client.HTTPResponse at 0x7f4853c26c70>,
 <http.client.HTTPResponse at 0x7f4853c26940>,
 <http.client.HTTPResponse at 0x7f4853c26f40>,
 <http.client.HTTPResponse at 0x7f4853c26e80>,
 <http.client.HTTPResponse at 0x7f4853c26880>,
 <http.client.HTTPResponse at 0x7f4853c26d00>,
 <http.client.HTTPResponse at 0x7f4853c26df0>,
 <http.client.HTTPResponse at 0x7f4853c26f10>,
 <http.client.HTTPResponse at 0x7f4853c26a30>,
 <http.client.HTTPResponse at 0x7f4853d17310>,
 <http.client.HTTPResponse at 0x7f485393e130>,
 <http.client.HTTPResponse at 0x7f485393e0a0>,
 <http.client.HTTPResponse at 0x7f4853c26f70>,
 <http.client.HTTPResponse at 0x7f485393e5b0>,
 <http.client.HTTPResponse at 0x7f485393e190>,
 <http.client.HTTPResponse at 0x7f485393e640>,
 <http.client.HTTPResponse at 0x7f485393e3d0>,
 <http.client.HTTPResponse at 0x7f485393e8e0>,
 <http.client.HTTPResponse at 0x7f485393e760>,
 <http.client.HTTPResponse at 0x7f485393e880>,
 <http.client.HTTPResponse at 0x7f485393e7f0>,
 <http.client.HTTPResponse at 0x7f485393e970>,
 <http.client.HTTPResponse at 0x7f485393e520>,
 <http.client.HTTPResponse at 0x7f485393e280>,
 <http.client.HTTPResponse at 0x7f485393e9a0>,
 <http.client.HTTPResponse at 0x7f485393e430>,
 <http.client.HTTPResponse at 0x7f485393ec40>,
 <http.client.HTTPResponse at 0x7f485393ea90>,
 <http.client.HTTPResponse at 0x7f485393ef70>,
 <http.client.HTTPResponse at 0x7f485393ea30>,
 <http.client.HTTPResponse at 0x7f485393e2e0>,
 <http.client.HTTPResponse at 0x7f4853d17dc0>,
 <http.client.HTTPResponse at 0x7f485393ee50>,
 <http.client.HTTPResponse at 0x7f485393ed30>,
 <http.client.HTTPResponse at 0x7f485393eaf0>,
 <http.client.HTTPResponse at 0x7f485393ef10>,
 <http.client.HTTPResponse at 0x7f485393eb50>,
 <http.client.HTTPResponse at 0x7f485393ed00>,
 <http.client.HTTPResponse at 0x7f48535e22b0>,
 <http.client.HTTPResponse at 0x7f48535e2550>,
 <http.client.HTTPResponse at 0x7f48535e26a0>,
 <http.client.HTTPResponse at 0x7f48535e23a0>,
 <http.client.HTTPResponse at 0x7f48535e25b0>,
 <http.client.HTTPResponse at 0x7f48535e21c0>,
 <http.client.HTTPResponse at 0x7f48535e2850>,
 <http.client.HTTPResponse at 0x7f48535e2820>,
 <http.client.HTTPResponse at 0x7f48535e2460>,
 <http.client.HTTPResponse at 0x7f48535e2400>,
 <http.client.HTTPResponse at 0x7f48535e2040>,
 <http.client.HTTPResponse at 0x7f48535e2910>,
 <http.client.HTTPResponse at 0x7f48535e2a30>,
 <http.client.HTTPResponse at 0x7f48535e2c10>,
 <http.client.HTTPResponse at 0x7f48535e2220>,
 <http.client.HTTPResponse at 0x7f48535e2130>,
 <http.client.HTTPResponse at 0x7f48535e2df0>,
 <http.client.HTTPResponse at 0x7f48535e2e80>,
 <http.client.HTTPResponse at 0x7f48535e2a60>,
 <http.client.HTTPResponse at 0x7f48535e2ac0>,
 <http.client.HTTPResponse at 0x7f48535e2ee0>,
 <http.client.HTTPResponse at 0x7f48535e2e50>,
 <http.client.HTTPResponse at 0x7f48535e2f40>,
 <http.client.HTTPResponse at 0x7f48535e2d90>,
 <http.client.HTTPResponse at 0x7f48535e2fd0>,
 <http.client.HTTPResponse at 0x7f485393ee20>,
 <http.client.HTTPResponse at 0x7f48535e2730>,
 <http.client.HTTPResponse at 0x7f485321c3a0>,
 <http.client.HTTPResponse at 0x7f48535e25e0>,
 <http.client.HTTPResponse at 0x7f48535e2d30>,
 <http.client.HTTPResponse at 0x7f485321c280>,
 <http.client.HTTPResponse at 0x7f485321c040>]

## Populating the Table with Executives

In [9]:
# Use lxml.etree.HTML(...) on the HTML content of each page to get a DOM tree that
# can be processed via XPath to extract the bday information.  Store the CEO name, 
# webpage, and the birthdate (born) in exec_df.

# We first check that the HTML content has a table of type `vcard`,
# and then extract the `bday` information.  If there is no birthdate, the datetime 
# value is NaT (not a type). 

from lxml import etree

exec_df = pd.DataFrame(columns=['name','page','born'])

for page in pages:    
    tree = etree.HTML(page.read().decode("utf-8"))  #create a DOM tree of the page
    url = page.geturl()
    bday = tree.xpath('//table[contains(@class,"vcard")]//span[@class="bday"]/text()')
    if len(bday) > 0:
        name = url[url.rfind('/')+1:] # The part of the URL after the last /
        exec_df = exec_df.append({'name': name, 'page': url,
                   'born': datetime.datetime.strptime(bday[0], '%Y-%m-%d')}, ignore_index=True)
    else: 
            exec_df = exec_df.append({'name': url[url.rfind('/')+1:], 'page': url
                                      , 'born': None}, ignore_index=True)
        
exec_df

,name,page,born
0,Julie_Sweet,https://en.wikipedia.org/wiki/Julie_Sweet,NaT
1,Kumar_Mangalam_Birla,https://en.wikipedia.org/wiki/Kumar_Mangalam_Birla,1967-06-14 00:00:00
2,Shantanu_Narayen,https://en.wikipedia.org/wiki/Shantanu_Narayen,1963-05-27 00:00:00
3,Garo_H._Armen,https://en.wikipedia.org/wiki/Garo_H._Armen,1953-01-31 00:00:00
4,Guillaume_Faury,https://en.wikipedia.org/wiki/Guillaume_Faury,1968-02-22 00:00:00
...,...,...,...
169,Laura_J._Alber,https://en.wikipedia.org/wiki/Laura_J._Alber,None
170,Stephanie_McMahon,https://en.wikipedia.org/wiki/Stephanie_McMahon,1976-09-24 00:00:00
171,Greg_Creed,https://en.wikipedia.org/wiki/Greg_Creed,None
172,Rich_Barton,https://en.wikipedia.org/wiki/Rich_Barton,None
173,Eric_Yuan,https://en.wikipedia.org/wiki/Eric_Yuan,1970-02-20 00:00:00



Generally, we can extract one "narrower" table form another by using **double brackets**.

In [10]:
# Let's take a look at the data.  Here's a way of PROJECTING the exec_df dataframe into
# a smaller table

exec_df[['name', 'born']]

                     name                 born
0             Julie_Sweet                  NaT
1    Kumar_Mangalam_Birla  1967-06-14 00:00:00
2        Shantanu_Narayen  1963-05-27 00:00:00
3           Garo_H._Armen  1953-01-31 00:00:00
4         Guillaume_Faury  1968-02-22 00:00:00
..                    ...                  ...
169        Laura_J._Alber                 None
170     Stephanie_McMahon  1976-09-24 00:00:00
171            Greg_Creed                 None
172           Rich_Barton                 None
173             Eric_Yuan  1970-02-20 00:00:00

[174 rows x 2 columns]

In [11]:
# If I use single brackets, I can extract a single column as a Series.
execNames = exec_df['name']

**Task:** Using a for loop, Print the name of each person from the exec_df dataframe

In [18]:
cleanNames = []

for i in execNames:
    cleanNames.append(i.replace("_", " ").replace("%", ""))

print(cleanNames)

['Julie Sweet', 'Kumar Mangalam Birla', 'Shantanu Narayen', 'Garo H. Armen', 'Guillaume Faury', 'Daniel Zhang', 'Andy Jassy', 'Lisa Su', 'Stephen Squeri', 'Joseph R. Swedish', 'Tim Cook', 'Lakshmi Niwas Mittal', 'John Stankey', 'Charles Woodburn', 'Tapan Singhel', 'Carlos Torres Vila', 'Brian Moynihan', 'Jes Staley', 'Warren Buffett', 'Hubert Joly', 'Sunil Bharti Mittal', 'Stephen A. Schwarzman', 'Andrew Mackenzie', 'Oliver Zipse', 'Dave Calhoun', 'Rich Lesser', 'Bob Dudley', 'Denise Morrison', 'Mark Shuttleworth', 'Richard Fairbank', 'Jim Umpleby', 'Evan Greenberg', 'Chuck Robbins', 'Jane Fraser', 'James Quincey', 'Brian Humphries', 'Brian L. Roberts', 'Thomas Gottstein', 'Ola KC3A4llenius', 'Michael Dell', 'Ed Bastian', 'Christian Sewing', 'Frank Appel', 'Roland Dickey Jr.', 'Edward D. Breen', 'G. V. Prasad', 'Devin Wenig', 'Andrew Wilson', 'BC3B6rje Ekholm', 'Darren Woods', 'Lisa S. Jones', 'Carmine Di Sibio', 'Mark Zuckerberg', 'Frederick W. Smith', 'Rihanna', 'Sergio Marchionne', 'Abigail Johnson', 'James Michael Lafferty', 'James Hackett', 'Terry Gou', 'Lachlan Murdoch', 'Daymond John', 'Phebe Novakovic', 'H. Lawrence Culp Jr.', 'Mary T. Barra', 'Emma Walmsley', 'David M. Solomon', 'Sundar Pichai', 'Felipe Gozon', 'Gunupati Venkata Krishna Reddy', 'C Vijayakumar', 'Lee Shau Kee', 'Antonio Neri', 'Darius Adamczyk', 'John A. Kaneb', 'Noel Quinn', 'Arvind Krishna', 'Dikesh Malhotra', 'Salil Parekh', 'Pat Gelsinger', 'Millard Drexler', 'Richard B. Handler', 'James Dimon', 'Andrew S. Rosen', 'Pieter Elbers', 'Charles G. Koch', 'Jeff Clarke', 'Robert Noel', 'Robert Goldstein', 'Marillyn Hewson', 'Steve Rowe', 'Chris Kempczinski', 'Kevin Sneader', 'Jonathan Ornstein', 'Steven A. Kandarian', 'Isaac Larian', 'Satya Nadella', 'Michael J. Saylor', 'James P. Gorman', 'Toxey Haas', 'Chris Beard', 'Jeff Shell', 'Robert James Thomson', 'Mark Thompson', 'Mark Parker', 'Pekka Lundmark', 'Vasant Narasimhan', 'Tatsumi Kimishima', 'Tim Armstrong', 'Safra Catz', 'Mark Hurd', 'Ramon Laguarta', 'Albert Bourla', 'Patrice Louvet', 'David S. Taylor', 'John Strangfeld', 'Alan Joyce', 'Anil Ambani', 'Mukesh Ambani', 'Luca de Meo', 'Phiwa Nkambule', 'David I. McKay', 'Ross McEwan', 'Ben van Beurden', 'Michael O27Leary', 'Douglas L. Peterson', 'Herbert Fisk Johnson III', 'Brian Peddle', 'Oh-Hyun Kwon', 'Christian Klein', 'James Goodnight', 'Jean-Pascal Tricoire', 'David Simon', 'Chua Sock Koong', 'Masayoshi Son', 'Tony Aquila', 'Gary C. Kelly', 'J. Clifford Hudson', 'Kevin Johnson', 'Raymond Kwok', 'Dilip Shanghvi', 'William H. Rogers Jr.', 'Rakesh Khanna', 'Brian Cornell', 'Rajesh Gopinathan', 'Li Dongsheng', 'Andy Penn', 'Ho Ching', 'Dave Lewis', 'Elon Musk', 'Alan D. Schnitzer', 'Akio Toyoda', 'Bill Stromberg', 'Parag Agrawal', 'Scott Kirby', 'Ralph Hamers', 'Joseph C. Papa', 'Hans Vestberg', 'Robert Bakish', 'Vittorio Colao', 'Herbert Diess', 'Bill Hilf', 'Bob Chapek', 'Stefano Pessina', 'Doug McMillon', 'Ann Sarnoff', 'Jason Kilar', 'Charles Scharf', 'John Mackey', 'Laura J. Alber', 'Stephanie McMahon', 'Greg Creed', 'Rich Barton', 'Eric Yuan']