# Join Optimization 
## LinkedIn Social Analysis

Our second module explores concepts in:

* Designing data representations to capture important relationships
* Reasoning over graphs
* Exploring and traversing graphs
* Performance implications of design choices
* Techniques for indexing, parallelism, and sequence

It sets the stage for Module 3, which focuses on cloud/cluster-compute data processing.

### Preliminaries

We'll use MongoDB on the cloud as a sample NoSQL database

In [5]:
!pip3 install pymongo[tls,srv]
!pip3 install swifter
!pip3 install lxml
!pip install googledrivedownloader

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo[srv,tls] in /usr/local/lib/python3.8/dist-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from pymongo[srv,tls]) (2.2.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting swifter
  Downloading swifter-1.3.4.tar.gz (830 kB)
     |████████████████████████████████| 830 kB 35.1 MB/s
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from swifter) (1.3.5)
Collecting psutil>=5.6.6
  Downloading psutil-5.9.4-cp36-abi3-manylinux_2_12_x86_64.manylinux2010_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (280 kB)
     |████████████████████████████████| 280 kB 97.6 MB/s
Requirement already satisfied: dask[dataframe]>=2.10.0 in /usr/local/lib/python3.8/dist-packages (from swifter) (2022.2.1)
Requirement already satisfied: tqdm>=4.33.0 in /usr/local/lib/python3.8/dist-packages (from swifter) (4.64.1)
Requirement already satisfied: ipywidgets>=7.0.0 in /usr/local/lib/python3.8/dist-packages (from swifter) (7.7.1)
Requirement already satisfied: cloudpickle>=0.2.2 in /usr/local/lib/python3.8/dist-packages (from swifter) (1.5.0)
Requirement already satisfied: parso>0.4.0 in /usr/local/lib/python3.8/dist-packages (from swifter) (0.8.3)
Requirement already satisfied: bleach>=3.1.1 in /usr/local/lib/python3.8/dist-packages (from swifter) (5.0.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from bleach>=3.1.1->swifter) (0.5.1)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.8/dist-packages (from bleach>=3.1.1->swifter) (1.15.0)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.8/dist-packages (from dask[dataframe]>=2.10.0->swifter) (0.12.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from dask[dataframe]>=2.10.0->swifter) (21.3)
Requirement already satisfied: pyyaml>=5.3.1 in /usr/local/lib/python3.8/dist-packages (from dask[dataframe]>=2.10.0->swifter) (6.0)
Requirement already satisfied: partd>=0.3.10 in /usr/local/lib/python3.8/dist-packages (from dask[dataframe]>=2.10.0->swifter) (1.3.0)
Requirement already satisfied: fsspec>=0.6.0 in /usr/local/lib/python3.8/dist-packages (from dask[dataframe]>=2.10.0->swifter) (2022.11.0)
Requirement already satisfied: numpy>=1.18 in /usr/local/lib/python3.8/dist-packages (from dask[dataframe]>=2.10.0->swifter) (1.21.6)
Requirement already satisfied: traitlets>=4.3.1 in /usr/local/lib/python3.8/dist-packages (from ipywidgets>=7.0.0->swifter) (5.7.1)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.8/dist-packages (from ipywidgets>=7.0.0->swifter) (5.3.4)
Requirement already satisfied: ipython>=4.0.0 in /usr/local/lib/python3.8/dist-packages (from ipywidgets>=7.0.0->swifter) (7.9.0)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.8/dist-packages (from ipywidgets>=7.0.0->swifter) (3.6.1)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.8/dist-packages (from ipywidgets>=7.0.0->swifter) (0.2.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from ipywidgets>=7.0.0->swifter) (3.0.4)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.8/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->swifter) (6.1.12)
Requirement already satisfied: tornado>=4.2 in /usr/local/lib/python3.8/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->swifter) (6.0.4)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->swifter) (2.0.10)
Requirement already satisfied: decorator in /usr/local/lib/python3.8/dist-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->swifter) (4.4.2)
Requirement already satisfied: pexpect in /usr/local/lib/python3.8/dist-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->swifter) (4.8.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.8/dist-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->swifter) (0.2.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.8/dist-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->swifter) (0.7.5)
Requirement already satisfied: pygments in /usr/local/lib/python3.8/dist-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->swifter) (2.6.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.8/dist-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->swifter) (57.4.0)
Collecting jedi>=0.10
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 50.0 MB/s
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging>=20.0->dask[dataframe]>=2.10.0->swifter) (3.0.9)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.0->swifter) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.0->swifter) (2.8.2)
Requirement already satisfied: locket in /usr/local/lib/python3.8/dist-packages (from partd>=0.3.10->dask[dataframe]>=2.10.0->swifter) (1.0.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.8/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=4.0.0->ipywidgets>=7.0.0->swifter) (0.2.5)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.8/dist-packages (from widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->swifter) (5.7.16)
Requirement already satisfied: jinja2<=3.0.0 in /usr/local/lib/python3.8/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->swifter) (2.11.3)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.8/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->swifter) (1.8.0)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.8/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->swifter) (0.15.0)
Requirement already satisfied: pyzmq>=17 in /usr/local/lib/python3.8/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->swifter) (23.2.1)
Requirement already satisfied: nbformat in /usr/local/lib/python3.8/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->swifter) (5.7.0)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.8/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->swifter) (0.13.3)
Requirement already satisfied: jupyter-core>=4.4.0 in /usr/local/lib/python3.8/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->swifter) (5.1.0)
Requirement already satisfied: nbconvert<6.0 in /usr/local/lib/python3.8/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->swifter) (5.6.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from jinja2<=3.0.0->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->swifter) (2.0.1)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.8/dist-packages (from jupyter-core>=4.4.0->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->swifter) (2.6.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.8/dist-packages (from nbconvert<6.0->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->swifter) (0.8.4)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.8/dist-packages (from nbconvert<6.0->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->swifter) (0.7.1)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.8/dist-packages (from nbconvert<6.0->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->swifter) (1.5.0)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.8/dist-packages (from nbconvert<6.0->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->swifter) (0.4)
Requirement already satisfied: testpath in /usr/local/lib/python3.8/dist-packages (from nbconvert<6.0->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->swifter) (0.6.0)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.8/dist-packages (from nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->swifter) (2.16.2)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.8/dist-packages (from nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->swifter) (4.3.3)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema>=2.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->swifter) (0.19.2)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema>=2.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->swifter) (5.10.1)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema>=2.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->swifter) (22.1.0)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.8/dist-packages (from importlib-resources>=1.4.0->jsonschema>=2.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->swifter) (3.11.0)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.8/dist-packages (from terminado>=0.8.1->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->swifter) (0.7.0)
Building wheels for collected packages: swifter
  Building wheel for swifter (setup.py) ... done
  Created wheel for swifter: filename=swifter-1.3.4-py3-none-any.whl size=16321 sha256=edd13be78a54a1ff7558a80909f3424f21a09cbdebd51af540352021dd255607
  Stored in directory: /root/.cache/pip/wheels/08/66/b4/921e351e63d88696932279d6163e125727c9da70ed8ca38419
Successfully built swifter
Installing collected packages: jedi, psutil, swifter
  Attempting uninstall: psutil
    Found existing installation: psutil 5.4.8
    Uninstalling psutil-5.4.8:
      Successfully uninstalled psutil-5.4.8
Successfully installed jedi-0.18.2 psutil-5.9.4 swifter-1.3.4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (4.9.2)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: googledrivedownloader in /usr/local/lib/python3.8/dist-packages (0.4)

In [6]:
import pandas as pd
import numpy as np

# JSON parsing
import json

# HTML parsing
from lxml import etree
import urllib

# SQLite RDBMS
import sqlite3

# Time conversions
import time

# Parallel processing
import swifter

# NoSQL DB
from pymongo import MongoClient
from pymongo.errors import DuplicateKeyError, OperationFailure

## Our Example Dataset

A crawl of LinkedIn, stored as a sequence of JSON objects (one per line).  Here's a scan through the sample dataset, taken from Kaggle (https://www.kaggle.com/linkedindata/linkedin-crawled-profiles-dataset).

In [2]:
from google_drive_downloader import GoogleDriveDownloader as gdd

gdd.download_file_from_google_drive(file_id='1xdy8M9JBAXxhGMovvK20wj8-UYTFsqdX',
                                    dest_path='/content/linkedin_small.json')

Downloading 1xdy8M9JBAXxhGMovvK20wj8-UYTFsqdX into /content/linkedin_small.json... Done.

In [7]:
%%time
# 100K records from linkedin
linked_in = open('/content/linkedin_small.json')
    
people = []

for line in linked_in:
    person = json.loads(line)
    people.append(person)
    
people_df = pd.DataFrame(people)
print ("%d records"%len(people_df))

people_df

10000 records
CPU times: user 656 ms, sys: 116 ms, total: 772 ms
Wall time: 733 ms

,_id,name,locality,skills,industry,summary,url,also_view,education,group,overview_html,interval,experience,specilities,events,interests,homepage,honors
0,in-00000001,"{'family_name': 'Mazalu MBA', 'given_name': 'D...",United States,"[Key Account Development, Strategic Planning, ...",Medical Devices,SALES MANAGEMENT / BUSINESS DEVELOPMENT / PROJ...,http://www.linkedin.com/in/00000001,[{'url': 'http://www.linkedin.com/pub/krisa-dr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,in-00001,"{'family_name': 'Forslund', 'given_name': 'Ann'}","Antwerp Area, Belgium","[Molecular Biology, Biomarkers]",Pharmaceuticals,Ph.D. scientist with background in cancer rese...,http://be.linkedin.com/in/00001,[{'url': 'http://www.linkedin.com/pub/peter-ki...,"[{'start': '2008', 'major': 'Economics', 'end'...","{'affilition': ['ASMALLWORLD.net', 'Biomarker ...","<dl id=""overview""><dt id=""overview-summary-cur...",20.0,"[{'org': 'Johnson and Johnson', 'title': 'Seni...","Biomarkers in Oncology, Cancer Genomics, Molec...","[{'from': 'Sahlgrenska University Hospital', '...",NaN,NaN,NaN
2,in-00006,"{'family_name': 'Douglas', 'given_name': 'Shawn'}","San Francisco, California","[DNA, Nanotechnology, Molecular Biology, Softw...",Research,I am interested in inventing new methods to co...,http://www.linkedin.com/in/00006,[{'url': 'http://www.linkedin.com/pub/george-c...,"[{'major': 'Biophysics', 'end': '2009', 'name'...",NaN,"<dl id=""overview""><dt id=""overview-summary-cur...",0.0,"[{'org': 'UCSF', 'title': 'Assistant Professor...",NaN,[{'from': 'Wyss Institute for Biologically Ins...,"personal genomics, nanotechnology","{'BIOMOD': ['http://biomod.net/'], 'Company We...",NaN
3,in-000montgomery,"{'family_name': 'Kilimann', 'given_name': 'Edr...",San Francisco Bay Area,NaN,Information Technology and Services,OBJECTIVE<Primary> Work on an interesting and ...,http://www.linkedin.com/in/000montgomery,[{'url': 'http://www.linkedin.com/pub/david-br...,NaN,"{'affilition': ['Big Data, Low Latency', 'Expe...",NaN,5.0,"[{'org': '<Online Recruiting Company>', 'desc'...",NaN,"[{'from': '<Employee Benefits, Administration ...",NaN,NaN,NaN
4,in-000vijaychauhan,"{'family_name': 'Chauhan, PMP', 'given_name': ...","Chennai Area, India","[Program Management, French, Avionics, Embedde...",Aviation & Aerospace,"Experience in Avionics Systems, Embedded Syste...",http://in.linkedin.com/in/000vijaychauhan,[{'url': 'http://in.linkedin.com/in/sandeeprag...,"[{'start': '1988', 'end': '1989', 'name': 'Eco...",{'member': 'Member of Project Management Insti...,NaN,NaN,NaN,NaN,NaN,"Literature, Philosophy, Music",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,in-albertocarimati,"{'family_name': 'Carimati', 'given_name': 'Alb...",Singapore,NaN,Chemicals,Site manager for a chemical MC with extensive ...,http://sg.linkedin.com/in/albertocarimati,[{'url': 'http://sg.linkedin.com/pub/peter-kon...,"[{'major': 'Applied Finance', 'end': '2007', '...","{'affilition': ['COMPANY PHARMA TALENT', 'Chem...",NaN,22.0,"[{'org': 'Perstorp Singapore Pte Ltd', 'title'...","Operations, Production chemical petrochemical,...",[{'from': 'Stazione Sperimentale per I Combust...,NaN,NaN,NaN
9996,in-albertocarrasco,"{'family_name': 'Carrasco', 'given_name': 'Alb...","Sevilla y alrededores, España","[Automotive, Marketing Strategy, Product Manag...",Sector automovilístico,NaN,http://es.linkedin.com/in/albertocarrasco,[{'url': 'http://es.linkedin.com/pub/raÃºl-amb...,[{'name': 'Licenciado en Marketing e investiga...,NaN,NaN,9.0,"[{'org': 'Glassdrive España', 'title': 'Direct...",NaN,"[{'from': 'Saint-Gobain Glassdrive España', 't...",NaN,NaN,NaN
9997,in-albertocarreroderoa,"{'family_name': 'Carrero de Roa', 'given_name'...","Gijón y alrededores, España","[Intranet, Spanish, Personnel Management, Inte...",Minería y metalurgia,"In my current position, I've faced two key cha...",http://es.linkedin.com/in/albertocarreroderoa,[{'url': 'http://es.linkedin.com/pub/juan-josÃ...,"[{'major': 'HR Management', 'end': '2001', 'na...","{'affilition': ['ArcelorMittal Group', 'Basket...",NaN,19.0,"[{'org': 'ArcelorMittal', 'title': 'Head of In...",NaN,"[{'from': 'Secades, Lozano y Tejon', 'to': 'Pr...",NaN,NaN,NaN
9998,in-albertocastellano,"{'family_name': 'Castellano', 'given_name': 'A...","Nice Area, France","[Amadeus, Project Coordination, Project Manage...",Technologies et services de l'information,NaN,http://fr.linkedin.com/in/albertocastellano,[],[{'major': 'Computer science and telecommunica...,NaN,NaN,0.0,"[{'org': 'Amadeus IT Group', 'title': 'Impleme...",NaN,"[{'from': 'Vodafone IT', 'to': 'Reply', 'title...",NaN,NaN,NaN
9999,in-albertocesani,"{'family_name': 'Cesani', 'given_name': 'Alber...","Milan Area, Italy",NaN,Intrattenimento,NaN,http://it.linkedin.com/in/albertocesani,[{'url': 'http://it.linkedin.com/pub/fulvio-om...,"[{'start': '1985', 'major': 'Economia Politica...",NaN,NaN,15.0,"[{'org': 'Namco Bandai Partners', 'end': 'Pres...",managed employes,"[{'from': 'Koch Media srl', 'to': 'Atari Games...",NaN,NaN,NaN

## NoSQL storage

For this part we will give you read-only access to our copy of MongoDB.  To do it yourself, please sign up at:

https://www.mongodb.com/cloud

Click on "Get started", sign up, agree to terms of service, and create a new cluster on AWS free tier (Northern Virginia).

Eventually you'll need to tell MongoDB to add your IP address (so you can talk to the machine) and you'll need to create a database called 'linkedin'.

In [8]:
# Store in MongoDB and in an in-memory list

START = 0
# We already have the data loaded into MongoDB, so we won't actually
# read all 37000 records.  We'll test by reading + writing the first
# 37 though!
LIMIT = 37  #000

#client = MongoClient('mongodb+srv://cis545:1course4all@cluster0-cy1yu.mongodb.net/test?retryWrites=true&w=majority')

#linkedin_db = client['linkedin']
linked_in = open('/content/linkedin_small.json')

# Build a list of the JSON elements
list_for_comparison = []

people = 0
for line in linked_in:
    person = json.loads(line)
    if people >= START:
        try:
            list_for_comparison.append(person)
            #linkedin_db.posts.insert_one(person)
        except DuplicateKeyError:
            pass
        except OperationFailure:
            # If the above still uses our cluster, you'll get this error in
            # attempting to write to our MongoDB client
            pass
    people = people + 1
    if people > LIMIT:
        break

In [10]:
# Two ways of looking up skills, one based on an in-memory
# list, one based on MongoDB queries

def find_skills_in_list(skill):
    for post in list_for_comparison:
        if 'skills' in post:
            skills = post['skills']
            for this_skill in skills:
                if this_skill == skill:
                    return post
    return None

def find_skills_in_mongodb(skill):
    return linkedin_db.posts.find_one({'skills': skill})

In [11]:
%%time
find_skills_in_list('Marketing')

CPU times: user 31 µs, sys: 0 ns, total: 31 µs
Wall time: 33.4 µs

{'_id': 'in-01011985',
 'education': [{'major': 'Quality Assurance Management',
   'end': '2004',
   'name': 'Annamalai University',
   'degree': 'M.Pharmacy',
   'start': '2002',
   'desc': ''},
  {'start': '2002',
   'end': '2004',
   'name': 'M.B.A',
   'degree': 'PONDICHERRY UNIVERSITY, SCHOOL OF MANAGEMENT',
   'desc': ''},
  {'name': 'PONDICHERRY UNIVERSITY, SCHOOL OF MANAGEMENT', 'desc': ''}],
 'group': {'affilition': ['Annamalai University Alumni',
   'Annamalai University Pharmacy Alumni',
   'Asia-Pacific Pharmaceutical Industry Professionals',
   'Colombia Networking (10,000+)',
   'EXCLUSIVE BUSINESS GLOBAL PHARMA CLUB',
   'Emerging Markets Information Service (EMIS) - ISI Emerging Markets',
   'Executive Search Saudi Arabia',
   'Generic Pharma',
   'HAITI CONNECTION',
   'In & Out Licensing Managers at Pharmaceuticals',
   'International Business Development Leaders',
   'Job Openings, Job Leads and Job Connections!',
   'LATAM Business',
   'Laos Professionals',
   'National Society for Histotechnology',
   'Net Pharma Latin America and Caribbean',
   'Nutritional supplements and Herbal extracts Mktg Group',
   'Papua New Guinea professionals',
   'PharmAsia',
   'Pharma BD Professionals',
   'Pharma Connections Worldwide',
   'Pharmaceutical Import Export ROW Market',
   'Pharmaceutical Jobs Biotech Life Sciences & Medical Devices',
   'Positive Thoughts',
   'Professional Healthcare Marketers',
   'Quality-by-Design',
   'Rx&D - Biopharmaceutical, Pharmaceutical and Biotechnology Research and Development',
   'Six Sigma for Business',
   'TURKISH BUSINESS NETWORK',
   'iSixSigma Network']},
 'name': {'family_name': 'Subramanian', 'given_name': 'Lakshman'},
 'locality': 'Hyderabad Area, India',
 'skills': ['Microbiology',
  'Vaccines',
  'International Sales',
  'Market Intelligence',
  'International Business Development',
  'Microsoft Excel',
  'Strategic Thinking',
  'Strategy',
  'PowerPoint',
  'Market Access',
  'Immunohistochemistry',
  'Marketing',
  'Operations Management',
  'Business Development',
  'Pharmaceutical Industry',
  'Six Sigma',
  'DMAIC',
  'Green Belt'],
 'industry': 'Biotechnology',
 'interval': 0,
 'experience': [{'org': 'BioGenex',
   'title': 'Senior Manager -IBD',
   'end': 'Present',
   'start': 'September 2012'}],
 'summary': '•Having 12 Yrs of Experience in Marketing & International Business Development in Pharmaceutical sector.•Experienced in managing operations in large business area, formulating and implementing strategies, developing new markets for business excellence.•Adept at developing the distribution network infrastructure and channel management.•Proven track record acquiring product registrations for several products in ASEAN Region.•An effective communicator with abilities in implementing various sales promotional activities and escalating business turnovers during carrier span.•Excellent logical, Analytical skills and an articulate with very good communication skills.•In the total experience profile, managed and achieved targets in the segments of Cardiovascular, Respiratory care, Antibiotics, Multivitamins,Neutracuticals and wide range OTC products.•Traveled extensively in the above mentioned countries to explore the markets and taken in-depth market survey to identify the distributor with a good margin which is profitable for the company.•Wide experience across emerging markets of Asia, Latam countries . From business start ups to sustainable business with adaptability to different cultures and markets, successfully led change management.•Experience in business feasibility, business planning, entry strategy, right product selection and portfolio development.•Set up overseas office with minimum guidance, operations management, problem solving, crisis management.•5 years overseas stay and travel to different countries gave a very good exposure and confidence to do business and deal people overseas.•Product identification,ideation, launch plan, successful launches and making Mega Brands, Portfolio Management, KoL identification, CRM, Key Account Management.•Exposure to many segments of pharmaceutical business, Passion for International Marketing, Business Development.Achieved targets with innovative idea',
 'url': 'http://in.linkedin.com/in/01011985',
 'also_view': [{'url': 'http://in.linkedin.com/pub/murli-shukla/13/b68/27a',
   'id': 'pub-murli-shukla-13-b68-27a'},
  {'url': 'http://in.linkedin.com/pub/sumeet-mehta/20/18/736',
   'id': 'pub-sumeet-mehta-20-18-736'},
  {'url': 'http://ke.linkedin.com/pub/killol-bhatt/5/2ab/96',
   'id': 'pub-killol-bhatt-5-2ab-96'},
  {'url': 'http://in.linkedin.com/pub/vijay-javiya/16/239/70b',
   'id': 'pub-vijay-javiya-16-239-70b'},
  {'url': 'http://in.linkedin.com/in/skdash1969', 'id': 'in-skdash1969'},
  {'url': 'http://in.linkedin.com/in/umarshervani', 'id': 'in-umarshervani'},
  {'url': 'http://in.linkedin.com/in/mehtanilesh', 'id': 'in-mehtanilesh'},
  {'url': 'http://in.linkedin.com/pub/amit-dwivedi/a/3a3/968',
   'id': 'pub-amit-dwivedi-a-3a3-968'},
  {'url': 'http://in.linkedin.com/pub/pritesh-patel/12/604/a23',
   'id': 'pub-pritesh-patel-12-604-a23'},
  {'url': 'http://in.linkedin.com/pub/moumita-chakraborty/13/538/52',
   'id': 'pub-moumita-chakraborty-13-538-52'}],
 'specilities': 'Marketing , Operations Management , P&L Head, Business Development.',
 'events': []}

## Designing a relational schema from hierarchical data

Given that we already have a predefined set of fields / attributes / features, we don't need to spend a lot of time defining our table *schemas*, except that we need to unnest data.

* Nested relationships can be captured by creating a second table, which has a **foreign key** pointing to the identifier (key) for the main (parent) table.
* Ordered lists can be captured by encoding an index number or row number.

In [13]:
'''
Simple code to pull out data from JSON and load into sqllite
'''
linked_in = open('/content/linkedin_small.json')

START = 0
LIMIT = 10000

def get_df(rel):
    ret = pd.DataFrame(rel).fillna('')
    for k in ret.keys():
        ret[k] = ret[k].astype(str)
    return ret

def extract_relation(rel, name):
    '''
    Pull out a nested list that has a key, and return it as a list
    of dictionaries suitable for treating as a relation / dataframe
    '''
    # We'll return a list
    ret  = []
    if name in rel:
        ret2 = rel.pop(name)
        try:
            # Try to parse the string as a dictionary
            ret2 = json.loads(ret2.replace('\'','\"'))
        except:
            # If we get an error in parsing, we'll leave as a string
            pass
        
        # If it's a dictionary, add it to our return results after
        # adding a key to the parent
        if isinstance(ret2, dict):
            item = ret2
            item['person'] = rel['_id']
            ret.append(item)
        else:
            # If it's a list, iterate over each item
            index = 0
            for r in ret2:
                item = r
                if not isinstance(item, dict):
                    item = {'person': rel['_id'], 'value': item}
                else:
                    item['person'] = rel['_id']
                    
                # A fix to a typo in the data
                if 'affilition' in item:
                    item['affiliation'] = item.pop('affilition')
                    
                item['pos'] = index
                index = index + 1
                ret.append(item)
    return ret
    

names = []
people = []
groups = []
education = []
skills = []
experience = []
honors = []
also_view = []
events = []


conn = sqlite3.connect('linkedin.db')

lines = []
i = 1
for line in linked_in:
    if i > START + LIMIT:
        break
    elif i >= START:
        person = json.loads(line)

        # By inspection, all of these are nested dictionary or list content
        nam = extract_relation(person, 'name')
        edu = extract_relation(person, 'education')
        grp = extract_relation(person, 'group')
        skl = extract_relation(person, 'skills')
        exp  = extract_relation(person, 'experience')
        hon = extract_relation(person, 'honors')
        als = extract_relation(person, 'also_view')
        eve = extract_relation(person, 'events')
        
        # This doesn't seem relevant and it's the only
        # non-string field that's sometimes null
        if 'interval' in person:
            person.pop('interval')
        
        lines.append(person)
        names = names + nam
        education = education + edu
        groups  = groups + grp
        skills = skills + skl
        experience = experience + exp
        honors = honors + hon
        also_view = also_view + als
        events = events + eve
        
    i = i + 1

people_df = get_df(pd.DataFrame(lines))
names_df = get_df(pd.DataFrame(names))
education_df = get_df(pd.DataFrame(education))
groups_df = get_df(pd.DataFrame(groups))
skills_df = get_df(pd.DataFrame(skills))
experience_df = get_df(pd.DataFrame(experience))
honors_df = get_df(pd.DataFrame(honors))
also_view_df = get_df(pd.DataFrame(also_view))
events_df = get_df(pd.DataFrame(events))

In [14]:
# Save these to the SQLite database

people_df.to_sql('people', conn, if_exists='replace', index=False)
names_df.to_sql('names', conn, if_exists='replace', index=False)
education_df.to_sql('education', conn, if_exists='replace', index=False)
groups_df.to_sql('groups', conn, if_exists='replace', index=False)
skills_df.to_sql('skills', conn, if_exists='replace', index=False)
experience_df.to_sql('experience', conn, if_exists='replace', index=False)
honors_df.to_sql('honors', conn, if_exists='replace', index=False)
also_view_df.to_sql('also_view', conn, if_exists='replace', index=False)
events_df.to_sql('events', conn, if_exists='replace', index=False)

In [15]:
groups_df

,affilition,person,member
0,"['ASMALLWORLD.net', 'Biomarker Research & Exec...",in-00001,
1,"['Big Data, Low Latency', ""Experts Answer's"", ...",in-000montgomery,
2,"['AeSI Alumni Association', 'Aircraft Electron...",in-000vijaychauhan,"Member of Project Management Institute, Life M..."
3,"['Canadian Marketing Association', 'LeadingLoy...",in-001monica,
4,"['CFA Institute Candidates', 'Economist Intell...",in-00789123,Associate Member of SAMRA
...,...,...,...
6331,"['EADA Alumni', 'Entrepreneurs Network Barcelo...",in-albertocanasrojas,EADA Alumni
6332,"['CUDA Developers', 'CUDA Users Group', 'Data ...",in-albertocanorojas,
6333,"['Sony Ericsson Global', 'WE LOVE ADVERTISING'...",in-albertocarcedo,
6334,"['COMPANY PHARMA TALENT', 'Chemical / O&G Oppo...",in-albertocarimati,
6335,"['ArcelorMittal Group', 'Basket and Talent', '...",in-albertocarreroderoa,

In [16]:
pd.read_sql_query('select _id, org from people join experience on _id=person', conn)

                        _id                                     org
0                  in-00001          Albert Einstein Medical Center
1                  in-00001                     Columbia University
2                  in-00001                     Johnson and Johnson
3                  in-00001  Memorial Sloan Kettering Cancer Center
4                  in-00001         Sahlgrenska University Hospital
...                     ...                                     ...
46106  in-albertocastellano                                   Reply
46107  in-albertocastellano                             Vodafone IT
46108      in-albertocesani                             Atari Games
46109      in-albertocesani                          Koch Media srl
46110      in-albertocesani                   Namco Bandai Partners

[46111 rows x 2 columns]

In [17]:
pd.read_sql_query("select _id, group_concat(org) as experience " +\
                  " from people left join experience on _id=person group by _id", conn)

,_id,experience
0,in-00000001,None
1,in-00001,"Albert Einstein Medical Center,Columbia Univer..."
2,in-00006,"UCSF,Wyss Institute for Biologically Inspired ..."
3,in-000montgomery,"000Montgomery.Com,<Advertising Company>,<Adver..."
4,in-000vijaychauhan,None
...,...,...
9995,in-albertocarimati,"BASF,Basf Italia,Lonza Polymer and,Lonza Singa..."
9996,in-albertocarrasco,"Glassdrive España,Saint-Gobain Glassdrive Espa..."
9997,in-albertocarreroderoa,"ArcelorMittal,Corporacion Alimentaria Penasant..."
9998,in-albertocastellano,"Amadeus,Amadeus IT Group,Astek,Reply,Vodafone IT"
9999,in-albertocesani,"Atari Games,Koch Media srl,Namco Bandai Partners"

## Views

The following code starts a transaction (we can either `commit` or `rollback` at the end), removes an existing view, and creates a new one.

In [18]:
conn.execute('begin transaction')
conn.execute('drop view if exists people_experience')
conn.execute("create view people_experience as select _id, group_concat(org) as experience " +\
                  " from people left join experience on _id=person group by _id")
conn.execute('commit')

# Treat the view as a table, see what's there
pd.read_sql_query('select * from people_experience', conn)

,_id,experience
0,in-00000001,None
1,in-00001,"Albert Einstein Medical Center,Columbia Univer..."
2,in-00006,"UCSF,Wyss Institute for Biologically Inspired ..."
3,in-000montgomery,"000Montgomery.Com,<Advertising Company>,<Adver..."
4,in-000vijaychauhan,None
...,...,...
9995,in-albertocarimati,"BASF,Basf Italia,Lonza Polymer and,Lonza Singa..."
9996,in-albertocarrasco,"Glassdrive España,Saint-Gobain Glassdrive Espa..."
9997,in-albertocarreroderoa,"ArcelorMittal,Corporacion Alimentaria Penasant..."
9998,in-albertocastellano,"Amadeus,Amadeus IT Group,Astek,Reply,Vodafone IT"
9999,in-albertocesani,"Atari Games,Koch Media srl,Namco Bandai Partners"

# Big Data Takes a Long Time to Process

Now that we've seen how to do fairly complex queries over data in relations, we'll "pop back" to our big data example, which is the LinkedIn dataset.  Recall that we had a segment of the LinkedIn input file in our previous examples earlier in this module.

In [19]:
%%time
# 100,000 records from linkedin
linked_in = open('/content/linkedin_small.json')

people = []

for line in linked_in:
    person = json.loads(line)
    people.append(person)
    
people_df = pd.DataFrame(people)
people_df[people_df['industry'] == 'Medical Devices']

CPU times: user 861 ms, sys: 162 ms, total: 1.02 s
Wall time: 1.02 s

,_id,name,locality,skills,industry,summary,url,also_view,education,group,overview_html,interval,experience,specilities,events,interests,homepage,honors
0,in-00000001,"{'family_name': 'Mazalu MBA', 'given_name': 'D...",United States,"[Key Account Development, Strategic Planning, ...",Medical Devices,SALES MANAGEMENT / BUSINESS DEVELOPMENT / PROJ...,http://www.linkedin.com/in/00000001,[{'url': 'http://www.linkedin.com/pub/krisa-dr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,in-13806219531,"{'family_name': 'Gao', 'given_name': 'Tony'}",China,"[ISO 13485, Medical Devices]",Medical Devices,NaN,http://cn.linkedin.com/in/13806219531,"[{'url': 'http://cn.linkedin.com/in/jameswz', ...","[{'start': '1998', 'end': '2001', 'name': 'Ton...","{'affilition': ['Beckman Coulter', 'Biomedical...",NaN,0.0,[{'org': 'Beckman Coulter Laboratory Systems S...,NaN,"[{'from': 'Beckman Coulter', 'to': 'Beckman Co...",NaN,NaN,NaN
335,in-1scottsanderson,"{'family_name': 'Sanderson', 'given_name': 'Sc...",Greater Nashville Area,NaN,Medical Devices,"Whether achieving new highs in medical sales, ...",http://www.linkedin.com/in/1scottsanderson,[{'url': 'http://www.linkedin.com/pub/ryan-win...,"[{'start': '1992', 'major': 'Criminal Justice,...",{'member': 'National Football League Players A...,NaN,32.0,"[{'org': 'Intuitive Surgical', 'title': 'Clini...","Customer Service, Sales Growth, Direct Sales, ...","[{'from': 'National Football League', 'to': 'C...",NaN,NaN,"[MERCK & CO., INC:, • Award of Excellence-2009..."
364,in-2008annvu,"{'family_name': 'Vu', 'given_name': 'Ann'}","Rochester, New York Area","[Process Validation, Quality Systems, ISO 1348...",Medical Devices,Change agent and proactive leader that drives ...,http://www.linkedin.com/in/2008annvu,[{'url': 'http://www.linkedin.com/pub/christop...,"[{'start': '2012', 'end': '2012', 'name': 'Smi...","{'member': 'ISPE, ASQ, PDA', 'affilition': ['A...",NaN,45.0,"[{'org': 'Ortho Clinical Diagnostics', 'title'...",NaN,"[{'from': 'Steris', 'to': 'Calgon Vestal', 'ti...",NaN,NaN,"[CQA, CQM, Sr. Member, ASQ]"
467,in-2johnstroh,"{'family_name': 'Stroh', 'given_name': 'John'}","Orange County, California Area","[Licensing, New Business Development, Relation...",Medical Devices,Contact –email: johnstroh@verizon.netmobile: 7...,http://www.linkedin.com/in/2johnstroh,[{'url': 'http://www.linkedin.com/in/kevinmcne...,"[{'start': '1978', 'major': 'Graduate Business...",{'member': 'Council Member OCTANe Biomedical L...,NaN,25.0,"[{'org': 'Nanospectra Biosciences', 'desc': 'A...",NaN,"[{'from': 'AREAS OF INTEREST & EXPERTISE', 'to...","John Stroh – President, CEO, COO, CFO, Directo...",NaN,[Judge of the Business Plan Competition at the...
581,in-4mikeoshea,"{'family_name': 'O'Shea', 'given_name': 'Mike'}","Houston, Texas Area","[Capital Equipment, Diagnostics, Hospitals, Sa...",Medical Devices,Seeking sales position in the medical or diagn...,http://www.linkedin.com/in/4mikeoshea,[{'url': 'http://www.linkedin.com/pub/darryl-r...,"[{'start': '2006', 'major': 'Sales Leadership'...",{'affilition': ['American Association for Clin...,NaN,0.0,"[{'org': 'Roche Diagnostics', 'desc': 'Managed...",Capital Equipment | Medical Devices | Strategi...,[],NaN,NaN,NaN
783,in-aabose,"{'family_name': 'Bose', 'given_name': 'Amit'}","San Ramon, California","[Outsourcing, Product Development, Systems Eng...",Medical Devices,Results driven engineering management professi...,http://www.linkedin.com/in/aabose,[{'url': 'http://www.linkedin.com/in/vinod1111...,"[{'start': '1990', 'end': '1993', 'name': 'Uni...",NaN,NaN,22.0,"[{'org': 'Life Technologies', 'desc': 'Head of...",NaN,"[{'from': 'Medical Graphics Corporation', 'to'...",NaN,NaN,NaN
1008,in-aarisrand,"{'family_name': 'Rand', 'given_name': 'Michael...","Tianjin Suburb, China","[International Project Management, Project Por...",Medical Devices,NaN,http://cn.linkedin.com/in/aarisrand,[{'url': 'http://cn.linkedin.com/pub/kezhou-zh...,"[{'start': '2005', 'major': 'Diploma in Busine...","{'member': 'De Studerendes Erhvervskontakt', '...",NaN,18.0,"[{'org': 'Novo Nordisk', 'desc': 'Responsible ...",NaN,"[{'from': 'Danish Army', 'to': 'Implement', 't...",NaN,NaN,NaN
1063,in-aaronburton,"{'family_name': 'Burton', 'given_name': 'Aaron'}",Dallas/Fort Worth Area,"[Direct Sales, Sales Management, Account Manag...",Medical Devices,NaN,http://www.linkedin.com/in/aaronburton,[{'url': 'http://www.linkedin.com/pub/david-pe...,"[{'name': 'Saint Leo University', 'desc': ''},...",{'affilition': ['Aesthetic Plastic Surgery /Pl...,NaN,0.0,"[{'org': 'Sciton, Inc.', 'end': 'Present', 'st...",NaN,"[{'from': 'LOGIX Communications, LP.', 'to': '...",NaN,NaN,NaN
1279,in-aaronmback,"{'family_name': 'Back', 'given_name': 'Aaron'}",Cincinnati Area,"[Microsoft Dynamics ERP, Great Plains Software...",Medical Devices,Administration of network applications includi...,http://www.linkedin.com/in/aaronmback,[{'url': 'http://www.linkedin.com/pub/rick-sha...,NaN,"{'affilition': ['Angelbeat', 'Dynamics CRM Use...",NaN,48.0,"[{'org': 'AtriCure, Inc.', 'end': 'Present', '...",NaN,"[{'from': 'Planes Companies', 'to': 'Planes Co...",NaN,NaN,NaN
1683,in-abbasbohra,"{'family_name': 'Bohra', 'given_name': 'Abbas'}",Greater Los Angeles Area,NaN,Medical Devices,NaN,http://www.linkedin.com/in/abbasbohra,[{'url': 'http://www.linkedin.com/pub/kirtee-r...,[{'major': 'Medical Devices and Diagnostic Eng...,{'affilition': ['Abbott Laboratories Employees...,NaN,11.0,"[{'org': 'Abbott Medical Optics', 'end': 'Pres...",NaN,"[{'from': 'Biomedicon Systems Pvt. Ltd.', 'to'...",NaN,NaN,NaN
1769,in-abbypratt,"{'family_name': 'Pratt', 'given_name': 'Abby'}",Washington D.C. Metro Area,"[Trade policy, Medical Devices, Pharmaceutical...",Medical Devices,NaN,http://www.linkedin.com/in/abbypratt,[{'url': 'http://www.linkedin.com/pub/joseph-g...,[{'major': 'International Relations and Asian ...,{'affilition': ['Bill & Melinda Gates Foundati...,NaN,25.0,"[{'org': 'AdvaMed', 'end': 'Present', 'start':...",NaN,"[{'from': 'Tokyo Electric Power Company', 'to'...",NaN,NaN,NaN
2013,in-abefadakar,"{'family_name': 'Fadakar', 'given_name': 'Abe'}","San Jose, California","[ISO 13485, Medical Devices, Quality Systems, ...",Medical Devices,10 plus years of experience with increasing re...,http://www.linkedin.com/in/abefadakar,"[{'url': 'http://www.linkedin.com/in/ghallon',...",[{'major': 'Medical Product Development Manage...,"{'affilition': ['21 CFR part 11', 'ASQ Biomedi...",NaN,0.0,"[{'org': 'Bayer Diabetes Care , A1CNow+ Headqu...",Software Quality Engineer/Validation Engineer/...,[],NaN,NaN,NaN
2025,in-abelang,"{'family_name': 'Ang', 'given_name': 'Abel'}",Singapore,"[Medical Technology, Medical Devices]",Medical Devices,NaN,http://sg.linkedin.com/in/abelang,[{'url': 'http://www.linkedin.com/in/philipset...,"[{'name': 'American Society for Quality', 'deg...","{'affilition': ['HBS AMP 183 Community', 'Sing...",NaN,14.0,"[{'org': 'Greatbatch, Inc.', 'desc': 'As Senio...",NaN,"[{'from': 'MIT-Singapore Innovation Grant', 't...",NaN,NaN,NaN
2274,in-abhilashchakraverty,"{'family_name': 'Chakraverty', 'given_name': '...","Bengaluru Area, India","[Marketing Strategy, Launch Of New Products, M...",Medical Devices,NaN,http://in.linkedin.com/in/abhilashchakraverty,[{'url': 'http://in.linkedin.com/pub/anupam-ne...,"[{'major': 'Marketing Strategy', 'end': '2009'...",{'affilition': ['3M - Current And Former Emplo...,NaN,15.0,"[{'org': 'Philips', 'title': 'Global Product M...",NaN,"[{'from': 'Kimberly-Clark', 'to': 'GSK consume...",NaN,NaN,NaN
2332,in-abhinavramani,"{'family_name': 'Ramani', 'given_name': 'Abhin...",San Francisco Bay Area,"[Solidworks, Rapid Prototyping, Design for Man...",Medical Devices,I am a graduate Mechanical Engineering student...,http://www.linkedin.com/in/abhinavramani,[{'url': 'http://www.linkedin.com/pub/priya-jh...,"[{'start': '2011', 'major': 'Mechanical Engine...","{'affilition': ['India Biodesign', 'Mechanical...",NaN,9.0,"[{'org': 'Stanford University', 'title': 'Glob...",NaN,"[{'from': 'JDR Gymnastics', 'to': 'Department ...",NaN,NaN,NaN
2367,in-abhinnagupta,"{'family_name': 'Gupta', 'given_name': 'Abhinna'}","New Delhi Area, India","[Digital Marketing, Marketing Research, Busine...",Medical Devices,NaN,http://in.linkedin.com/in/abhinnagupta,[{'url': 'http://in.linkedin.com/pub/ishita-go...,"[{'start': '2007', 'major': 'Marketing, Strate...","{'affilition': ['Business Analysts', 'Hindu Co...",NaN,12.0,"[{'org': 'Abbott Vascular', 'title': 'Marketin...",NaN,"[{'from': 'Aarkay Software', 'to': 'Pilkington...",NaN,NaN,NaN
2451,in-abhishekgautam,"{'family_name': 'Gautam CPP', 'given_name': 'A...","Utica, New York Area","[Design Control, Packaging, Validation, Proces...",Medical Devices,Experienced professional (in both individual c...,http://www.linkedin.com/in/abhishekgautam,[],"[{'start': '2002', 'end': '2003', 'name': 'Roc...",NaN,NaN,24.0,"[{'org': 'ConMed Corporation', 'title': 'Engin...",NaN,"[{'from': 'Rochester Institute of Technology',...",NaN,NaN,[Certified Packaging Professional (CPP) from I...
3032,in-acaru,"{'family_name': 'Acaru', 'given_name': 'Andy'}",Greater New York City Area,NaN,Medical Devices,Responsible for launching Cellulaze- the game ...,http://www.linkedin.com/in/acaru,[{'url': 'http://www.linkedin.com/in/krishusto...,"[{'start': '1992', 'major': 'Pre-Med', 'end': ...",NaN,NaN,14.0,"[{'org': 'Cynosure', 'end': 'Present', 'start'...",NaN,"[{'from': 'AstraZeneca', 'to': 'Merck', 'title...","Baseball, Football, Golf, Fishing, Traveling",NaN,NaN
3078,in-accetturo,"{'family_name': 'Accetturo', 'given_name': 'Gr...",Greater Seattle Area,"[Medical Devices, Cross-functional Team Leader...",Medical Devices,NaN,http://www.linkedin.com/in/accetturo,[{'url': 'http://www.linkedin.com/pub/rachel-p...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3170,in-acheb,"{'family_name': 'Chebatoris', 'given_name': 'A...",San Francisco Bay Area,[Marketing Communications],Medical Devices,NaN,http://www.linkedin.com/in/acheb,[{'url': 'http://www.linkedin.com/pub/gina-cra...,"[{'start': '2003', 'major': 'Communication', '...",NaN,NaN,8.0,"[{'org': 'Thoratec Corporation', 'end': 'Prese...",NaN,"[{'from': 'HJ Heinz Co', 'to': 'Miramonte Reso...",NaN,NaN,NaN
3407,in-acunanarvaez,"{'family_name': 'Acuna-Narvaez', 'given_name':...",San Francisco Bay Area,"[Drive cross-functional collaborations, Strate...",Medical Devices,NaN,http://www.linkedin.com/in/acunanarvaez,[{'url': 'http://www.linkedin.com/pub/ed-yu/1/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3504,in-adamazzara,"{'family_name': 'Azzara', 'given_name': 'Adam'}",Greater San Diego Area,"[Medical Devices, Spine]",Medical Devices,NaN,http://www.linkedin.com/in/adamazzara,[{'url': 'http://www.linkedin.com/pub/shannon-...,"[{'start': '2007', 'major': 'Marketing', 'end'...","{'member': 'SIFE Alumni', 'affilition': ['AtHe...",NaN,14.0,"[{'org': 'NuVasive', 'end': 'Present', 'start'...",NaN,"[{'from': 'KFx Medical', 'to': 'NuVasive', 'ti...",NaN,NaN,NaN
3570,in-adambrody,"{'family_name': 'Brody', 'given_name': 'Adam'}",Greater Chicago Area,"[Executive Management, SAP, Project Management...",Medical Devices,NaN,http://www.linkedin.com/in/adambrody,[{'url': 'http://www.linkedin.com/pub/art-brau...,"[{'major': 'Information Systems', 'name': 'Nor...",{'member': 'AITP Gartner ASUG - Americas' SAP ...,NaN,32.0,"[{'org': 'Sysmex America, Inc', 'end': 'Presen...",NaN,"[{'from': 'Accenture', 'to': 'Allstate Insuran...",NaN,NaN,"[Patent awarded — “Real world showroom ”, 2004..."
3749,in-adamfrilotwilliams,"{'family_name': 'Williams', 'given_name': 'Adam'}",Greater Atlanta Area,"[Minitab, Process Validation, Equipment Valida...",Medical Devices,Quality Engineering professional with experien...,http://www.linkedin.com/in/adamfrilotwilliams,"[{'url': 'http://www.linkedin.com/in/ggarner',...",[{'major': 'Operations Management/Management o...,{'affilition': ['Delta Sigma Theta - Omega Psi...,NaN,10.0,"[{'org': 'Facet Technologies LLC', 'title': 'Q...",NaN,"[{'from': 'NASA', 'to': 'NASA', 'title1': 'Eng...",NaN,NaN,NaN
3785,in-adamgrabowski,"{'family_name': 'Grabowski', 'given_name': 'Ad...",Greater Chicago Area,"[Analytics, Digital Strategy, Online Advertisi...",Medical Devices,NaN,http://www.linkedin.com/in/adamgrabowski,[{'url': 'http://www.linkedin.com/pub/jeff-mik...,"[{'major': 'Instructional Design', 'end': '200...",{'member': 'Society for Technical Communicatio...,NaN,18.0,"[{'org': 'Hill-Rom', 'desc': 'Responsible for ...",NaN,"[{'from': 'Northern Illinois University', 'to'...",NaN,NaN,NaN
3858,in-adamjacobson,"{'family_name': 'Jacobson', 'given_name': 'Adam'}",Greater Boston Area,NaN,Medical Devices,NaN,http://www.linkedin.com/in/adamjacobson,[{'url': 'http://www.linkedin.com/in/bpiecuch'...,"[{'major': 'Mechanical Engineering', 'end': '2...",{'affilition': ['Northeastern University Engin...,NaN,26.0,"[{'org': 'Proven Process Medical Devices', 'en...",NaN,"[{'from': 'Proven Process Medical Devices', 't...",NaN,NaN,NaN
3916,in-adamkalbermatten,"{'family_name': 'Kalbermatten', 'given_name': ...",Greater New York City Area,"[Medical Devices, FDA, Manufacturing, Cross-fu...",Medical Devices,NaN,http://www.linkedin.com/in/adamkalbermatten,[{'url': 'http://www.linkedin.com/pub/lora-tir...,"[{'start': '2003', 'major': 'Engineering Manag...","{'member': 'Stevens Soccer, APICS', 'affilitio...",NaN,18.0,"[{'org': 'BD', 'title': 'Key Account Manager',...",NaN,"[{'from': 'Schering-Plough', 'to': 'BD', 'titl...",Professional\n-\tStatistical Sciences: Six Sig...,NaN,"[Stevens Presidents Award, Honors Citation, De..."
4266,in-adamsummer,"{'family_name': 'Summer', 'given_name': 'Adam'}","Philadelphia, Pennsylvania","[Medical Devices, Disposables, Operating Room,...",Medical Devices,NaN,http://www.linkedin.com/in/adamsummer,[{'url': 'http://www.linkedin.com/pub/james-va...,"[{'major': 'Psychology/Sociology', 'end': '199...","{'affilition': ['Corporate Brokers, LLC.-Strat...",NaN,27.0,"[{'org': 'Covidien', 'end': 'Present', 'start'...",NaN,"[{'from': 'Tek Systems', 'to': 'Covidien', 'ti...",NaN,NaN,NaN
4418,in-adavenpo,"{'family_name': 'Davenport', 'given_name': 'An...",Greater Boston Area,"[C, C++, Objective-C, Perl, Mobile Application...",Medical Devices,While I am currently developing medical image ...,http://www.linkedin.com/in/adavenpo,[{'url': 'http://www.linkedin.com/pub/kurt-bia...,"[{'major': 'Information Technology', 'end': '2...","{'affilition': ['AB Tech', 'Apple Professional...",NaN,3.0,"[{'org': 'Philips Healthcare', 'title': 'Softw...","C, C++, Objective C, HTML5, WebGL, Perl, embed...","[{'from': 'CMU Computing Services', 'to': 'CMU...","ham radio, economics, finance, Christian theology",NaN,NaN
4975,in-adityapolasani,"{'family_name': 'Polsani', 'given_name': 'Adit...","Cockeysville, Maryland","[New Business Development, Team Building, Medi...",Medical Devices,• Successful track record in building multiple...,http://www.linkedin.com/in/adityapolasani,[{'url': 'http://www.linkedin.com/in/aggarwalv...,NaN,{'member': 'Johns Hopkins University Licensing...,NaN,NaN,NaN,NaN,NaN,"Investing, Reading, Sailing, Mountain Biking, ...",NaN,NaN
5677,in-adrianroji,"{'family_name': 'Roji', 'given_name': 'Adrian'}",Greater New York City Area,"[Expert in organizational re-enginerring, Grow...",Medical Devices,"EXECUTIVE SUMMARYA global leader, passionate a...",http://www.linkedin.com/in/adrianroji,[],"[{'major': 'Marketing & Finance', 'end': '1992...","{'affilition': ['Dr. Miranda's Alumni', 'HOLA ...",NaN,18.0,"[{'org': 'Ethicon Women's Health & Urology', '...",NaN,"[{'from': 'Johnson & Johnson Corporate', 'to':...",NaN,NaN,NaN
5956,in-advclinicals,"{'family_name': 'Mathiowetz', 'given_name': 'C...",Greater Minneapolis-St. Paul Area,NaN,Medical Devices,NaN,http://www.linkedin.com/in/advclinicals,[{'url': 'http://www.linkedin.com/in/lguanella...,"[{'major': 'Aviation, Mathmatics, Weather', 'e...","{'member': 'Appraisal Institute', 'affilition'...",NaN,48.0,"[{'org': 'Kriger Research Group', 'end': 'Pres...",NaN,"[{'from': 'Midwest Airlines', 'to': 'Duerre Cl...",NaN,NaN,NaN
6369,in-aganesh,"{'family_name': 'Kumar', 'given_name': 'A. Gan...","Bengaluru, Karnataka, India",NaN,Medical Devices,Corporate Quality professional having experien...,http://in.linkedin.com/in/aganesh,[{'url': 'http://in.linkedin.com/pub/subramani...,"[{'major': 'Certified Quality Engineer', 'end'...",NaN,NaN,34.0,"[{'org': 'GE Healthcare', 'title': 'Quality Le...","Six Sigma black belt, ISO 9000, ISO 14000, ISO...",[{'from': 'GlaxoSmithKline Consumer HealthCare...,"Six Sigma in each regime of organization, Qual...",NaN,NaN
6865,in-agupta5,"{'family_name': 'Gupta', 'given_name': 'Anshum...",San Francisco Bay Area,"[Medical Devices, Biomedical Engineering, Matl...",Medical Devices,NaN,http://www.linkedin.com/in/agupta5,[{'url': 'http://www.linkedin.com/pub/rashmi-k...,"[{'major': 'Biomedical Engineering', 'end': '2...","{'affilition': ['Biomedical Engineer Jobs', 'D...",NaN,0.0,"[{'org': 'BIOTRONIK', 'title': 'Systems Verifi...",NaN,[],NaN,NaN,NaN
6989,in-aharrold,"{'family_name': 'Harrold', 'given_name': 'Andr...","Brighton, United Kingdom","[Telecommunications, Software Development, Tes...",Medical Devices,NaN,http://uk.linkedin.com/in/aharrold,[{'url': 'http://uk.linkedin.com/pub/mike-harr...,NaN,NaN,NaN,0.0,"[{'org': 'Varian Medical Systems', 'end': 'Pre...",NaN,[],NaN,NaN,NaN
7098,in-ahmadghaddar,"{'family_name': 'Ghaddar', 'given_name': 'Ahmad'}",United Arab Emirates,"[Visionary, Internal Communications, People Sk...",Medical Devices,All my experience has been in the Medical devi...,http://ae.linkedin.com/in/ahmadghaddar,[{'url': 'http://ae.linkedin.com/pub/loay-badr...,"[{'major': 'Nursing', 'end': '1993', 'name': '...","{'member': 'AUB Alumni Association', 'affiliti...",NaN,43.0,"[{'org': 'CareFusion', 'title': 'Regional Mana...",NaN,"[{'from': 'Johnson & Johnson', 'to': '3M', 'ti...",Sports\nFood & Beverage,NaN,[1997 Sales Person Of the Year (Johnson & John...
7348,in-ahosseini,"{'family_name': 'Hosseini', 'given_name': 'Ali'}",Greater Boston Area,NaN,Medical Devices,I study the in-vivo motion analysis of human j...,http://www.linkedin.com/in/ahosseini,[{'url': 'http://www.linkedin.com/pub/mohammad...,"[{'major': 'Mechanical Engineering', 'end': '2...","{'member': 'Member, Orthopaedic Research Socie...","<dl id=""overview""><dt id=""overview-summary-cur...",25.0,"[{'org': 'Harvard Medical School', 'title': 'I...",NaN,[{'from': 'Isfahan Science & Technology Town (...,NaN,NaN,[O'Donoghue Award from The American Orthopaedi...
7460,in-aidancasey,"{'family_name': 'Casey', 'given_name': 'Aidan'}","London, United Kingdom",NaN,Medical Devices,Senior Quality professional with extensive Qua...,http://uk.linkedin.com/in/aidancasey,[{'url': 'http://uk.linkedin.com/pub/veronika-...,"[{'start': '2003', 'end': '2005', 'name': 'Uni...",{'affilition': ['Abbott Laboratories Employees...,NaN,25.0,"[{'org': 'Abbott Laboratories', 'title': 'Glob...",NaN,"[{'from': 'EMC Corporation', 'to': 'EMC Corpor...",NaN,NaN,NaN
7782,in-aislyn,"{'family_name': 'Arnone', 'given_name': 'Aislyn'}",Greater Boston Area,"[Event Planning, Event Management, Corporate E...",Medical Devices,NaN,http://www.linkedin.com/in/aislyn,[{'url': 'http://www.linkedin.com/pub/stephani...,"[{'start': '2001', 'major': 'Business, Managem...",{'affilition': ['Friars Business Networking Gr...,NaN,0.0,"[{'org': 'Arthrosurface', 'end': 'Present', 's...",NaN,[],NaN,NaN,NaN
7837,in-ajackerman,"{'family_name': 'Ackerman', 'given_name': 'And...",Greater Milwaukee Area,NaN,Medical Devices,Andy Ackerman is a 10 year veteren of medical ...,http://www.linkedin.com/in/ajackerman,[{'url': 'http://www.linkedin.com/in/tiffanydu...,"[{'major': 'Marketing, Healthcare', 'end': '19...","{'affilition': ['Brand Innovators, Branding Le...",NaN,22.0,"[{'org': 'GE Healthcare', 'title': 'Cardiac an...",Product Management ~ Strategic Product Positio...,"[{'from': 'Cook Medical', 'to': 'Cook, Inc.', ...",NaN,NaN,NaN

In [20]:
%%time
# 100,000 records from linkedin
linked_in = open('/content/linkedin_small.json')

people = []

for line in linked_in:
    person = json.loads(line)
    if 'industry' in person and person['industry'] == 'Medical Devices':
        people.append(person)
    
people_df = pd.DataFrame(people)
people_df

CPU times: user 399 ms, sys: 11.3 ms, total: 411 ms
Wall time: 404 ms

,_id,name,locality,skills,industry,summary,url,also_view,education,group,interval,experience,events,honors,specilities,interests,overview_html
0,in-00000001,"{'family_name': 'Mazalu MBA', 'given_name': 'D...",United States,"[Key Account Development, Strategic Planning, ...",Medical Devices,SALES MANAGEMENT / BUSINESS DEVELOPMENT / PROJ...,http://www.linkedin.com/in/00000001,[{'url': 'http://www.linkedin.com/pub/krisa-dr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,in-13806219531,"{'family_name': 'Gao', 'given_name': 'Tony'}",China,"[ISO 13485, Medical Devices]",Medical Devices,NaN,http://cn.linkedin.com/in/13806219531,"[{'url': 'http://cn.linkedin.com/in/jameswz', ...","[{'start': '1998', 'end': '2001', 'name': 'Ton...","{'affilition': ['Beckman Coulter', 'Biomedical...",0.0,[{'org': 'Beckman Coulter Laboratory Systems S...,"[{'from': 'Beckman Coulter', 'to': 'Beckman Co...",NaN,NaN,NaN,NaN
2,in-1scottsanderson,"{'family_name': 'Sanderson', 'given_name': 'Sc...",Greater Nashville Area,NaN,Medical Devices,"Whether achieving new highs in medical sales, ...",http://www.linkedin.com/in/1scottsanderson,[{'url': 'http://www.linkedin.com/pub/ryan-win...,"[{'start': '1992', 'major': 'Criminal Justice,...",{'member': 'National Football League Players A...,32.0,"[{'org': 'Intuitive Surgical', 'title': 'Clini...","[{'from': 'National Football League', 'to': 'C...","[MERCK & CO., INC:, • Award of Excellence-2009...","Customer Service, Sales Growth, Direct Sales, ...",NaN,NaN
3,in-2008annvu,"{'family_name': 'Vu', 'given_name': 'Ann'}","Rochester, New York Area","[Process Validation, Quality Systems, ISO 1348...",Medical Devices,Change agent and proactive leader that drives ...,http://www.linkedin.com/in/2008annvu,[{'url': 'http://www.linkedin.com/pub/christop...,"[{'start': '2012', 'end': '2012', 'name': 'Smi...","{'member': 'ISPE, ASQ, PDA', 'affilition': ['A...",45.0,"[{'org': 'Ortho Clinical Diagnostics', 'title'...","[{'from': 'Steris', 'to': 'Calgon Vestal', 'ti...","[CQA, CQM, Sr. Member, ASQ]",NaN,NaN,NaN
4,in-2johnstroh,"{'family_name': 'Stroh', 'given_name': 'John'}","Orange County, California Area","[Licensing, New Business Development, Relation...",Medical Devices,Contact –email: johnstroh@verizon.netmobile: 7...,http://www.linkedin.com/in/2johnstroh,[{'url': 'http://www.linkedin.com/in/kevinmcne...,"[{'start': '1978', 'major': 'Graduate Business...",{'member': 'Council Member OCTANe Biomedical L...,25.0,"[{'org': 'Nanospectra Biosciences', 'desc': 'A...","[{'from': 'AREAS OF INTEREST & EXPERTISE', 'to...",[Judge of the Business Plan Competition at the...,NaN,"John Stroh – President, CEO, COO, CFO, Directo...",NaN
5,in-4mikeoshea,"{'family_name': 'O'Shea', 'given_name': 'Mike'}","Houston, Texas Area","[Capital Equipment, Diagnostics, Hospitals, Sa...",Medical Devices,Seeking sales position in the medical or diagn...,http://www.linkedin.com/in/4mikeoshea,[{'url': 'http://www.linkedin.com/pub/darryl-r...,"[{'start': '2006', 'major': 'Sales Leadership'...",{'affilition': ['American Association for Clin...,0.0,"[{'org': 'Roche Diagnostics', 'desc': 'Managed...",[],NaN,Capital Equipment | Medical Devices | Strategi...,NaN,NaN
6,in-aabose,"{'family_name': 'Bose', 'given_name': 'Amit'}","San Ramon, California","[Outsourcing, Product Development, Systems Eng...",Medical Devices,Results driven engineering management professi...,http://www.linkedin.com/in/aabose,[{'url': 'http://www.linkedin.com/in/vinod1111...,"[{'start': '1990', 'end': '1993', 'name': 'Uni...",NaN,22.0,"[{'org': 'Life Technologies', 'desc': 'Head of...","[{'from': 'Medical Graphics Corporation', 'to'...",NaN,NaN,NaN,NaN
7,in-aarisrand,"{'family_name': 'Rand', 'given_name': 'Michael...","Tianjin Suburb, China","[International Project Management, Project Por...",Medical Devices,NaN,http://cn.linkedin.com/in/aarisrand,[{'url': 'http://cn.linkedin.com/pub/kezhou-zh...,"[{'start': '2005', 'major': 'Diploma in Busine...","{'member': 'De Studerendes Erhvervskontakt', '...",18.0,"[{'org': 'Novo Nordisk', 'desc': 'Responsible ...","[{'from': 'Danish Army', 'to': 'Implement', 't...",NaN,NaN,NaN,NaN
8,in-aaronburton,"{'family_name': 'Burton', 'given_name': 'Aaron'}",Dallas/Fort Worth Area,"[Direct Sales, Sales Management, Account Manag...",Medical Devices,NaN,http://www.linkedin.com/in/aaronburton,[{'url': 'http://www.linkedin.com/pub/david-pe...,"[{'name': 'Saint Leo University', 'desc': ''},...",{'affilition': ['Aesthetic Plastic Surgery /Pl...,0.0,"[{'org': 'Sciton, Inc.', 'end': 'Present', 'st...","[{'from': 'LOGIX Communications, LP.', 'to': '...",NaN,NaN,NaN,NaN
9,in-aaronmback,"{'family_name': 'Back', 'given_name': 'Aaron'}",Cincinnati Area,"[Microsoft Dynamics ERP, Great Plains Software...",Medical Devices,Administration of network applications includi...,http://www.linkedin.com/in/aaronmback,[{'url': 'http://www.linkedin.com/pub/rick-sha...,NaN,"{'affilition': ['Angelbeat', 'Dynamics CRM Use...",48.0,"[{'org': 'AtriCure, Inc.', 'end': 'Present', '...","[{'from': 'Planes Companies', 'to': 'Planes Co...",NaN,NaN,NaN,NaN
10,in-abbasbohra,"{'family_name': 'Bohra', 'given_name': 'Abbas'}",Greater Los Angeles Area,NaN,Medical Devices,NaN,http://www.linkedin.com/in/abbasbohra,[{'url': 'http://www.linkedin.com/pub/kirtee-r...,[{'major': 'Medical Devices and Diagnostic Eng...,{'affilition': ['Abbott Laboratories Employees...,11.0,"[{'org': 'Abbott Medical Optics', 'end': 'Pres...","[{'from': 'Biomedicon Systems Pvt. Ltd.', 'to'...",NaN,NaN,NaN,NaN
11,in-abbypratt,"{'family_name': 'Pratt', 'given_name': 'Abby'}",Washington D.C. Metro Area,"[Trade policy, Medical Devices, Pharmaceutical...",Medical Devices,NaN,http://www.linkedin.com/in/abbypratt,[{'url': 'http://www.linkedin.com/pub/joseph-g...,[{'major': 'International Relations and Asian ...,{'affilition': ['Bill & Melinda Gates Foundati...,25.0,"[{'org': 'AdvaMed', 'end': 'Present', 'start':...","[{'from': 'Tokyo Electric Power Company', 'to'...",NaN,NaN,NaN,NaN
12,in-abefadakar,"{'family_name': 'Fadakar', 'given_name': 'Abe'}","San Jose, California","[ISO 13485, Medical Devices, Quality Systems, ...",Medical Devices,10 plus years of experience with increasing re...,http://www.linkedin.com/in/abefadakar,"[{'url': 'http://www.linkedin.com/in/ghallon',...",[{'major': 'Medical Product Development Manage...,"{'affilition': ['21 CFR part 11', 'ASQ Biomedi...",0.0,"[{'org': 'Bayer Diabetes Care , A1CNow+ Headqu...",[],NaN,Software Quality Engineer/Validation Engineer/...,NaN,NaN
13,in-abelang,"{'family_name': 'Ang', 'given_name': 'Abel'}",Singapore,"[Medical Technology, Medical Devices]",Medical Devices,NaN,http://sg.linkedin.com/in/abelang,[{'url': 'http://www.linkedin.com/in/philipset...,"[{'name': 'American Society for Quality', 'deg...","{'affilition': ['HBS AMP 183 Community', 'Sing...",14.0,"[{'org': 'Greatbatch, Inc.', 'desc': 'As Senio...","[{'from': 'MIT-Singapore Innovation Grant', 't...",NaN,NaN,NaN,NaN
14,in-abhilashchakraverty,"{'family_name': 'Chakraverty', 'given_name': '...","Bengaluru Area, India","[Marketing Strategy, Launch Of New Products, M...",Medical Devices,NaN,http://in.linkedin.com/in/abhilashchakraverty,[{'url': 'http://in.linkedin.com/pub/anupam-ne...,"[{'major': 'Marketing Strategy', 'end': '2009'...",{'affilition': ['3M - Current And Former Emplo...,15.0,"[{'org': 'Philips', 'title': 'Global Product M...","[{'from': 'Kimberly-Clark', 'to': 'GSK consume...",NaN,NaN,NaN,NaN
15,in-abhinavramani,"{'family_name': 'Ramani', 'given_name': 'Abhin...",San Francisco Bay Area,"[Solidworks, Rapid Prototyping, Design for Man...",Medical Devices,I am a graduate Mechanical Engineering student...,http://www.linkedin.com/in/abhinavramani,[{'url': 'http://www.linkedin.com/pub/priya-jh...,"[{'start': '2011', 'major': 'Mechanical Engine...","{'affilition': ['India Biodesign', 'Mechanical...",9.0,"[{'org': 'Stanford University', 'title': 'Glob...","[{'from': 'JDR Gymnastics', 'to': 'Department ...",NaN,NaN,NaN,NaN
16,in-abhinnagupta,"{'family_name': 'Gupta', 'given_name': 'Abhinna'}","New Delhi Area, India","[Digital Marketing, Marketing Research, Busine...",Medical Devices,NaN,http://in.linkedin.com/in/abhinnagupta,[{'url': 'http://in.linkedin.com/pub/ishita-go...,"[{'start': '2007', 'major': 'Marketing, Strate...","{'affilition': ['Business Analysts', 'Hindu Co...",12.0,"[{'org': 'Abbott Vascular', 'title': 'Marketin...","[{'from': 'Aarkay Software', 'to': 'Pilkington...",NaN,NaN,NaN,NaN
17,in-abhishekgautam,"{'family_name': 'Gautam CPP', 'given_name': 'A...","Utica, New York Area","[Design Control, Packaging, Validation, Proces...",Medical Devices,Experienced professional (in both individual c...,http://www.linkedin.com/in/abhishekgautam,[],"[{'start': '2002', 'end': '2003', 'name': 'Roc...",NaN,24.0,"[{'org': 'ConMed Corporation', 'title': 'Engin...","[{'from': 'Rochester Institute of Technology',...",[Certified Packaging Professional (CPP) from I...,NaN,NaN,NaN
18,in-acaru,"{'family_name': 'Acaru', 'given_name': 'Andy'}",Greater New York City Area,NaN,Medical Devices,Responsible for launching Cellulaze- the game ...,http://www.linkedin.com/in/acaru,[{'url': 'http://www.linkedin.com/in/krishusto...,"[{'start': '1992', 'major': 'Pre-Med', 'end': ...",NaN,14.0,"[{'org': 'Cynosure', 'end': 'Present', 'start'...","[{'from': 'AstraZeneca', 'to': 'Merck', 'title...",NaN,NaN,"Baseball, Football, Golf, Fishing, Traveling",NaN
19,in-accetturo,"{'family_name': 'Accetturo', 'given_name': 'Gr...",Greater Seattle Area,"[Medical Devices, Cross-functional Team Leader...",Medical Devices,NaN,http://www.linkedin.com/in/accetturo,[{'url': 'http://www.linkedin.com/pub/rachel-p...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,in-acheb,"{'family_name': 'Chebatoris', 'given_name': 'A...",San Francisco Bay Area,[Marketing Communications],Medical Devices,NaN,http://www.linkedin.com/in/acheb,[{'url': 'http://www.linkedin.com/pub/gina-cra...,"[{'start': '2003', 'major': 'Communication', '...",NaN,8.0,"[{'org': 'Thoratec Corporation', 'end': 'Prese...","[{'from': 'HJ Heinz Co', 'to': 'Miramonte Reso...",NaN,NaN,NaN,NaN
21,in-acunanarvaez,"{'family_name': 'Acuna-Narvaez', 'given_name':...",San Francisco Bay Area,"[Drive cross-functional collaborations, Strate...",Medical Devices,NaN,http://www.linkedin.com/in/acunanarvaez,[{'url': 'http://www.linkedin.com/pub/ed-yu/1/...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,in-adamazzara,"{'family_name': 'Azzara', 'given_name': 'Adam'}",Greater San Diego Area,"[Medical Devices, Spine]",Medical Devices,NaN,http://www.linkedin.com/in/adamazzara,[{'url': 'http://www.linkedin.com/pub/shannon-...,"[{'start': '2007', 'major': 'Marketing', 'end'...","{'member': 'SIFE Alumni', 'affilition': ['AtHe...",14.0,"[{'org': 'NuVasive', 'end': 'Present', 'start'...","[{'from': 'KFx Medical', 'to': 'NuVasive', 'ti...",NaN,NaN,NaN,NaN
23,in-adambrody,"{'family_name': 'Brody', 'given_name': 'Adam'}",Greater Chicago Area,"[Executive Management, SAP, Project Management...",Medical Devices,NaN,http://www.linkedin.com/in/adambrody,[{'url': 'http://www.linkedin.com/pub/art-brau...,"[{'major': 'Information Systems', 'name': 'Nor...",{'member': 'AITP Gartner ASUG - Americas' SAP ...,32.0,"[{'org': 'Sysmex America, Inc', 'end': 'Presen...","[{'from': 'Accenture', 'to': 'Allstate Insuran...","[Patent awarded — “Real world showroom ”, 2004...",NaN,NaN,NaN
24,in-adamfrilotwilliams,"{'family_name': 'Williams', 'given_name': 'Adam'}",Greater Atlanta Area,"[Minitab, Process Validation, Equipment Valida...",Medical Devices,Quality Engineering professional with experien...,http://www.linkedin.com/in/adamfrilotwilliams,"[{'url': 'http://www.linkedin.com/in/ggarner',...",[{'major': 'Operations Management/Management o...,{'affilition': ['Delta Sigma Theta - Omega Psi...,10.0,"[{'org': 'Facet Technologies LLC', 'title': 'Q...","[{'from': 'NASA', 'to': 'NASA', 'title1': 'Eng...",NaN,NaN,NaN,NaN
25,in-adamgrabowski,"{'family_name': 'Grabowski', 'given_name': 'Ad...",Greater Chicago Area,"[Analytics, Digital Strategy, Online Advertisi...",Medical Devices,NaN,http://www.linkedin.com/in/adamgrabowski,[{'url': 'http://www.linkedin.com/pub/jeff-mik...,"[{'major': 'Instructional Design', 'end': '200...",{'member': 'Society for Technical Communicatio...,18.0,"[{'org': 'Hill-Rom', 'desc': 'Responsible for ...","[{'from': 'Northern Illinois University', 'to'...",NaN,NaN,NaN,NaN
26,in-adamjacobson,"{'family_name': 'Jacobson', 'given_name': 'Adam'}",Greater Boston Area,NaN,Medical Devices,NaN,http://www.linkedin.com/in/adamjacobson,[{'url': 'http://www.linkedin.com/in/bpiecuch'...,"[{'major': 'Mechanical Engineering', 'end': '2...",{'affilition': ['Northeastern University Engin...,26.0,"[{'org': 'Proven Process Medical Devices', 'en...","[{'from': 'Proven Process Medical Devices', 't...",NaN,NaN,NaN,NaN
27,in-adamkalbermatten,"{'family_name': 'Kalbermatten', 'given_name': ...",Greater New York City Area,"[Medical Devices, FDA, Manufacturing, Cross-fu...",Medical Devices,NaN,http://www.linkedin.com/in/adamkalbermatten,[{'url': 'http://www.linkedin.com/pub/lora-tir...,"[{'start': '2003', 'major': 'Engineering Manag...","{'member': 'Stevens Soccer, APICS', 'affilitio...",18.0,"[{'org': 'BD', 'title': 'Key Account Manager',...","[{'from': 'Schering-Plough', 'to': 'BD', 'titl...","[Stevens Presidents Award, Honors Citation, De...",NaN,Professional\n-\tStatistical Sciences: Six Sig...,NaN
28,in-adamsummer,"{'family_name': 'Summer', 'given_name': 'Adam'}","Philadelphia, Pennsylvania","[Medical Devices, Disposables, Operating Room,...",Medical Devices,NaN,http://www.linkedin.com/in/adamsummer,[{'url': 'http://www.linkedin.com/pub/james-va...,"[{'major': 'Psychology/Sociology', 'end': '199...","{'affilition': ['Corporate Brokers, LLC.-Strat...",27.0,"[{'org': 'Covidien', 'end': 'Present', 'start'...","[{'from': 'Tek Systems', 'to': 'Covidien', 'ti...",NaN,NaN,NaN,NaN
29,in-adavenpo,"{'family_name': 'Davenport', 'given_name': 'An...",Greater Boston Area,"[C, C++, Objective-C, Perl, Mobile Application...",Medical Devices,While I am currently developing medical image ...,http://www.linkedin.com/in/adavenpo,[{'url': 'http://www.linkedin.com/pub/kurt-bia...,"[{'major': 'Information Technology', 'end': '2...","{'affilition': ['AB Tech', 'Apple Professional...",3.0,"[{'org': 'Philips Healthcare', 'title': 'Softw...","[{'from': 'CMU Computing Services', 'to': 'CMU...",NaN,"C, C++, Objective C, HTML5, WebGL, Perl, embed...","ham radio, economics, finance, Christian theology",NaN
30,in-adityapolasani,"{'family_name': 'Polsani', 'given_name': 'Adit...","Cockeysville, Maryland","[New Business Development, Team Building, Medi...",Medical Devices,• Successful track record in building multiple...,http://www.linkedin.com/in/adityapolasani,[{'url': 'http://www.linkedin.com/in/aggarwalv...,NaN,{'member': 'Johns Hopkins University Licensing...,NaN,NaN,NaN,NaN,NaN,"Investing, Reading, Sailing, Mountain Biking, ...",NaN
31,in-adrianroji,"{'family_name': 'Roji', 'given_name': 'Adrian'}",Greater New York City Area,"[Expert in organizational re-enginerring, Grow...",Medical Devices,"EXECUTIVE SUMMARYA global leader, passionate a...",http://www.linkedin.com/in/adrianroji,[],"[{'major': 'Marketing & Finance', 'end': '1992...","{'affilition': ['Dr. Miranda's Alumni', 'HOLA ...",18.0,"[{'org': 'Ethicon Women's Health & Urology', '...","[{'from': 'Johnson & Johnson Corporate', 'to':...",NaN,NaN,NaN,NaN
32,in-advclinicals,"{'family_name': 'Mathiowetz', 'given_name': 'C...",Greater Minneapolis-St. Paul Area,NaN,Medical Devices,NaN,http://www.linkedin.com/in/advclinicals,[{'url': 'http://www.linkedin.com/in/lguanella...,"[{'major': 'Aviation, Mathmatics, Weather', 'e...","{'member': 'Appraisal Institute', 'affilition'...",48.0,"[{'org': 'Kriger Research Group', 'end': 'Pres...","[{'from': 'Midwest Airlines', 'to': 'Duerre Cl...",NaN,NaN,NaN,NaN
33,in-aganesh,"{'family_name': 'Kumar', 'given_name': 'A. Gan...","Bengaluru, Karnataka, India",NaN,Medical Devices,Corporate Quality professional having experien...,http://in.linkedin.com/in/aganesh,[{'url': 'http://in.linkedin.com/pub/subramani...,"[{'major': 'Certified Quality Engineer', 'end'...",NaN,34.0,"[{'org': 'GE Healthcare', 'title': 'Quality Le...",[{'from': 'GlaxoSmithKline Consumer HealthCare...,NaN,"Six Sigma black belt, ISO 9000, ISO 14000, ISO...","Six Sigma in each regime of organization, Qual...",NaN
34,in-agupta5,"{'family_name': 'Gupta', 'given_name': 'Anshum...",San Francisco Bay Area,"[Medical Devices, Biomedical Engineering, Matl...",Medical Devices,NaN,http://www.linkedin.com/in/agupta5,[{'url': 'http://www.linkedin.com/pub/rashmi-k...,"[{'major': 'Biomedical Engineering', 'end': '2...","{'affilition': ['Biomedical Engineer Jobs', 'D...",0.0,"[{'org': 'BIOTRONIK', 'title': 'Systems Verifi...",[],NaN,NaN,NaN,NaN
35,in-aharrold,"{'family_name': 'Harrold', 'given_name': 'Andr...","Brighton, United Kingdom","[Telecommunications, Software Development, Tes...",Medical Devices,NaN,http://uk.linkedin.com/in/aharrold,[{'url': 'http://uk.linkedin.com/pub/mike-harr...,NaN,NaN,0.0,"[{'org': 'Varian Medical Systems', 'end': 'Pre...",[],NaN,NaN,NaN,NaN
36,in-ahmadghaddar,"{'family_name': 'Ghaddar', 'given_name': 'Ahmad'}",United Arab Emirates,"[Visionary, Internal Communications, People Sk...",Medical Devices,All my experience has been in the Medical devi...,http://ae.linkedin.com/in/ahmadghaddar,[{'url': 'http://ae.linkedin.com/pub/loay-badr...,"[{'major': 'Nursing', 'end': '1993', 'name': '...","{'member': 'AUB Alumni Association', 'affiliti...",43.0,"[{'org': 'CareFusion', 'title': 'Regional Mana...","[{'from': 'Johnson & Johnson', 'to': '3M', 'ti...",[1997 Sales Person Of the Year (Johnson & John...,NaN,Sports\nFood & Beverage,NaN
37,in-ahosseini,"{'family_name': 'Hosseini', 'given_name': 'Ali'}",Greater Boston Area,NaN,Medical Devices,I study the in-vivo motion analysis of human j...,http://www.linkedin.com/in/ahosseini,[{'url': 'http://www.linkedin.com/pub/mohammad...,"[{'major': 'Mechanical Engineering', 'end': '2...","{'member': 'Member, Orthopaedic Research Socie...",25.0,"[{'org': 'Harvard Medical School', 'title': 'I...",[{'from': 'Isfahan Science & Technology Town (...,[O'Donoghue Award from The American Orthopaedi...,NaN,NaN,"<dl id=""overview""><dt id=""overview-summary-cur..."
38,in-aidancasey,"{'family_name': 'Casey', 'given_name': 'Aidan'}","London, United Kingdom",NaN,Medical Devices,Senior Quality professional with extensive Qua...,http://uk.linkedin.com/in/aidancasey,[{'url': 'http://uk.linkedin.com/pub/veronika-...,"[{'start': '2003', 'end': '2005', 'name': 'Uni...",{'affilition': ['Abbott Laboratories Employees...,25.0,"[{'org': 'Abbott Laboratories', 'title': 'Glob...","[{'from': 'EMC Corporation', 'to': 'EMC Corpor...",NaN,NaN,NaN,NaN
39,in-aislyn,"{'family_name': 'Arnone', 'given_name': 'Aislyn'}",Greater Boston Area,"[Event Planning, Event Management, Corporate E...",Medical Devices,NaN,http://www.linkedin.com/in/aislyn,[{'url': 'http://www.linkedin.com/pub/stephani...,"[{'start': '2001', 'major': 'Business, Managem...",{'affilition': ['Friars Business Networking Gr...,0.0,"[{'org': 'Arthrosurface', 'end': 'Present', 's...",[],NaN,NaN,NaN,NaN
40,in-ajackerman,"{'family_name': 'Ackerman', 'given_name': 'And...",Greater Milwaukee Area,NaN,Medical Devices,Andy Ackerman is a 10 year veteren of medical ...,http://www.linkedin.com/in/ajackerman,[{'url': 'http://www.linkedin.com/in/tiffanydu...,"[{'major': 'Marketing, Healthcare', 'end': '19...","{'affilition': ['Brand Innovators, Branding Le...",22.0,"[{'org': 'GE Healthcare', 'title': 'Cardiac an...","[{'from': 'Cook Medical', 'to': 'Cook, Inc.', ...",NaN,Product Management ~ Strategic Product Positio...,NaN,NaN

## SQL query without an index

SQL databases will automatically "push down" selection and projection where feasible.  They also don't need to parse.

In [21]:
conn = sqlite3.connect('linkedin.db')

## This is just to reset things so we don't have an index
conn.execute('begin transaction')
conn.execute('drop index if exists people_industry')
conn.execute('commit')

In [22]:
%%time

pd.read_sql_query('select * from people where industry="Medical Devices"', conn)

CPU times: user 7.37 ms, sys: 3.04 ms, total: 10.4 ms
Wall time: 16.5 ms

,_id,locality,industry,summary,url,overview_html,specilities,interests,homepage
0,in-00000001,United States,Medical Devices,SALES MANAGEMENT / BUSINESS DEVELOPMENT / PROJ...,http://www.linkedin.com/in/00000001,,,,
1,in-13806219531,China,Medical Devices,,http://cn.linkedin.com/in/13806219531,,,,
2,in-1scottsanderson,Greater Nashville Area,Medical Devices,"Whether achieving new highs in medical sales, ...",http://www.linkedin.com/in/1scottsanderson,,"Customer Service, Sales Growth, Direct Sales, ...",,
3,in-2008annvu,"Rochester, New York Area",Medical Devices,Change agent and proactive leader that drives ...,http://www.linkedin.com/in/2008annvu,,,,
4,in-2johnstroh,"Orange County, California Area",Medical Devices,Contact –email: johnstroh@verizon.netmobile: 7...,http://www.linkedin.com/in/2johnstroh,,,"John Stroh – President, CEO, COO, CFO, Directo...",
5,in-4mikeoshea,"Houston, Texas Area",Medical Devices,Seeking sales position in the medical or diagn...,http://www.linkedin.com/in/4mikeoshea,,Capital Equipment | Medical Devices | Strategi...,,
6,in-aabose,"San Ramon, California",Medical Devices,Results driven engineering management professi...,http://www.linkedin.com/in/aabose,,,,
7,in-aarisrand,"Tianjin Suburb, China",Medical Devices,,http://cn.linkedin.com/in/aarisrand,,,,
8,in-aaronburton,Dallas/Fort Worth Area,Medical Devices,,http://www.linkedin.com/in/aaronburton,,,,
9,in-aaronmback,Cincinnati Area,Medical Devices,Administration of network applications includi...,http://www.linkedin.com/in/aaronmback,,,,
10,in-abbasbohra,Greater Los Angeles Area,Medical Devices,,http://www.linkedin.com/in/abbasbohra,,,,
11,in-abbypratt,Washington D.C. Metro Area,Medical Devices,,http://www.linkedin.com/in/abbypratt,,,,
12,in-abefadakar,"San Jose, California",Medical Devices,10 plus years of experience with increasing re...,http://www.linkedin.com/in/abefadakar,,Software Quality Engineer/Validation Engineer/...,,
13,in-abelang,Singapore,Medical Devices,,http://sg.linkedin.com/in/abelang,,,,
14,in-abhilashchakraverty,"Bengaluru Area, India",Medical Devices,,http://in.linkedin.com/in/abhilashchakraverty,,,,
15,in-abhinavramani,San Francisco Bay Area,Medical Devices,I am a graduate Mechanical Engineering student...,http://www.linkedin.com/in/abhinavramani,,,,
16,in-abhinnagupta,"New Delhi Area, India",Medical Devices,,http://in.linkedin.com/in/abhinnagupta,,,,
17,in-abhishekgautam,"Utica, New York Area",Medical Devices,Experienced professional (in both individual c...,http://www.linkedin.com/in/abhishekgautam,,,,
18,in-acaru,Greater New York City Area,Medical Devices,Responsible for launching Cellulaze- the game ...,http://www.linkedin.com/in/acaru,,,"Baseball, Football, Golf, Fishing, Traveling",
19,in-accetturo,Greater Seattle Area,Medical Devices,,http://www.linkedin.com/in/accetturo,,,,
20,in-acheb,San Francisco Bay Area,Medical Devices,,http://www.linkedin.com/in/acheb,,,,
21,in-acunanarvaez,San Francisco Bay Area,Medical Devices,,http://www.linkedin.com/in/acunanarvaez,,,,
22,in-adamazzara,Greater San Diego Area,Medical Devices,,http://www.linkedin.com/in/adamazzara,,,,
23,in-adambrody,Greater Chicago Area,Medical Devices,,http://www.linkedin.com/in/adambrody,,,,
24,in-adamfrilotwilliams,Greater Atlanta Area,Medical Devices,Quality Engineering professional with experien...,http://www.linkedin.com/in/adamfrilotwilliams,,,,
25,in-adamgrabowski,Greater Chicago Area,Medical Devices,,http://www.linkedin.com/in/adamgrabowski,,,,
26,in-adamjacobson,Greater Boston Area,Medical Devices,,http://www.linkedin.com/in/adamjacobson,,,,
27,in-adamkalbermatten,Greater New York City Area,Medical Devices,,http://www.linkedin.com/in/adamkalbermatten,,,Professional\n-\tStatistical Sciences: Six Sig...,
28,in-adamsummer,"Philadelphia, Pennsylvania",Medical Devices,,http://www.linkedin.com/in/adamsummer,,,,
29,in-adavenpo,Greater Boston Area,Medical Devices,While I am currently developing medical image ...,http://www.linkedin.com/in/adavenpo,,"C, C++, Objective C, HTML5, WebGL, Perl, embed...","ham radio, economics, finance, Christian theology",
30,in-adityapolasani,"Cockeysville, Maryland",Medical Devices,• Successful track record in building multiple...,http://www.linkedin.com/in/adityapolasani,,,"Investing, Reading, Sailing, Mountain Biking, ...",
31,in-adrianroji,Greater New York City Area,Medical Devices,"EXECUTIVE SUMMARYA global leader, passionate a...",http://www.linkedin.com/in/adrianroji,,,,
32,in-advclinicals,Greater Minneapolis-St. Paul Area,Medical Devices,,http://www.linkedin.com/in/advclinicals,,,,
33,in-aganesh,"Bengaluru, Karnataka, India",Medical Devices,Corporate Quality professional having experien...,http://in.linkedin.com/in/aganesh,,"Six Sigma black belt, ISO 9000, ISO 14000, ISO...","Six Sigma in each regime of organization, Qual...",
34,in-agupta5,San Francisco Bay Area,Medical Devices,,http://www.linkedin.com/in/agupta5,,,,
35,in-aharrold,"Brighton, United Kingdom",Medical Devices,,http://uk.linkedin.com/in/aharrold,,,,
36,in-ahmadghaddar,United Arab Emirates,Medical Devices,All my experience has been in the Medical devi...,http://ae.linkedin.com/in/ahmadghaddar,,,Sports\nFood & Beverage,
37,in-ahosseini,Greater Boston Area,Medical Devices,I study the in-vivo motion analysis of human j...,http://www.linkedin.com/in/ahosseini,"<dl id=""overview""><dt id=""overview-summary-cur...",,,
38,in-aidancasey,"London, United Kingdom",Medical Devices,Senior Quality professional with extensive Qua...,http://uk.linkedin.com/in/aidancasey,,,,
39,in-aislyn,Greater Boston Area,Medical Devices,,http://www.linkedin.com/in/aislyn,,,,
40,in-ajackerman,Greater Milwaukee Area,Medical Devices,Andy Ackerman is a 10 year veteren of medical ...,http://www.linkedin.com/in/ajackerman,,Product Management ~ Strategic Product Positio...,,
41,in-ajosephkatz,Greater Nashville Area,Medical Devices,"A driven account manager, Joseph has excelled ...",http://www.linkedin.com/in/ajosephkatz,,,,
42,in-ajosephprofile,San Francisco Bay Area,Medical Devices,,http://www.linkedin.com/in/ajosephprofile,,,,
43,in-akarnold,Greater Los Angeles Area,Medical Devices,- Medical device executive with nearly 20 year...,http://www.linkedin.com/in/akarnold,,,"Management and Business Development, Strategic...",
44,in-akhildeshpande,Greater Los Angeles Area,Medical Devices,Marketing and Strategy professional with 10+ y...,http://www.linkedin.com/in/akhildeshpande,,,,
45,in-akoslowsky,Greater Chicago Area,Medical Devices,Five successful years of medical device sales ...,http://www.linkedin.com/in/akoslowsky,,"Territory Management (Sales), Customer Service...",,
46,in-akumar,Greater Minneapolis-St. Paul Area,Medical Devices,,http://www.linkedin.com/in/akumar,,,,
47,in-alanfinnerty,"Gloucester, United Kingdom",Medical Devices,Medical Device technical professional experien...,http://uk.linkedin.com/in/alanfinnerty,,,,
48,in-alanhow,"London, United Kingdom",Medical Devices,,http://uk.linkedin.com/in/alanhow,,,,
49,in-alanlucasbradley,San Francisco Bay Area,Medical Devices,,http://www.linkedin.com/in/alanlucasbradley,,,"west coast swing dancing, surfing, snowboarding",
50,in-alanmcnulty,"Sheffield, United Kingdom",Medical Devices,I have worked in the medical field for over 20...,http://uk.linkedin.com/in/alanmcnulty,,"Sales, marketing and product development / design","Yoga, outdoor pursuits, French and my gorgeous...",
51,in-alanscivolutions,"Charlotte, North Carolina Area",Medical Devices,Healthcare R&D Manufacturing PackagingConnect ...,http://www.linkedin.com/in/alanscivolutions,,,"Strategic planning, graphics & design, product...",
52,in-alasdarbrowne,Ireland,Medical Devices,"Leadership Coach, member of the International ...",http://ie.linkedin.com/in/alasdarbrowne,,,1. Step Change in Performance achieved through...,
53,in-alaybhayani,"Pasadena, California",Medical Devices,,http://www.linkedin.com/in/alaybhayani,,,,

## Let's build an index now...

This should somewhat speed up the SQL query

In [23]:
conn = sqlite3.connect('linkedin.db')

conn.execute('begin transaction')
conn.execute('drop index if exists people_industry')
conn.execute("create index people_industry on people(industry)")
conn.execute('commit')

In [24]:
%%time
# Treat the view as a table, see what's there
pd.read_sql_query('select * from people where industry="Medical Devices"', conn)

# In our tests, this was 5x faster!

CPU times: user 3.34 ms, sys: 20 µs, total: 3.36 ms
Wall time: 3.36 ms

,_id,locality,industry,summary,url,overview_html,specilities,interests,homepage
0,in-00000001,United States,Medical Devices,SALES MANAGEMENT / BUSINESS DEVELOPMENT / PROJ...,http://www.linkedin.com/in/00000001,,,,
1,in-13806219531,China,Medical Devices,,http://cn.linkedin.com/in/13806219531,,,,
2,in-1scottsanderson,Greater Nashville Area,Medical Devices,"Whether achieving new highs in medical sales, ...",http://www.linkedin.com/in/1scottsanderson,,"Customer Service, Sales Growth, Direct Sales, ...",,
3,in-2008annvu,"Rochester, New York Area",Medical Devices,Change agent and proactive leader that drives ...,http://www.linkedin.com/in/2008annvu,,,,
4,in-2johnstroh,"Orange County, California Area",Medical Devices,Contact –email: johnstroh@verizon.netmobile: 7...,http://www.linkedin.com/in/2johnstroh,,,"John Stroh – President, CEO, COO, CFO, Directo...",
5,in-4mikeoshea,"Houston, Texas Area",Medical Devices,Seeking sales position in the medical or diagn...,http://www.linkedin.com/in/4mikeoshea,,Capital Equipment | Medical Devices | Strategi...,,
6,in-aabose,"San Ramon, California",Medical Devices,Results driven engineering management professi...,http://www.linkedin.com/in/aabose,,,,
7,in-aarisrand,"Tianjin Suburb, China",Medical Devices,,http://cn.linkedin.com/in/aarisrand,,,,
8,in-aaronburton,Dallas/Fort Worth Area,Medical Devices,,http://www.linkedin.com/in/aaronburton,,,,
9,in-aaronmback,Cincinnati Area,Medical Devices,Administration of network applications includi...,http://www.linkedin.com/in/aaronmback,,,,
10,in-abbasbohra,Greater Los Angeles Area,Medical Devices,,http://www.linkedin.com/in/abbasbohra,,,,
11,in-abbypratt,Washington D.C. Metro Area,Medical Devices,,http://www.linkedin.com/in/abbypratt,,,,
12,in-abefadakar,"San Jose, California",Medical Devices,10 plus years of experience with increasing re...,http://www.linkedin.com/in/abefadakar,,Software Quality Engineer/Validation Engineer/...,,
13,in-abelang,Singapore,Medical Devices,,http://sg.linkedin.com/in/abelang,,,,
14,in-abhilashchakraverty,"Bengaluru Area, India",Medical Devices,,http://in.linkedin.com/in/abhilashchakraverty,,,,
15,in-abhinavramani,San Francisco Bay Area,Medical Devices,I am a graduate Mechanical Engineering student...,http://www.linkedin.com/in/abhinavramani,,,,
16,in-abhinnagupta,"New Delhi Area, India",Medical Devices,,http://in.linkedin.com/in/abhinnagupta,,,,
17,in-abhishekgautam,"Utica, New York Area",Medical Devices,Experienced professional (in both individual c...,http://www.linkedin.com/in/abhishekgautam,,,,
18,in-acaru,Greater New York City Area,Medical Devices,Responsible for launching Cellulaze- the game ...,http://www.linkedin.com/in/acaru,,,"Baseball, Football, Golf, Fishing, Traveling",
19,in-accetturo,Greater Seattle Area,Medical Devices,,http://www.linkedin.com/in/accetturo,,,,
20,in-acheb,San Francisco Bay Area,Medical Devices,,http://www.linkedin.com/in/acheb,,,,
21,in-acunanarvaez,San Francisco Bay Area,Medical Devices,,http://www.linkedin.com/in/acunanarvaez,,,,
22,in-adamazzara,Greater San Diego Area,Medical Devices,,http://www.linkedin.com/in/adamazzara,,,,
23,in-adambrody,Greater Chicago Area,Medical Devices,,http://www.linkedin.com/in/adambrody,,,,
24,in-adamfrilotwilliams,Greater Atlanta Area,Medical Devices,Quality Engineering professional with experien...,http://www.linkedin.com/in/adamfrilotwilliams,,,,
25,in-adamgrabowski,Greater Chicago Area,Medical Devices,,http://www.linkedin.com/in/adamgrabowski,,,,
26,in-adamjacobson,Greater Boston Area,Medical Devices,,http://www.linkedin.com/in/adamjacobson,,,,
27,in-adamkalbermatten,Greater New York City Area,Medical Devices,,http://www.linkedin.com/in/adamkalbermatten,,,Professional\n-\tStatistical Sciences: Six Sig...,
28,in-adamsummer,"Philadelphia, Pennsylvania",Medical Devices,,http://www.linkedin.com/in/adamsummer,,,,
29,in-adavenpo,Greater Boston Area,Medical Devices,While I am currently developing medical image ...,http://www.linkedin.com/in/adavenpo,,"C, C++, Objective C, HTML5, WebGL, Perl, embed...","ham radio, economics, finance, Christian theology",
30,in-adityapolasani,"Cockeysville, Maryland",Medical Devices,• Successful track record in building multiple...,http://www.linkedin.com/in/adityapolasani,,,"Investing, Reading, Sailing, Mountain Biking, ...",
31,in-adrianroji,Greater New York City Area,Medical Devices,"EXECUTIVE SUMMARYA global leader, passionate a...",http://www.linkedin.com/in/adrianroji,,,,
32,in-advclinicals,Greater Minneapolis-St. Paul Area,Medical Devices,,http://www.linkedin.com/in/advclinicals,,,,
33,in-aganesh,"Bengaluru, Karnataka, India",Medical Devices,Corporate Quality professional having experien...,http://in.linkedin.com/in/aganesh,,"Six Sigma black belt, ISO 9000, ISO 14000, ISO...","Six Sigma in each regime of organization, Qual...",
34,in-agupta5,San Francisco Bay Area,Medical Devices,,http://www.linkedin.com/in/agupta5,,,,
35,in-aharrold,"Brighton, United Kingdom",Medical Devices,,http://uk.linkedin.com/in/aharrold,,,,
36,in-ahmadghaddar,United Arab Emirates,Medical Devices,All my experience has been in the Medical devi...,http://ae.linkedin.com/in/ahmadghaddar,,,Sports\nFood & Beverage,
37,in-ahosseini,Greater Boston Area,Medical Devices,I study the in-vivo motion analysis of human j...,http://www.linkedin.com/in/ahosseini,"<dl id=""overview""><dt id=""overview-summary-cur...",,,
38,in-aidancasey,"London, United Kingdom",Medical Devices,Senior Quality professional with extensive Qua...,http://uk.linkedin.com/in/aidancasey,,,,
39,in-aislyn,Greater Boston Area,Medical Devices,,http://www.linkedin.com/in/aislyn,,,,
40,in-ajackerman,Greater Milwaukee Area,Medical Devices,Andy Ackerman is a 10 year veteren of medical ...,http://www.linkedin.com/in/ajackerman,,Product Management ~ Strategic Product Positio...,,
41,in-ajosephkatz,Greater Nashville Area,Medical Devices,"A driven account manager, Joseph has excelled ...",http://www.linkedin.com/in/ajosephkatz,,,,
42,in-ajosephprofile,San Francisco Bay Area,Medical Devices,,http://www.linkedin.com/in/ajosephprofile,,,,
43,in-akarnold,Greater Los Angeles Area,Medical Devices,- Medical device executive with nearly 20 year...,http://www.linkedin.com/in/akarnold,,,"Management and Business Development, Strategic...",
44,in-akhildeshpande,Greater Los Angeles Area,Medical Devices,Marketing and Strategy professional with 10+ y...,http://www.linkedin.com/in/akhildeshpande,,,,
45,in-akoslowsky,Greater Chicago Area,Medical Devices,Five successful years of medical device sales ...,http://www.linkedin.com/in/akoslowsky,,"Territory Management (Sales), Customer Service...",,
46,in-akumar,Greater Minneapolis-St. Paul Area,Medical Devices,,http://www.linkedin.com/in/akumar,,,,
47,in-alanfinnerty,"Gloucester, United Kingdom",Medical Devices,Medical Device technical professional experien...,http://uk.linkedin.com/in/alanfinnerty,,,,
48,in-alanhow,"London, United Kingdom",Medical Devices,,http://uk.linkedin.com/in/alanhow,,,,
49,in-alanlucasbradley,San Francisco Bay Area,Medical Devices,,http://www.linkedin.com/in/alanlucasbradley,,,"west coast swing dancing, surfing, snowboarding",
50,in-alanmcnulty,"Sheffield, United Kingdom",Medical Devices,I have worked in the medical field for over 20...,http://uk.linkedin.com/in/alanmcnulty,,"Sales, marketing and product development / design","Yoga, outdoor pursuits, French and my gorgeous...",
51,in-alanscivolutions,"Charlotte, North Carolina Area",Medical Devices,Healthcare R&D Manufacturing PackagingConnect ...,http://www.linkedin.com/in/alanscivolutions,,,"Strategic planning, graphics & design, product...",
52,in-alasdarbrowne,Ireland,Medical Devices,"Leadership Coach, member of the International ...",http://ie.linkedin.com/in/alasdarbrowne,,,1. Step Change in Performance achieved through...,
53,in-alaybhayani,"Pasadena, California",Medical Devices,,http://www.linkedin.com/in/alaybhayani,,,,

In [25]:
conn = sqlite3.connect('linkedin.db')

people_df = pd.read_sql_query('select * from people limit 500', conn)
experience_df = pd.read_sql_query('select * from experience limit 5000', conn)
skills_df = pd.read_sql_query('select * from skills limit 8000', conn)

print ("%d people"%len(people_df))
print ("%d experiences"%len(experience_df))
print ("%d skills"%len(skills_df))

500 people
5000 experiences
8000 skills

In [26]:
def merge(S,T,l_on,r_on):
    ret = pd.DataFrame()
    count = 0
    for s_index in range(0, len(S)):
        for t_index in range(0, len(T)):
            count = count + 1
            if S.loc[s_index, l_on] == T.loc[t_index, r_on]:
                ret = ret.append(S.loc[s_index].append(T.loc[t_index].drop(labels=r_on)), ignore_index=True)

    print('Merge compared %d tuples'%count)
    return ret

In [27]:
%%time
# Here's a test join, with people and their experiences.  We can see how many
# comparisons are made

merge(people_df, experience_df, '_id', 'person')

Merge compared 2500000 tuples
CPU times: user 35.2 s, sys: 124 ms, total: 35.4 s
Wall time: 35.4 s

,_id,locality,industry,summary,url,overview_html,specilities,interests,homepage,org,title,end,start,desc,pos
0,in-00001,"Antwerp Area, Belgium",Pharmaceuticals,Ph.D. scientist with background in cancer rese...,http://be.linkedin.com/in/00001,"<dl id=""overview""><dt id=""overview-summary-cur...","Biomarkers in Oncology, Cancer Genomics, Molec...",,,Johnson and Johnson,"Senior Scientist, Oncology Biomarkers",Present,November 2009,Biomarker Leader for compounds in clinical dev...,0
1,in-00001,"Antwerp Area, Belgium",Pharmaceuticals,Ph.D. scientist with background in cancer rese...,http://be.linkedin.com/in/00001,"<dl id=""overview""><dt id=""overview-summary-cur...","Biomarkers in Oncology, Cancer Genomics, Molec...",,,Albert Einstein Medical Center,Associate at Dept of Molecular Genetics,,September 2008,Single Cell Gene expression.,1
2,in-00001,"Antwerp Area, Belgium",Pharmaceuticals,Ph.D. scientist with background in cancer rese...,http://be.linkedin.com/in/00001,"<dl id=""overview""><dt id=""overview-summary-cur...","Biomarkers in Oncology, Cancer Genomics, Molec...",,,Columbia University,Associate Research Scientist,,August 2006,Work on peptide to restore wt p53 function in ...,2
3,in-00001,"Antwerp Area, Belgium",Pharmaceuticals,Ph.D. scientist with background in cancer rese...,http://be.linkedin.com/in/00001,"<dl id=""overview""><dt id=""overview-summary-cur...","Biomarkers in Oncology, Cancer Genomics, Molec...",,,Memorial Sloan Kettering Cancer Center,Post Doctoral Research Fellow,,January 2003,Molecular profiling of colorectal cancer.,3
4,in-00001,"Antwerp Area, Belgium",Pharmaceuticals,Ph.D. scientist with background in cancer rese...,http://be.linkedin.com/in/00001,"<dl id=""overview""><dt id=""overview-summary-cur...","Biomarkers in Oncology, Cancer Genomics, Molec...",,,Sahlgrenska University Hospital,Research Scientist,,November 2001,Cancer Research at Dept of Surgery.Molecular p...,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2223,in-3256068,"Chengdu City, China",Real Estate,My company specializes offering a total busine...,http://cn.linkedin.com/in/3256068,,"advertising, cash management, cashier, closing...","movies, travel and making friends",,Servcorp,PR & Marketing Manager,,October 2007,Develops and maintains business relationship w...,1
2224,in-3256068,"Chengdu City, China",Real Estate,My company specializes offering a total busine...,http://cn.linkedin.com/in/3256068,,"advertising, cash management, cashier, closing...","movies, travel and making friends",,Starbucks,Shift Supervisor,,January 2006,Assists the store manager in executing store o...,2
2225,in-3256068,"Chengdu City, China",Real Estate,My company specializes offering a total busine...,http://cn.linkedin.com/in/3256068,,"advertising, cash management, cashier, closing...","movies, travel and making friends",,McDonald's Corporation,PR & Marketing,,January 2001,,3
2226,in-3256068,"Chengdu City, China",Real Estate,My company specializes offering a total busine...,http://cn.linkedin.com/in/3256068,,"advertising, cash management, cashier, closing...","movies, travel and making friends",,McDonald's Corporation,Marketing Manager,,January 2001,Hires and trains marketing coordinatorsDevelop...,4
2227,in-3256068,"Chengdu City, China",Real Estate,My company specializes offering a total busine...,http://cn.linkedin.com/in/3256068,,"advertising, cash management, cashier, closing...","movies, travel and making friends",,McDonald's Corporation,Marketing Manager,,January 2001,Hires and trains marketing coordinatorsDevelop...,5

In [28]:
# Let's find all people (by ID) who have Marketing as a skill

mktg_df = skills_df[skills_df['value'] == 'Marketing'].reset_index()[['person']]
mktg_df

                    person
0              in-01011985
1            in-01mihaipop
2          in-021370900310
3              in-02k17m87
4            in-0311101678
5   in-05stephaniemartinez
6            in-12magazine
7              in-140hours
8                 in-19655
9            in-1alyssalee
10        in-1areauntaylor
11            in-1devverma
12             in-1iankerr
13           in-1jeffmeyer
14          in-1rickcooper
15            in-2008sacks
16              in-3256068
17               in-4ashby
18        in-6028blakeford
19       in-71toddphillips
20      in-808karenelsmore
21            in-916movers
22    in-9tot3vacaturebank

In [29]:
%%time
merge(merge(people_df, experience_df, '_id', 'person'), mktg_df, '_id', 'person')

Merge compared 2500000 tuples
Merge compared 51244 tuples
CPU times: user 36.6 s, sys: 134 ms, total: 36.7 s
Wall time: 36.7 s

,_id,locality,industry,summary,url,overview_html,specilities,interests,homepage,org,title,end,start,desc,pos
0,in-01011985,"Hyderabad Area, India",Biotechnology,•Having 12 Yrs of Experience in Marketing & In...,http://in.linkedin.com/in/01011985,,"Marketing , Operations Management , P&L Head, ...",,,BioGenex,Senior Manager -IBD,Present,September 2012,,0
1,in-01mihaipop,Romania,Marketing și publicitate,Engineer...Product manager FMCG...Product Mana...,http://ro.linkedin.com/in/01mihaipop,,"IT&C/Internet, Media / Publishing, Services, A...",,,SHAKE advertising,Managing partner,Present,August 2010,"Shake Advertising is an integrated agency, we ...",0
2,in-01mihaipop,Romania,Marketing și publicitate,Engineer...Product manager FMCG...Product Mana...,http://ro.linkedin.com/in/01mihaipop,,"IT&C/Internet, Media / Publishing, Services, A...",,,Saint Discount,Owner,,January 2010,Company with a wide area of products oriented ...,1
3,in-01mihaipop,Romania,Marketing și publicitate,Engineer...Product manager FMCG...Product Mana...,http://ro.linkedin.com/in/01mihaipop,,"IT&C/Internet, Media / Publishing, Services, A...",,,Zygo Construct,Managing partner,,March 2008,Construction company dealing in diamond cuttin...,2
4,in-01mihaipop,Romania,Marketing și publicitate,Engineer...Product manager FMCG...Product Mana...,http://ro.linkedin.com/in/01mihaipop,,"IT&C/Internet, Media / Publishing, Services, A...",,,Hilti,Product Manager,,August 2007,"Direct Fastening, Screw Fastening & Rotary Dri...",3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,in-3256068,"Chengdu City, China",Real Estate,My company specializes offering a total busine...,http://cn.linkedin.com/in/3256068,,"advertising, cash management, cashier, closing...","movies, travel and making friends",,Servcorp,PR & Marketing Manager,,October 2007,Develops and maintains business relationship w...,1
76,in-3256068,"Chengdu City, China",Real Estate,My company specializes offering a total busine...,http://cn.linkedin.com/in/3256068,,"advertising, cash management, cashier, closing...","movies, travel and making friends",,Starbucks,Shift Supervisor,,January 2006,Assists the store manager in executing store o...,2
77,in-3256068,"Chengdu City, China",Real Estate,My company specializes offering a total busine...,http://cn.linkedin.com/in/3256068,,"advertising, cash management, cashier, closing...","movies, travel and making friends",,McDonald's Corporation,PR & Marketing,,January 2001,,3
78,in-3256068,"Chengdu City, China",Real Estate,My company specializes offering a total busine...,http://cn.linkedin.com/in/3256068,,"advertising, cash management, cashier, closing...","movies, travel and making friends",,McDonald's Corporation,Marketing Manager,,January 2001,Hires and trains marketing coordinatorsDevelop...,4
79,in-3256068,"Chengdu City, China",Real Estate,My company specializes offering a total busine...,http://cn.linkedin.com/in/3256068,,"advertising, cash management, cashier, closing...","movies, travel and making friends",,McDonald's Corporation,Marketing Manager,,January 2001,Hires and trains marketing coordinatorsDevelop...,5

In [30]:
%%time 
merge(merge(people_df, mktg_df, '_id', 'person'), experience_df, '_id', 'person')

Merge compared 11500 tuples
Merge compared 85000 tuples
CPU times: user 1.42 s, sys: 8.09 ms, total: 1.43 s
Wall time: 1.43 s

,_id,locality,industry,summary,url,overview_html,specilities,interests,homepage,org,title,end,start,desc,pos
0,in-01011985,"Hyderabad Area, India",Biotechnology,•Having 12 Yrs of Experience in Marketing & In...,http://in.linkedin.com/in/01011985,,"Marketing , Operations Management , P&L Head, ...",,,BioGenex,Senior Manager -IBD,Present,September 2012,,0
1,in-01mihaipop,Romania,Marketing și publicitate,Engineer...Product manager FMCG...Product Mana...,http://ro.linkedin.com/in/01mihaipop,,"IT&C/Internet, Media / Publishing, Services, A...",,,SHAKE advertising,Managing partner,Present,August 2010,"Shake Advertising is an integrated agency, we ...",0
2,in-01mihaipop,Romania,Marketing și publicitate,Engineer...Product manager FMCG...Product Mana...,http://ro.linkedin.com/in/01mihaipop,,"IT&C/Internet, Media / Publishing, Services, A...",,,Saint Discount,Owner,,January 2010,Company with a wide area of products oriented ...,1
3,in-01mihaipop,Romania,Marketing și publicitate,Engineer...Product manager FMCG...Product Mana...,http://ro.linkedin.com/in/01mihaipop,,"IT&C/Internet, Media / Publishing, Services, A...",,,Zygo Construct,Managing partner,,March 2008,Construction company dealing in diamond cuttin...,2
4,in-01mihaipop,Romania,Marketing și publicitate,Engineer...Product manager FMCG...Product Mana...,http://ro.linkedin.com/in/01mihaipop,,"IT&C/Internet, Media / Publishing, Services, A...",,,Hilti,Product Manager,,August 2007,"Direct Fastening, Screw Fastening & Rotary Dri...",3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,in-3256068,"Chengdu City, China",Real Estate,My company specializes offering a total busine...,http://cn.linkedin.com/in/3256068,,"advertising, cash management, cashier, closing...","movies, travel and making friends",,Servcorp,PR & Marketing Manager,,October 2007,Develops and maintains business relationship w...,1
76,in-3256068,"Chengdu City, China",Real Estate,My company specializes offering a total busine...,http://cn.linkedin.com/in/3256068,,"advertising, cash management, cashier, closing...","movies, travel and making friends",,Starbucks,Shift Supervisor,,January 2006,Assists the store manager in executing store o...,2
77,in-3256068,"Chengdu City, China",Real Estate,My company specializes offering a total busine...,http://cn.linkedin.com/in/3256068,,"advertising, cash management, cashier, closing...","movies, travel and making friends",,McDonald's Corporation,PR & Marketing,,January 2001,,3
78,in-3256068,"Chengdu City, China",Real Estate,My company specializes offering a total busine...,http://cn.linkedin.com/in/3256068,,"advertising, cash management, cashier, closing...","movies, travel and making friends",,McDonald's Corporation,Marketing Manager,,January 2001,Hires and trains marketing coordinatorsDevelop...,4
79,in-3256068,"Chengdu City, China",Real Estate,My company specializes offering a total busine...,http://cn.linkedin.com/in/3256068,,"advertising, cash management, cashier, closing...","movies, travel and making friends",,McDonald's Corporation,Marketing Manager,,January 2001,Hires and trains marketing coordinatorsDevelop...,5

In [31]:
experience_df.loc[0].drop(labels='person')

org                                    Johnson and Johnson
title                Senior Scientist, Oncology Biomarkers
end                                                Present
start                                        November 2009
desc     Biomarker Leader for compounds in clinical dev...
pos                                                      0
Name: 0, dtype: object

In [32]:
%%time

conn.execute('drop view if exists people500')
conn.execute('drop view if exists experience5000')
conn.execute('drop view if exists skills8000')
conn.execute('create view people500 as select * from people limit 500')
conn.execute('create view experience5000 as select * from experience limit 500')
conn.execute('create view skills8000 as select * from skills limit 500')

pd.read_sql_query('select * from (people500 join skills8000 on _id=person) ps join ' + \
                  'experience5000 ex on ps._id=ex.person and value="Marketing"', conn)

CPU times: user 6.48 ms, sys: 3.02 ms, total: 9.5 ms
Wall time: 33.2 ms

,_id,locality,industry,summary,url,overview_html,specilities,interests,homepage,person,value,pos,org,title,end,start,desc,person,pos
0,in-01011985,"Hyderabad Area, India",Biotechnology,•Having 12 Yrs of Experience in Marketing & In...,http://in.linkedin.com/in/01011985,,"Marketing , Operations Management , P&L Head, ...",,,in-01011985,Marketing,11,BioGenex,Senior Manager -IBD,Present,September 2012,,in-01011985,0
1,in-01mihaipop,Romania,Marketing și publicitate,Engineer...Product manager FMCG...Product Mana...,http://ro.linkedin.com/in/01mihaipop,,"IT&C/Internet, Media / Publishing, Services, A...",,,in-01mihaipop,Marketing,9,Colgate-Palmolive Romania,Product Manager,,March 2006,Leading multinational company in FMCG industry,in-01mihaipop,4
2,in-01mihaipop,Romania,Marketing și publicitate,Engineer...Product manager FMCG...Product Mana...,http://ro.linkedin.com/in/01mihaipop,,"IT&C/Internet, Media / Publishing, Services, A...",,,in-01mihaipop,Marketing,9,Dacia,Junior CAE Engineer,,September 2005,CAD/CAE,in-01mihaipop,5
3,in-01mihaipop,Romania,Marketing și publicitate,Engineer...Product manager FMCG...Product Mana...,http://ro.linkedin.com/in/01mihaipop,,"IT&C/Internet, Media / Publishing, Services, A...",,,in-01mihaipop,Marketing,9,Hilti,Product Manager,,August 2007,"Direct Fastening, Screw Fastening & Rotary Dri...",in-01mihaipop,3
4,in-01mihaipop,Romania,Marketing și publicitate,Engineer...Product manager FMCG...Product Mana...,http://ro.linkedin.com/in/01mihaipop,,"IT&C/Internet, Media / Publishing, Services, A...",,,in-01mihaipop,Marketing,9,SHAKE advertising,Managing partner,Present,August 2010,"Shake Advertising is an integrated agency, we ...",in-01mihaipop,0
5,in-01mihaipop,Romania,Marketing și publicitate,Engineer...Product manager FMCG...Product Mana...,http://ro.linkedin.com/in/01mihaipop,,"IT&C/Internet, Media / Publishing, Services, A...",,,in-01mihaipop,Marketing,9,Saint Discount,Owner,,January 2010,Company with a wide area of products oriented ...,in-01mihaipop,1
6,in-01mihaipop,Romania,Marketing și publicitate,Engineer...Product manager FMCG...Product Mana...,http://ro.linkedin.com/in/01mihaipop,,"IT&C/Internet, Media / Publishing, Services, A...",,,in-01mihaipop,Marketing,9,Zygo Construct,Managing partner,,March 2008,Construction company dealing in diamond cuttin...,in-01mihaipop,2
7,in-021370900310,Austria,Telekommunikation,,http://at.linkedin.com/in/021370900310,,,"Technology and gadgets, languages, middle east...",,in-021370900310,Marketing,3,Millicom Chad - Tigo,CEO,,October 2008,NASDAQ: MICC - Management of leading mobile op...,in-021370900310,2
8,in-021370900310,Austria,Telekommunikation,,http://at.linkedin.com/in/021370900310,,,"Technology and gadgets, languages, middle east...",,in-021370900310,Marketing,3,Millicom Paraguay - Tigo,CEO,Present,2012,,in-021370900310,0
9,in-021370900310,Austria,Telekommunikation,,http://at.linkedin.com/in/021370900310,,,"Technology and gadgets, languages, middle east...",,in-021370900310,Marketing,3,Millicom Rwanda - Tigo,CEO,,January 2011,,in-021370900310,1
10,in-021370900310,Austria,Telekommunikation,,http://at.linkedin.com/in/021370900310,,,"Technology and gadgets, languages, middle east...",,in-021370900310,Marketing,3,Mobilkom Austria,Customer Retention Analyst,,March 1998,Design and implement save and winback processe...,in-021370900310,8
11,in-021370900310,Austria,Telekommunikation,,http://at.linkedin.com/in/021370900310,,,"Technology and gadgets, languages, middle east...",,in-021370900310,Marketing,3,Mobilkom Austria,Customer Service Manager,,June 1999,Set up and manage 150 employee customer servic...,in-021370900310,7
12,in-021370900310,Austria,Telekommunikation,,http://at.linkedin.com/in/021370900310,,,"Technology and gadgets, languages, middle east...",,in-021370900310,Marketing,3,Mobilkom Austria,International Special Project Manager,,May 2003,Worked on due diligences and bid books for pro...,in-021370900310,5
13,in-021370900310,Austria,Telekommunikation,,http://at.linkedin.com/in/021370900310,,,"Technology and gadgets, languages, middle east...",,in-021370900310,Marketing,3,Orascom Télécom Algérie,Head of Postpaid and Professional Marketing,,September 2006,,in-021370900310,3
14,in-021370900310,Austria,Telekommunikation,,http://at.linkedin.com/in/021370900310,,,"Technology and gadgets, languages, middle east...",,in-021370900310,Marketing,3,Orascom Télécom Algérie,Head of Products and Services Marketing,,2005,,in-021370900310,4
15,in-021370900310,Austria,Telekommunikation,,http://at.linkedin.com/in/021370900310,,,"Technology and gadgets, languages, middle east...",,in-021370900310,Marketing,3,Si.mobil - Vodafone Slovenia,Marketing Director,,March 2001,Relaunch marketing organisation after takeover...,in-021370900310,6
16,in-02k17m87,Greater Los Angeles Area,Market Research,,http://www.linkedin.com/in/02k17m87,,,,,in-02k17m87,Marketing,15,Ace Metrix,Assistant Manager of Operations,Present,April 2010,I'm responsible for a multitude of tasks in 3 ...,in-02k17m87,0
17,in-02k17m87,Greater Los Angeles Area,Market Research,,http://www.linkedin.com/in/02k17m87,,,,,in-02k17m87,Marketing,15,Hilgard House Hotel,Front Desk Clerk,,June 2009,In the position of Front Desk Clerk at the Hil...,in-02k17m87,1
18,in-02k17m87,Greater Los Angeles Area,Market Research,,http://www.linkedin.com/in/02k17m87,,,,,in-02k17m87,Marketing,15,University of Southern California,Doheny Library Sr. Assistant,,2006,While in school at USC I worked at the library...,in-02k17m87,2
19,in-0311101678,"Kansas City, Missouri Area",Consumer Services,"Analytical problem-solver, able to anticipate ...",http://www.linkedin.com/in/0311101678,,"Relationship Building, Marketing and Account M...",,,in-0311101678,Marketing,2,Freightquote.com,Account Representative,Present,July 2011,,in-0311101678,0
20,in-0311101678,"Kansas City, Missouri Area",Consumer Services,"Analytical problem-solver, able to anticipate ...",http://www.linkedin.com/in/0311101678,,"Relationship Building, Marketing and Account M...",,,in-0311101678,Marketing,2,Freightquote.com,account,Present,2011,,in-0311101678,1
21,in-05stephaniemartinez,"Pompano Beach, Florida",Marketing and Advertising,MARKETING MANAGERDynamic and confident marketi...,http://www.linkedin.com/in/05stephaniemartinez,,,,,in-05stephaniemartinez,Marketing,6,"Bright Idea Design Studios, Inc.",Marketing Manager,,January 2010,• Assisted with business plan development and ...,in-05stephaniemartinez,4
22,in-05stephaniemartinez,"Pompano Beach, Florida",Marketing and Advertising,MARKETING MANAGERDynamic and confident marketi...,http://www.linkedin.com/in/05stephaniemartinez,,,,,in-05stephaniemartinez,Marketing,6,Kaplan University,Marketing Coordinator,,August 2010,• Managed marketing assets inventory for the t...,in-05stephaniemartinez,3
23,in-05stephaniemartinez,"Pompano Beach, Florida",Marketing and Advertising,MARKETING MANAGERDynamic and confident marketi...,http://www.linkedin.com/in/05stephaniemartinez,,,,,in-05stephaniemartinez,Marketing,6,Kaplan University,Marketing Specialist,,September 2011,• Created holistic marketing approaches to mul...,in-05stephaniemartinez,2
24,in-05stephaniemartinez,"Pompano Beach, Florida",Marketing and Advertising,MARKETING MANAGERDynamic and confident marketi...,http://www.linkedin.com/in/05stephaniemartinez,,,,,in-05stephaniemartinez,Marketing,6,L.B. Limited & Associates,Assistant Offce Manager / Project Coordinator,,January 2008,• Acted as a liaison in coordinating public in...,in-05stephaniemartinez,5
25,in-05stephaniemartinez,"Pompano Beach, Florida",Marketing and Advertising,MARKETING MANAGERDynamic and confident marketi...,http://www.linkedin.com/in/05stephaniemartinez,,,,,in-05stephaniemartinez,Marketing,6,MoreVisibility,Client Strategist,,January 2012,,in-05stephaniemartinez,1
26,in-05stephaniemartinez,"Pompano Beach, Florida",Marketing and Advertising,MARKETING MANAGERDynamic and confident marketi...,http://www.linkedin.com/in/05stephaniemartinez,,,,,in-05stephaniemartinez,Marketing,6,Palm Beach Atlantic University | Rinker School...,Marketing/Communications Coordinator,,August 2008,• Liaison between international business profe...,in-05stephaniemartinez,6
27,in-05stephaniemartinez,"Pompano Beach, Florida",Marketing and Advertising,MARKETING MANAGERDynamic and confident marketi...,http://www.linkedin.com/in/05stephaniemartinez,,,,,in-05stephaniemartinez,Marketing,6,"Ryder Systems, Inc",INROADS Recruiting Intern,,May 2008,• Organized and created job profiles in conjun...,in-05stephaniemartinez,7
28,in-05stephaniemartinez,"Pompano Beach, Florida",Marketing and Advertising,MARKETING MANAGERDynamic and confident marketi...,http://www.linkedin.com/in/05stephaniemartinez,,,,,in-05stephaniemartinez,Marketing,6,"Ryder Systems, Inc.",INROADS Payroll/Benefits Intern,,June 2007,• Assisted in altering employee garnishment or...,in-05stephaniemartinez,8
29,in-05stephaniemartinez,"Pompano Beach, Florida",Marketing and Advertising,MARKETING MANAGERDynamic and confident marketi...,http://www.linkedin.com/in/05stephaniemartinez,,,,,in-05stephaniemartinez,Marketing,6,StraighterLine,Marketing Consultant,Present,October 2012,,in-05stephaniemartinez,0

In [33]:
# Join using a *map*, which is a kind of in-memory index
# from keys to (single) values
def merge_map(S,T,l_on,r_on):
    ret = pd.DataFrame()
    T_map = {}
    count = 0
    # Take each value in the r_on field, and
    # make a map entry for it
    for t_index in range(0, len(T)):
        # Make sure we aren't overwriting an entry!
        assert (T.loc[t_index,r_on] not in T_map)
        T_map[T.loc[t_index,r_on]] = T.loc[t_index]
        count = count + 1

    # Now find matches
    for s_index in range(0, len(S)):
        count = count + 1
        if S.loc[s_index, l_on] in T_map:
                ret = ret.append(S.loc[s_index].append(T_map[S.loc[s_index, l_on]].drop(labels=r_on)), ignore_index=True)

    print('Merge compared %d tuples'%count)
    return ret

In [34]:
%%time

# Here's a test join, with people and their experiences.  We can see how many
# comparisons are made
merge_map(experience_df, people_df, 'person', '_id')

Merge compared 5500 tuples
CPU times: user 5.76 s, sys: 90.8 ms, total: 5.85 s
Wall time: 5.76 s

,org,title,end,start,desc,person,pos,locality,industry,summary,url,overview_html,specilities,interests,homepage
0,Johnson and Johnson,"Senior Scientist, Oncology Biomarkers",Present,November 2009,Biomarker Leader for compounds in clinical dev...,in-00001,0,"Antwerp Area, Belgium",Pharmaceuticals,Ph.D. scientist with background in cancer rese...,http://be.linkedin.com/in/00001,"<dl id=""overview""><dt id=""overview-summary-cur...","Biomarkers in Oncology, Cancer Genomics, Molec...",,
1,Albert Einstein Medical Center,Associate at Dept of Molecular Genetics,,September 2008,Single Cell Gene expression.,in-00001,1,"Antwerp Area, Belgium",Pharmaceuticals,Ph.D. scientist with background in cancer rese...,http://be.linkedin.com/in/00001,"<dl id=""overview""><dt id=""overview-summary-cur...","Biomarkers in Oncology, Cancer Genomics, Molec...",,
2,Columbia University,Associate Research Scientist,,August 2006,Work on peptide to restore wt p53 function in ...,in-00001,2,"Antwerp Area, Belgium",Pharmaceuticals,Ph.D. scientist with background in cancer rese...,http://be.linkedin.com/in/00001,"<dl id=""overview""><dt id=""overview-summary-cur...","Biomarkers in Oncology, Cancer Genomics, Molec...",,
3,Memorial Sloan Kettering Cancer Center,Post Doctoral Research Fellow,,January 2003,Molecular profiling of colorectal cancer.,in-00001,3,"Antwerp Area, Belgium",Pharmaceuticals,Ph.D. scientist with background in cancer rese...,http://be.linkedin.com/in/00001,"<dl id=""overview""><dt id=""overview-summary-cur...","Biomarkers in Oncology, Cancer Genomics, Molec...",,
4,Sahlgrenska University Hospital,Research Scientist,,November 2001,Cancer Research at Dept of Surgery.Molecular p...,in-00001,4,"Antwerp Area, Belgium",Pharmaceuticals,Ph.D. scientist with background in cancer rese...,http://be.linkedin.com/in/00001,"<dl id=""overview""><dt id=""overview-summary-cur...","Biomarkers in Oncology, Cancer Genomics, Molec...",,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2223,Servcorp,PR & Marketing Manager,,October 2007,Develops and maintains business relationship w...,in-3256068,1,"Chengdu City, China",Real Estate,My company specializes offering a total busine...,http://cn.linkedin.com/in/3256068,,"advertising, cash management, cashier, closing...","movies, travel and making friends",
2224,Starbucks,Shift Supervisor,,January 2006,Assists the store manager in executing store o...,in-3256068,2,"Chengdu City, China",Real Estate,My company specializes offering a total busine...,http://cn.linkedin.com/in/3256068,,"advertising, cash management, cashier, closing...","movies, travel and making friends",
2225,McDonald's Corporation,PR & Marketing,,January 2001,,in-3256068,3,"Chengdu City, China",Real Estate,My company specializes offering a total busine...,http://cn.linkedin.com/in/3256068,,"advertising, cash management, cashier, closing...","movies, travel and making friends",
2226,McDonald's Corporation,Marketing Manager,,January 2001,Hires and trains marketing coordinatorsDevelop...,in-3256068,4,"Chengdu City, China",Real Estate,My company specializes offering a total busine...,http://cn.linkedin.com/in/3256068,,"advertising, cash management, cashier, closing...","movies, travel and making friends",
2227,McDonald's Corporation,Marketing Manager,,January 2001,Hires and trains marketing coordinatorsDevelop...,in-3256068,5,"Chengdu City, China",Real Estate,My company specializes offering a total busine...,http://cn.linkedin.com/in/3256068,,"advertising, cash management, cashier, closing...","movies, travel and making friends",

In [ ]:
%%time

def slow_op(x):
    # Simulate doing something that takes 100msec
    time.sleep(0.1)
    return x
    
# Apply the slow_op to each row (across the cols)
people_df.apply(slow_op,axis='columns')

In [37]:
%%time

# Apply the slow_op to each row (across the cols)
people_df.swifter.apply(slow_op,axis='columns')

CPU times: user 19.7 ms, sys: 2.1 ms, total: 21.8 ms
Wall time: 2.21 s

,_id,locality,industry,summary,url,overview_html,specilities,interests,homepage
0,in-00000001,United States,Medical Devices,SALES MANAGEMENT / BUSINESS DEVELOPMENT / PROJ...,http://www.linkedin.com/in/00000001,,,,
1,in-00001,"Antwerp Area, Belgium",Pharmaceuticals,Ph.D. scientist with background in cancer rese...,http://be.linkedin.com/in/00001,"<dl id=""overview""><dt id=""overview-summary-cur...","Biomarkers in Oncology, Cancer Genomics, Molec...",,
2,in-00006,"San Francisco, California",Research,I am interested in inventing new methods to co...,http://www.linkedin.com/in/00006,"<dl id=""overview""><dt id=""overview-summary-cur...",,"personal genomics, nanotechnology","{'BIOMOD': ['http://biomod.net/'], 'Company We..."
3,in-000montgomery,San Francisco Bay Area,Information Technology and Services,OBJECTIVE<Primary> Work on an interesting and ...,http://www.linkedin.com/in/000montgomery,,,,
4,in-000vijaychauhan,"Chennai Area, India",Aviation & Aerospace,"Experience in Avionics Systems, Embedded Syste...",http://in.linkedin.com/in/000vijaychauhan,,,"Literature, Philosophy, Music",
...,...,...,...,...,...,...,...,...,...
495,in-314113b,Singapore,Marketing and Advertising,,http://sg.linkedin.com/in/314113b,,,,
496,in-3151986,"Nagpur Area, India",Computer Software,,http://in.linkedin.com/in/3151986,,,,
497,in-3204634531,"Milan Area, Italy",Informatica e servizi,Siebel On Premise project experience with vers...,http://it.linkedin.com/in/3204634531,,"Siebel On Premise, Siebel On Demand, Java, Jav...",,
498,in-3256068,"Chengdu City, China",Real Estate,My company specializes offering a total busine...,http://cn.linkedin.com/in/3256068,,"advertising, cash management, cashier, closing...","movies, travel and making friends",
499,in-326009,Indonesia,Pertambangan & Logam,INDONESIA STEAM COAL GROUPiskandarmiyamotohazn...,http://id.linkedin.com/in/326009,,,,