# Overview of Part I

As we start our journey into Big Data Analytics, the first thing we need to do is **get the data** in the form we need for analysis!  We'll start with an overview of how to acquire and *wrangle* data.

This notebook gives us a series of examples for:

* Acquiring data from files and remote sources
* Information extraction over HTML content
* A basic "vocabulary" of operators over tables (the relational algebra)

* "Data wrangling" or integration:
  * Cleaning and filtering data, using rules and based operations
  * Linking data across dataframes or relations
  * The need for approximate match and record linking

## The Motivating Question
To illustrate the principles, we focus on the question of how old company CEOs and founders are.  The question was in part motivated by the following New York Times article:

* Founders of Successful Tech Companies Are Mostly Middle-Aged: https://www.nytimes.com/2019/08/29/business/tech-start-up-founders-nest.html?searchResultPosition=2

So let's test this hypothesis!

In [1]:
# Let's install some libraries useful for processing web data

# For string similarity
!pip3 install py_stringsimjoin

# # lxml to parse xml tree
!pip3 install lxml

Collecting py_stringsimjoin
  Downloading py_stringsimjoin-0.3.2.tar.gz (1.1 MB)
     |████████████████████████████████| 1.1 MB 8.1 MB/s
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from py_stringsimjoin) (1.1.0)
Requirement already satisfied: pandas>=0.16.0 in /usr/local/lib/python3.7/dist-packages (from py_stringsimjoin) (1.1.5)
Collecting PyPrind>=2.9.3
  Downloading PyPrind-2.11.3-py2.py3-none-any.whl (8.4 kB)
Collecting py_stringmatching>=0.2.1
  Downloading py_stringmatching-0.4.2.tar.gz (661 kB)
     |████████████████████████████████| 661 kB 33.7 MB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from py_stringsimjoin) (1.15.0)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.16.0->py_stringsimjoin) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.16.0->py_stringsimjoin) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.16.0->py_stringsimjoin) (2.8.2)
Building wheels for collected packages: py-stringsimjoin, py-stringmatching
  Building wheel for py-stringsimjoin (setup.py) ... done
  Created wheel for py-stringsimjoin: filename=py_stringsimjoin-0.3.2-cp37-cp37m-linux_x86_64.whl size=3724097 sha256=2ed9f7e76ea529f3d207e566a5cb8a4de5a4ca26c48f7fb354899fc23de225ca
  Stored in directory: /root/.cache/pip/wheels/7c/0d/a4/c0a779a4d196bed8ed41ca12be09a93e158e4fc974b59f9fd5
  Building wheel for py-stringmatching (setup.py) ... done
  Created wheel for py-stringmatching: filename=py_stringmatching-0.4.2-cp37-cp37m-linux_x86_64.whl size=2055529 sha256=ba06ee1de693452254f6863392eab242562b617e59f40920e4ad9002055071ac
  Stored in directory: /root/.cache/pip/wheels/7e/12/86/46f9378ae730550dd2f89cad50880e70d66cabedd90074f2d2
Successfully built py-stringsimjoin py-stringmatching
Installing collected packages: PyPrind, py-stringmatching, py-stringsimjoin
Successfully installed PyPrind-2.11.3 py-stringmatching-0.4.2 py-stringsimjoin-0.3.2
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (4.2.6)

In [2]:
# Imports we'll use through the notebook, collected here for simplicity

# For parsing dates and being able to compare
import datetime

# For fetching remote data
import urllib
import urllib.request

# Pandas dataframes and operations
import pandas as pd

# Numpy matrix and array operations
import numpy as np

# Sqlite is a simplistic database
import sqlite3

# Approximate string matching, see 
import py_stringsimjoin as ssj
import py_stringmatching as sm

# Data visualization
import matplotlib

# Part 1: Acquiring Data

To test our hypothesis, we might want:

1. A list of companies (and, for futher details, perhaps their lines of business)
2. A list of company CEOs
3. Ages of the CEOs

We'll go through each of these using real data from the web.

### Reading Structured Data Sources

Let's start by looking up data about companies.  An example of this is at:

https://gist.githubusercontent.com/jvilledieu/c3afe5bc21da28880a30/raw/a344034b82a11433ba6f149afa47e57567d4a18f/Companies.csv

which has some nicely detailed information about companies, their categories, when they were founded, etc.  Let's load this (remote) CSV file into a dataframe.

In [3]:
data = urllib.request.urlopen(\
       'https://gist.github.com/jvilledieu/c3afe5bc21da28880a30/raw/a344034b82a11433ba6f149afa47e57567d4a18f/Companies.csv')

company_data_df = pd.read_csv(data)

In [4]:
# Let's write it to SQL, and read it back

conn = sqlite3.connect('local.db')

company_data_df.to_sql("companies", conn, if_exists="replace", index=False)

pd.read_sql_query('select * from companies', conn)

                                                permalink  ... last_funding_at
0                                   /organization/waywire  ...      30/06/2012
1                         /organization/tv-communications  ...      23/09/2010
2                           /organization/rock-your-paper  ...      09/08/2012
3                          /organization/in-touch-network  ...      01/04/2011
4                                   /organization/n-plusn  ...      04/09/2014
...                                                   ...  ...             ...
47753                                 /organization/zzish  ...      24/03/2014
47754  /organization/zznode-science-and-technology-co-ltd  ...      01/04/2012
47755                           /organization/zzzzapp-com  ...      10/09/2014
47756                          /organization/a-list-games  ...      21/11/2011
47757                                     /organization/x  ...      04/04/2013

[47758 rows x 18 columns]

## Companies' CEOs: a Web Table

Now we need to figure out who the CEOs are for corporations.  One place to look is Wikipedia, which has an HTML table describing the CEOs.

https://en.wikipedia.org/wiki/List_of_chief_executive_officers#List_of_CEOs

Pandas actually makes it easy to read HTML tables...

In [5]:
# Now let's read an HTML table!

company_ceos_df = pd.read_html('https://en.wikipedia.org/wiki/List_of_chief_executive_officers#List_of_CEOs')[0]

company_ceos_df

                       Company  ...     Updated
0                    Accenture  ...  2019-01-31
1           Aditya Birla Group  ...  2018-10-01
2                Adobe Systems  ...  2018-10-01
3                       Agenus  ...  2018-10-01
4                       Airbus  ...  2017-11-14
..                         ...  ...         ...
178                      Wipro  ...  2017-11-11
179                        WWE  ...  2017-11-11
180                Yum! Brands  ...  2017-11-11
181               Zillow Group  ...  2018-12-10
182  Zoom Video Communications  ...  2020-10-12

[183 rows x 6 columns]

## The Problem Gets Harder... Extracting Structured Fields

So far we have companies and CEOs.  But we don't have information on how old the CEOs are!

For a solution, we're going to go back to Wikipedia -- this time looking at the web pages for the CEOs!

This involves "crawling" the CEO pages, and "scraping" the relevant content.  In other words we have to do *information extraction*.

We'll start by constructing a list of CEO web pages, from the Company CEO dataframe above.  For this, we need to take the names and do a bit of tweaking, for example adding underscores instead of spaces.

In [6]:
crawl_list = []

for executive in company_ceos_df['Executive']:
  crawl_list.append('https://en.wikipedia.org/wiki/' + executive.replace(' ', '_'))
 
crawl_list

['https://en.wikipedia.org/wiki/Julie_Sweet',
 'https://en.wikipedia.org/wiki/Kumar_Mangalam_Birla',
 'https://en.wikipedia.org/wiki/Shantanu_Narayen',
 'https://en.wikipedia.org/wiki/Garo_H._Armen',
 'https://en.wikipedia.org/wiki/Guillaume_Faury',
 'https://en.wikipedia.org/wiki/Daniel_Zhang',
 'https://en.wikipedia.org/wiki/Jeff_Bezos',
 'https://en.wikipedia.org/wiki/Lisa_Su',
 'https://en.wikipedia.org/wiki/Stephen_Squeri',
 'https://en.wikipedia.org/wiki/Doug_Parker',
 'https://en.wikipedia.org/wiki/Joseph_R._Swedish',
 'https://en.wikipedia.org/wiki/Tim_Cook',
 'https://en.wikipedia.org/wiki/Lakshmi_Niwas_Mittal',
 'https://en.wikipedia.org/wiki/John_Stankey',
 'https://en.wikipedia.org/wiki/Charles_Woodburn',
 'https://en.wikipedia.org/wiki/Tapan_Singhel',
 'https://en.wikipedia.org/wiki/Carlos_Torres_Vila',
 'https://en.wikipedia.org/wiki/Brian_Moynihan',
 'https://en.wikipedia.org/wiki/Jes_Staley',
 'https://en.wikipedia.org/wiki/Warren_Buffett',
 'https://en.wikipedia.org/wiki/Hubert_Joly',
 'https://en.wikipedia.org/wiki/Sunil_Bharti_Mittal',
 'https://en.wikipedia.org/wiki/Stephen_A._Schwarzman',
 'https://en.wikipedia.org/wiki/Andrew_Mackenzie',
 'https://en.wikipedia.org/wiki/Oliver_Zipse',
 'https://en.wikipedia.org/wiki/Dave_Calhoun',
 'https://en.wikipedia.org/wiki/Rich_Lesser',
 'https://en.wikipedia.org/wiki/Bob_Dudley',
 'https://en.wikipedia.org/wiki/Denise_Morrison',
 'https://en.wikipedia.org/wiki/Mark_Shuttleworth',
 'https://en.wikipedia.org/wiki/Aiman_Ezzat',
 'https://en.wikipedia.org/wiki/Richard_Fairbank',
 'https://en.wikipedia.org/wiki/Jim_Umpleby',
 'https://en.wikipedia.org/wiki/Evan_G._Greenberg',
 'https://en.wikipedia.org/wiki/Chuck_Robbins',
 'https://en.wikipedia.org/wiki/Michael_Corbat',
 'https://en.wikipedia.org/wiki/James_Quincey',
 'https://en.wikipedia.org/wiki/Brian_Humphries',
 'https://en.wikipedia.org/wiki/Brian_L._Roberts',
 'https://en.wikipedia.org/wiki/Tidjane_Thiam',
 'https://en.wikipedia.org/wiki/Ola_Källenius',
 'https://en.wikipedia.org/wiki/Michael_Dell',
 'https://en.wikipedia.org/wiki/Ed_Bastian',
 'https://en.wikipedia.org/wiki/Christian_Sewing',
 'https://en.wikipedia.org/wiki/Frank_Appel',
 'https://en.wikipedia.org/wiki/Roland_Dickey_Jr.',
 'https://en.wikipedia.org/wiki/Edward_D._Breen',
 'https://en.wikipedia.org/wiki/G._V._Prasad',
 'https://en.wikipedia.org/wiki/Devin_Wenig',
 'https://en.wikipedia.org/wiki/Andrew_Wilson',
 'https://en.wikipedia.org/wiki/Börje_Ekholm',
 'https://en.wikipedia.org/wiki/Darren_Woods',
 'https://en.wikipedia.org/wiki/Lisa_S._Jones',
 'https://en.wikipedia.org/wiki/Carmine_Di_Sibio',
 'https://en.wikipedia.org/wiki/Mark_Zuckerberg',
 'https://en.wikipedia.org/wiki/Frederick_W._Smith',
 'https://en.wikipedia.org/wiki/Sergio_Marchionne',
 'https://en.wikipedia.org/wiki/Abigail_Johnson',
 'https://en.wikipedia.org/wiki/James_Michael_Lafferty',
 'https://en.wikipedia.org/wiki/James_Hackett',
 'https://en.wikipedia.org/wiki/Terry_Gou',
 'https://en.wikipedia.org/wiki/Lachlan_Murdoch',
 'https://en.wikipedia.org/wiki/Daymond_John',
 'https://en.wikipedia.org/wiki/Phebe_Novakovic',
 'https://en.wikipedia.org/wiki/H._Lawrence_Culp_Jr.',
 'https://en.wikipedia.org/wiki/Mary_T._Barra',
 'https://en.wikipedia.org/wiki/Emma_Walmsley',
 'https://en.wikipedia.org/wiki/David_M._Solomon',
 'https://en.wikipedia.org/wiki/Sundar_Pichai',
 'https://en.wikipedia.org/wiki/Felipe_Gozon',
 'https://en.wikipedia.org/wiki/Gunupati_Venkata_Krishna_Reddy',
 'https://en.wikipedia.org/wiki/C_Vijayakumar',
 'https://en.wikipedia.org/wiki/Lee_Shau_Kee',
 'https://en.wikipedia.org/wiki/Antonio_Neri',
 'https://en.wikipedia.org/wiki/Darius_Adamczyk',
 'https://en.wikipedia.org/wiki/John_A._Kaneb',
 'https://en.wikipedia.org/wiki/Noel_Quinn',
 'https://en.wikipedia.org/wiki/Arvind_Krishna',
 'https://en.wikipedia.org/wiki/Dikesh_Malhotra',
 'https://en.wikipedia.org/wiki/Salil_Parekh',
 'https://en.wikipedia.org/wiki/Pat_Gelsinger',
 'https://en.wikipedia.org/wiki/Scott_Etzler',
 'https://en.wikipedia.org/wiki/Millard_Drexler',
 'https://en.wikipedia.org/wiki/Richard_B._Handler',
 'https://en.wikipedia.org/wiki/James_Dimon',
 'https://en.wikipedia.org/wiki/Andrew_S._Rosen',
 'https://en.wikipedia.org/wiki/Pieter_Elbers',
 'https://en.wikipedia.org/wiki/Charles_G._Koch',
 'https://en.wikipedia.org/wiki/Jeff_Clarke',
 'https://en.wikipedia.org/wiki/Robert_Noel',
 'https://en.wikipedia.org/wiki/Robert_Goldstein',
 'https://en.wikipedia.org/wiki/Andrew_Meslow',
 'https://en.wikipedia.org/wiki/Marillyn_Hewson',
 'https://en.wikipedia.org/wiki/Steve_Rowe',
 'https://en.wikipedia.org/wiki/Ajaypal_Singh_Banga',
 'https://en.wikipedia.org/wiki/Chris_Kempczinski',
 'https://en.wikipedia.org/wiki/Kevin_Sneader',
 'https://en.wikipedia.org/wiki/Jonathan_Ornstein',
 'https://en.wikipedia.org/wiki/Steven_A._Kandarian',
 'https://en.wikipedia.org/wiki/Isaac_Larian',
 'https://en.wikipedia.org/wiki/Satya_Nadella',
 'https://en.wikipedia.org/wiki/Michael_J._Saylor',
 'https://en.wikipedia.org/wiki/James_P._Gorman',
 'https://en.wikipedia.org/wiki/Toxey_Haas',
 'https://en.wikipedia.org/wiki/Chris_Beard',
 'https://en.wikipedia.org/wiki/Vacant',
 'https://en.wikipedia.org/wiki/Jeff_Shell',
 'https://en.wikipedia.org/wiki/Robert_James_Thomson',
 'https://en.wikipedia.org/wiki/Mark_Thompson',
 'https://en.wikipedia.org/wiki/Sapnesh_Lalla',
 'https://en.wikipedia.org/wiki/Mark_Parker',
 'https://en.wikipedia.org/wiki/Pekka_Lundmark',
 'https://en.wikipedia.org/wiki/Vasant_Narasimhan',
 'https://en.wikipedia.org/wiki/Tatsumi_Kimishima',
 'https://en.wikipedia.org/wiki/Tim_Armstrong',
 'https://en.wikipedia.org/wiki/Safra_Catz',
 'https://en.wikipedia.org/wiki/Mark_Hurd',
 'https://en.wikipedia.org/wiki/Ramon_Laguarta',
 'https://en.wikipedia.org/wiki/Albert_Bourla',
 'https://en.wikipedia.org/wiki/Patrice_Louvet',
 'https://en.wikipedia.org/wiki/David_S._Taylor',
 'https://en.wikipedia.org/wiki/John_Strangfeld',
 'https://en.wikipedia.org/wiki/Alan_Joyce',
 'https://en.wikipedia.org/wiki/Anil_Ambani',
 'https://en.wikipedia.org/wiki/Mukesh_Ambani',
 'https://en.wikipedia.org/wiki/Luca_de_Meo',
 'https://en.wikipedia.org/wiki/Phiwa_Nkambule',
 'https://en.wikipedia.org/wiki/David_I._McKay',
 'https://en.wikipedia.org/wiki/Ross_McEwan',
 'https://en.wikipedia.org/wiki/Ben_van_Beurden',
 "https://en.wikipedia.org/wiki/Michael_O'Leary",
 'https://en.wikipedia.org/wiki/Douglas_L._Peterson',
 'https://en.wikipedia.org/wiki/Herbert_Fisk_Johnson_III',
 'https://en.wikipedia.org/wiki/Brian_Peddle',
 'https://en.wikipedia.org/wiki/Oh-Hyun_Kwon',
 'https://en.wikipedia.org/wiki/Christian_Klein',
 'https://en.wikipedia.org/wiki/James_Goodnight',
 'https://en.wikipedia.org/wiki/Jean-Pascal_Tricoire',
 'https://en.wikipedia.org/wiki/Joe_Kaeser',
 'https://en.wikipedia.org/wiki/David_Simon',
 'https://en.wikipedia.org/wiki/Chua_Sock_Koong',
 'https://en.wikipedia.org/wiki/Masayoshi_Son',
 'https://en.wikipedia.org/wiki/Tony_Aquila',
 'https://en.wikipedia.org/wiki/Gary_C._Kelly',
 'https://en.wikipedia.org/wiki/J._Clifford_Hudson',
 'https://en.wikipedia.org/wiki/Kevin_Johnson',
 'https://en.wikipedia.org/wiki/Raymond_Kwok',
 'https://en.wikipedia.org/wiki/Dilip_Shanghvi',
 'https://en.wikipedia.org/wiki/William_H._Rogers_Jr.',
 'https://en.wikipedia.org/wiki/Rakesh_Khanna',
 'https://en.wikipedia.org/wiki/Brian_Cornell',
 'https://en.wikipedia.org/wiki/Rajesh_Gopinathan',
 'https://en.wikipedia.org/wiki/Li_Dongsheng',
 'https://en.wikipedia.org/wiki/Andy_Penn',
 'https://en.wikipedia.org/wiki/Ho_Ching',
 'https://en.wikipedia.org/wiki/Dave_Lewis',
 'https://en.wikipedia.org/wiki/Elon_Musk',
 'https://en.wikipedia.org/wiki/Umberto_Macchi_di_Cellere',
 'https://en.wikipedia.org/wiki/Alan_D._Schnitzer',
 'https://en.wikipedia.org/wiki/Akio_Toyoda',
 'https://en.wikipedia.org/wiki/Bill_Stromberg',
 'https://en.wikipedia.org/wiki/Parag_Agrawal',
 'https://en.wikipedia.org/wiki/Scott_Kirby',
 'https://en.wikipedia.org/wiki/Ralph_Hamers',
 'https://en.wikipedia.org/wiki/Joseph_C._Papa',
 'https://en.wikipedia.org/wiki/Hans_Vestberg',
 'https://en.wikipedia.org/wiki/Robert_Bakish',
 'https://en.wikipedia.org/wiki/Vittorio_Colao',
 'https://en.wikipedia.org/wiki/Herbert_Diess',
 'https://en.wikipedia.org/wiki/Bill_Hilf',
 'https://en.wikipedia.org/wiki/Bob_Chapek',
 'https://en.wikipedia.org/wiki/Stefano_Pessina',
 'https://en.wikipedia.org/wiki/Doug_McMillon',
 'https://en.wikipedia.org/wiki/Ann_Sarnoff',
 'https://en.wikipedia.org/wiki/Jason_Kilar',
 'https://en.wikipedia.org/wiki/Charles_Scharf',
 'https://en.wikipedia.org/wiki/John_Mackey',
 'https://en.wikipedia.org/wiki/Laura_J._Alber',
 'https://en.wikipedia.org/wiki/Thierry_Delaporte',
 'https://en.wikipedia.org/wiki/Vince_McMahon',
 'https://en.wikipedia.org/wiki/Greg_Creed',
 'https://en.wikipedia.org/wiki/Rich_Barton',
 'https://en.wikipedia.org/wiki/Eric_Yuan']

In [7]:
# Use urllib.urlopen to crawl all pages in crawl_list, and store the response of the page
# in list pages 

pages = []

for url in crawl_list:
    page = url.split("/")[-1] #extract the person name at the end of the url
    print('Looking at file %s' % page)

    # An issue: some of the accent characters won't work.  We need to convert them
    # into an HTML URL.  We'll split the URL, then use "parse.quote" to change
    # the structure, then re-form the URL
    url_list = list(urllib.parse.urlsplit(url))
    url_list[2] = urllib.parse.quote(url_list[2])
    url_ascii = urllib.parse.urlunsplit(url_list)
    try:
      response = urllib.request.urlopen((url_ascii))
      #Save page and url for later use.
      pages.append(response)
    except urllib.error.URLError as e:
      print(e.reason)

Looking at file Julie_Sweet
Looking at file Kumar_Mangalam_Birla
Looking at file Shantanu_Narayen
Looking at file Garo_H._Armen
Looking at file Guillaume_Faury
Looking at file Daniel_Zhang
Looking at file Jeff_Bezos
Looking at file Lisa_Su
Looking at file Stephen_Squeri
Looking at file Doug_Parker
Looking at file Joseph_R._Swedish
Looking at file Tim_Cook
Looking at file Lakshmi_Niwas_Mittal
Looking at file John_Stankey
Looking at file Charles_Woodburn
Looking at file Tapan_Singhel
Looking at file Carlos_Torres_Vila
Looking at file Brian_Moynihan
Looking at file Jes_Staley
Looking at file Warren_Buffett
Looking at file Hubert_Joly
Looking at file Sunil_Bharti_Mittal
Looking at file Stephen_A._Schwarzman
Looking at file Andrew_Mackenzie
Looking at file Oliver_Zipse
Looking at file Dave_Calhoun
Looking at file Rich_Lesser
Looking at file Bob_Dudley
Looking at file Denise_Morrison
Looking at file Mark_Shuttleworth
Looking at file Aiman_Ezzat
Not Found
Looking at file Richard_Fairbank
Looking at file Jim_Umpleby
Looking at file Evan_G._Greenberg
Looking at file Chuck_Robbins
Looking at file Michael_Corbat
Looking at file James_Quincey
Looking at file Brian_Humphries
Looking at file Brian_L._Roberts
Looking at file Tidjane_Thiam
Looking at file Ola_Källenius
Looking at file Michael_Dell
Looking at file Ed_Bastian
Looking at file Christian_Sewing
Looking at file Frank_Appel
Looking at file Roland_Dickey_Jr.
Looking at file Edward_D._Breen
Looking at file G._V._Prasad
Looking at file Devin_Wenig
Looking at file Andrew_Wilson
Looking at file Börje_Ekholm
Looking at file Darren_Woods
Looking at file Lisa_S._Jones
Looking at file Carmine_Di_Sibio
Looking at file Mark_Zuckerberg
Looking at file Frederick_W._Smith
Looking at file Sergio_Marchionne
Looking at file Abigail_Johnson
Looking at file James_Michael_Lafferty
Looking at file James_Hackett
Looking at file Terry_Gou
Looking at file Lachlan_Murdoch
Looking at file Daymond_John
Looking at file Phebe_Novakovic
Looking at file H._Lawrence_Culp_Jr.
Looking at file Mary_T._Barra
Looking at file Emma_Walmsley
Looking at file David_M._Solomon
Looking at file Sundar_Pichai
Looking at file Felipe_Gozon
Looking at file Gunupati_Venkata_Krishna_Reddy
Looking at file C_Vijayakumar
Looking at file Lee_Shau_Kee
Looking at file Antonio_Neri
Looking at file Darius_Adamczyk
Looking at file John_A._Kaneb
Looking at file Noel_Quinn
Looking at file Arvind_Krishna
Looking at file Dikesh_Malhotra
Looking at file Salil_Parekh
Looking at file Pat_Gelsinger
Looking at file Scott_Etzler
Looking at file Millard_Drexler
Looking at file Richard_B._Handler
Looking at file James_Dimon
Looking at file Andrew_S._Rosen
Looking at file Pieter_Elbers
Looking at file Charles_G._Koch
Looking at file Jeff_Clarke
Looking at file Robert_Noel
Looking at file Robert_Goldstein
Looking at file Andrew_Meslow
Not Found
Looking at file Marillyn_Hewson
Looking at file Steve_Rowe
Looking at file Ajaypal_Singh_Banga
Looking at file Chris_Kempczinski
Looking at file Kevin_Sneader
Looking at file Jonathan_Ornstein
Looking at file Steven_A._Kandarian
Looking at file Isaac_Larian
Looking at file Satya_Nadella
Looking at file Michael_J._Saylor
Looking at file James_P._Gorman
Looking at file Toxey_Haas
Looking at file Chris_Beard
Looking at file Vacant
Looking at file Jeff_Shell
Looking at file Robert_James_Thomson
Looking at file Mark_Thompson
Looking at file Sapnesh_Lalla
Not Found
Looking at file Mark_Parker
Looking at file Pekka_Lundmark
Looking at file Vasant_Narasimhan
Looking at file Tatsumi_Kimishima
Looking at file Tim_Armstrong
Looking at file Safra_Catz
Looking at file Mark_Hurd
Looking at file Ramon_Laguarta
Looking at file Albert_Bourla
Looking at file Patrice_Louvet
Looking at file David_S._Taylor
Looking at file John_Strangfeld
Looking at file Alan_Joyce
Looking at file Anil_Ambani
Looking at file Mukesh_Ambani
Looking at file Luca_de_Meo
Looking at file Phiwa_Nkambule
Looking at file David_I._McKay
Looking at file Ross_McEwan
Looking at file Ben_van_Beurden
Looking at file Michael_O'Leary
Looking at file Douglas_L._Peterson
Looking at file Herbert_Fisk_Johnson_III
Looking at file Brian_Peddle
Looking at file Oh-Hyun_Kwon
Looking at file Christian_Klein
Looking at file James_Goodnight
Looking at file Jean-Pascal_Tricoire
Looking at file Joe_Kaeser
Looking at file David_Simon
Looking at file Chua_Sock_Koong
Looking at file Masayoshi_Son
Looking at file Tony_Aquila
Looking at file Gary_C._Kelly
Looking at file J._Clifford_Hudson
Looking at file Kevin_Johnson
Looking at file Raymond_Kwok
Looking at file Dilip_Shanghvi
Looking at file William_H._Rogers_Jr.
Looking at file Rakesh_Khanna
Looking at file Brian_Cornell
Looking at file Rajesh_Gopinathan
Looking at file Li_Dongsheng
Looking at file Andy_Penn
Looking at file Ho_Ching
Looking at file Dave_Lewis
Looking at file Elon_Musk
Looking at file Umberto_Macchi_di_Cellere
Not Found
Looking at file Alan_D._Schnitzer
Looking at file Akio_Toyoda
Looking at file Bill_Stromberg
Looking at file Parag_Agrawal
Looking at file Scott_Kirby
Looking at file Ralph_Hamers
Looking at file Joseph_C._Papa
Looking at file Hans_Vestberg
Looking at file Robert_Bakish
Looking at file Vittorio_Colao
Looking at file Herbert_Diess
Looking at file Bill_Hilf
Looking at file Bob_Chapek
Looking at file Stefano_Pessina
Looking at file Doug_McMillon
Looking at file Ann_Sarnoff
Looking at file Jason_Kilar
Looking at file Charles_Scharf
Looking at file John_Mackey
Looking at file Laura_J._Alber
Looking at file Thierry_Delaporte
Not Found
Looking at file Vince_McMahon
Looking at file Greg_Creed
Looking at file Rich_Barton
Looking at file Eric_Yuan

In [ ]:
pages

[<http.client.HTTPResponse at 0x7f29046a1710>,
 <http.client.HTTPResponse at 0x7f29050ff290>,
 <http.client.HTTPResponse at 0x7f2904a85190>,
 <http.client.HTTPResponse at 0x7f29047edbd0>,
 <http.client.HTTPResponse at 0x7f2904a9e190>,
 <http.client.HTTPResponse at 0x7f2902223890>,
 <http.client.HTTPResponse at 0x7f2904aa93d0>,
 <http.client.HTTPResponse at 0x7f2904aa9bd0>,
 <http.client.HTTPResponse at 0x7f2904aa9350>,
 <http.client.HTTPResponse at 0x7f2904aa9490>,
 <http.client.HTTPResponse at 0x7f290488ea50>,
 <http.client.HTTPResponse at 0x7f2904882210>,
 <http.client.HTTPResponse at 0x7f2904a9f190>,
 <http.client.HTTPResponse at 0x7f290488e750>,
 <http.client.HTTPResponse at 0x7f2904a85110>,
 <http.client.HTTPResponse at 0x7f2904a914d0>,
 <http.client.HTTPResponse at 0x7f290efb9150>,
 <http.client.HTTPResponse at 0x7f2904a9f810>,
 <http.client.HTTPResponse at 0x7f2904babe10>,
 <http.client.HTTPResponse at 0x7f290489a490>,
 <http.client.HTTPResponse at 0x7f2904a856d0>,
 <http.client.HTTPResponse at 0x7f290453dfd0>,
 <http.client.HTTPResponse at 0x7f290444bd50>,
 <http.client.HTTPResponse at 0x7f290488ed90>,
 <http.client.HTTPResponse at 0x7f290447fa90>,
 <http.client.HTTPResponse at 0x7f290488e410>,
 <http.client.HTTPResponse at 0x7f290447fb50>,
 <http.client.HTTPResponse at 0x7f29048a4fd0>,
 <http.client.HTTPResponse at 0x7f2904452450>,
 <http.client.HTTPResponse at 0x7f2904458e90>,
 <http.client.HTTPResponse at 0x7f290440c910>,
 <http.client.HTTPResponse at 0x7f2904452390>,
 <http.client.HTTPResponse at 0x7f290440c6d0>,
 <http.client.HTTPResponse at 0x7f2904458650>,
 <http.client.HTTPResponse at 0x7f290447fc50>,
 <http.client.HTTPResponse at 0x7f2904452d10>,
 <http.client.HTTPResponse at 0x7f2902223710>,
 <http.client.HTTPResponse at 0x7f2904fad190>,
 <http.client.HTTPResponse at 0x7f290443c690>,
 <http.client.HTTPResponse at 0x7f290440c690>,
 <http.client.HTTPResponse at 0x7f290440cb50>,
 <http.client.HTTPResponse at 0x7f2904398150>,
 <http.client.HTTPResponse at 0x7f290441d190>,
 <http.client.HTTPResponse at 0x7f290439d510>,
 <http.client.HTTPResponse at 0x7f29044585d0>,
 <http.client.HTTPResponse at 0x7f29043af790>,
 <http.client.HTTPResponse at 0x7f290447f2d0>,
 <http.client.HTTPResponse at 0x7f29043bff50>,
 <http.client.HTTPResponse at 0x7f290440c9d0>,
 <http.client.HTTPResponse at 0x7f290435e950>,
 <http.client.HTTPResponse at 0x7f290439d290>,
 <http.client.HTTPResponse at 0x7f290435e290>,
 <http.client.HTTPResponse at 0x7f29043bf590>,
 <http.client.HTTPResponse at 0x7f290430c290>,
 <http.client.HTTPResponse at 0x7f290447fd50>,
 <http.client.HTTPResponse at 0x7f2904452790>,
 <http.client.HTTPResponse at 0x7f29043980d0>,
 <http.client.HTTPResponse at 0x7f290431dc90>,
 <http.client.HTTPResponse at 0x7f290435ec10>,
 <http.client.HTTPResponse at 0x7f290431db10>,
 <http.client.HTTPResponse at 0x7f290430ccd0>,
 <http.client.HTTPResponse at 0x7f29042c3350>,
 <http.client.HTTPResponse at 0x7f290431dc10>,
 <http.client.HTTPResponse at 0x7f29042cfdd0>,
 <http.client.HTTPResponse at 0x7f29042cfe10>,
 <http.client.HTTPResponse at 0x7f290431db50>,
 <http.client.HTTPResponse at 0x7f29042cfd90>,
 <http.client.HTTPResponse at 0x7f29042e1f90>,
 <http.client.HTTPResponse at 0x7f29042dcf50>,
 <http.client.HTTPResponse at 0x7f290428f190>,
 <http.client.HTTPResponse at 0x7f29042e3410>,
 <http.client.HTTPResponse at 0x7f290428fcd0>,
 <http.client.HTTPResponse at 0x7f29042dce50>,
 <http.client.HTTPResponse at 0x7f29042a9e10>,
 <http.client.HTTPResponse at 0x7f29043afd90>,
 <http.client.HTTPResponse at 0x7f2904324990>,
 <http.client.HTTPResponse at 0x7f29042466d0>,
 <http.client.HTTPResponse at 0x7f29043bfed0>,
 <http.client.HTTPResponse at 0x7f29048b6410>,
 <http.client.HTTPResponse at 0x7f290426db50>,
 <http.client.HTTPResponse at 0x7f29043bf8d0>,
 <http.client.HTTPResponse at 0x7f2904274490>,
 <http.client.HTTPResponse at 0x7f2904274f90>,
 <http.client.HTTPResponse at 0x7f290420b650>,
 <http.client.HTTPResponse at 0x7f290420be90>,
 <http.client.HTTPResponse at 0x7f290420be50>,
 <http.client.HTTPResponse at 0x7f29042a92d0>,
 <http.client.HTTPResponse at 0x7f2904274410>,
 <http.client.HTTPResponse at 0x7f29042398d0>,
 <http.client.HTTPResponse at 0x7f290426d210>,
 <http.client.HTTPResponse at 0x7f290426d250>,
 <http.client.HTTPResponse at 0x7f29041f4d90>,
 <http.client.HTTPResponse at 0x7f29041dead0>,
 <http.client.HTTPResponse at 0x7f290418fd50>,
 <http.client.HTTPResponse at 0x7f290426d290>,
 <http.client.HTTPResponse at 0x7f29042c3c50>,
 <http.client.HTTPResponse at 0x7f29041c4a10>,
 <http.client.HTTPResponse at 0x7f2904221710>,
 <http.client.HTTPResponse at 0x7f290418f490>,
 <http.client.HTTPResponse at 0x7f29040cbf10>,
 <http.client.HTTPResponse at 0x7f290420b550>,
 <http.client.HTTPResponse at 0x7f29041aad90>,
 <http.client.HTTPResponse at 0x7f29041c4a50>,
 <http.client.HTTPResponse at 0x7f29040cbd10>,
 <http.client.HTTPResponse at 0x7f29041b6e10>,
 <http.client.HTTPResponse at 0x7f29040fa090>,
 <http.client.HTTPResponse at 0x7f29040fa950>,
 <http.client.HTTPResponse at 0x7f2903f12d10>,
 <http.client.HTTPResponse at 0x7f2903f121d0>,
 <http.client.HTTPResponse at 0x7f2903f36550>,
 <http.client.HTTPResponse at 0x7f29040cbd50>,
 <http.client.HTTPResponse at 0x7f2903f36690>,
 <http.client.HTTPResponse at 0x7f29040cbed0>,
 <http.client.HTTPResponse at 0x7f2903e95910>,
 <http.client.HTTPResponse at 0x7f2904324cd0>,
 <http.client.HTTPResponse at 0x7f290426d350>,
 <http.client.HTTPResponse at 0x7f29041b6ed0>,
 <http.client.HTTPResponse at 0x7f2903eae8d0>,
 <http.client.HTTPResponse at 0x7f2903f36650>,
 <http.client.HTTPResponse at 0x7f2903e49a50>,
 <http.client.HTTPResponse at 0x7f29040cbf90>,
 <http.client.HTTPResponse at 0x7f2903e61b90>,
 <http.client.HTTPResponse at 0x7f2903f12090>,
 <http.client.HTTPResponse at 0x7f29040cb6d0>,
 <http.client.HTTPResponse at 0x7f2903f366d0>,
 <http.client.HTTPResponse at 0x7f2903e14d90>,
 <http.client.HTTPResponse at 0x7f290428fb50>,
 <http.client.HTTPResponse at 0x7f2903e14d50>,
 <http.client.HTTPResponse at 0x7f2903f36950>,
 <http.client.HTTPResponse at 0x7f2903e49a10>,
 <http.client.HTTPResponse at 0x7f2903e14e90>,
 <http.client.HTTPResponse at 0x7f2903dcd250>,
 <http.client.HTTPResponse at 0x7f2903e30490>,
 <http.client.HTTPResponse at 0x7f29041b6610>,
 <http.client.HTTPResponse at 0x7f29041aae10>,
 <http.client.HTTPResponse at 0x7f2903dfe290>,
 <http.client.HTTPResponse at 0x7f2903e30d10>,
 <http.client.HTTPResponse at 0x7f2903e6b810>,
 <http.client.HTTPResponse at 0x7f2903d93b90>,
 <http.client.HTTPResponse at 0x7f2903d95b10>,
 <http.client.HTTPResponse at 0x7f29040cbdd0>,
 <http.client.HTTPResponse at 0x7f2903db1150>,
 <http.client.HTTPResponse at 0x7f2903d45c10>,
 <http.client.HTTPResponse at 0x7f2903d45590>,
 <http.client.HTTPResponse at 0x7f2903d60ed0>,
 <http.client.HTTPResponse at 0x7f2903db1910>,
 <http.client.HTTPResponse at 0x7f2903d93a50>,
 <http.client.HTTPResponse at 0x7f2903d45bd0>,
 <http.client.HTTPResponse at 0x7f2903d95810>,
 <http.client.HTTPResponse at 0x7f2903cc2990>,
 <http.client.HTTPResponse at 0x7f2903cd3910>,
 <http.client.HTTPResponse at 0x7f2903d60cd0>,
 <http.client.HTTPResponse at 0x7f2903ceb990>,
 <http.client.HTTPResponse at 0x7f2903e499d0>,
 <http.client.HTTPResponse at 0x7f2903d76e50>,
 <http.client.HTTPResponse at 0x7f2903cc2650>,
 <http.client.HTTPResponse at 0x7f2903c954d0>,
 <http.client.HTTPResponse at 0x7f2903dfe150>,
 <http.client.HTTPResponse at 0x7f2903cb2050>,
 <http.client.HTTPResponse at 0x7f2903cb28d0>,
 <http.client.HTTPResponse at 0x7f2903c04dd0>,
 <http.client.HTTPResponse at 0x7f2903cb2090>,
 <http.client.HTTPResponse at 0x7f2903c0f310>,
 <http.client.HTTPResponse at 0x7f2903c04ad0>,
 <http.client.HTTPResponse at 0x7f2903c21550>,
 <http.client.HTTPResponse at 0x7f2903dcd7d0>,
 <http.client.HTTPResponse at 0x7f2903c33910>,
 <http.client.HTTPResponse at 0x7f2903c33610>,
 <http.client.HTTPResponse at 0x7f2903b85b90>,
 <http.client.HTTPResponse at 0x7f2903ba2990>,
 <http.client.HTTPResponse at 0x7f2903c0fc50>,
 <http.client.HTTPResponse at 0x7f2903bb2d10>,
 <http.client.HTTPResponse at 0x7f2903c0f490>,
 <http.client.HTTPResponse at 0x7f2903cb2910>,
 <http.client.HTTPResponse at 0x7f290418fdd0>,
 <http.client.HTTPResponse at 0x7f2903ba2950>,
 <http.client.HTTPResponse at 0x7f2903b30a50>,
 <http.client.HTTPResponse at 0x7f29043bff10>,
 <http.client.HTTPResponse at 0x7f2903b13710>,
 <http.client.HTTPResponse at 0x7f2903cd3990>,
 <http.client.HTTPResponse at 0x7f2903d76d90>]

## Populating the Table with Executives

In [8]:
# Use lxml.etree.HTML(...) on the HTML content of each page to get a DOM tree that
# can be processed via XPath to extract the bday information.  Store the CEO name, 
# webpage, and the birthdate (born) in exec_df.

# We first check that the HTML content has a table of type `vcard`,
# and then extract the `bday` information.  If there is no birthdate, the datetime 
# value is NaT (not a type). 

from lxml import etree

exec_df = pd.DataFrame(columns=['name','page','born'])

for page in pages:    
    tree = etree.HTML(page.read().decode("utf-8"))  #create a DOM tree of the page
    url = page.geturl()
    bday = tree.xpath('//table[contains(@class,"vcard")]//span[@class="bday"]/text()')
    if len(bday) > 0:
        name = url[url.rfind('/')+1:] # The part of the URL after the last /
        exec_df = exec_df.append({'name': name, 'page': url,
                   'born': datetime.datetime.strptime(bday[0], '%Y-%m-%d').date()}, ignore_index=True)
    else: 
            exec_df = exec_df.append({'name': url[url.rfind('/')+1:], 'page': url
                                      , 'born': None}, ignore_index=True)
        
exec_df

                     name  ...        born
0             Julie_Sweet  ...        None
1    Kumar_Mangalam_Birla  ...  1967-06-14
2        Shantanu_Narayen  ...  1963-05-27
3           Garo_H._Armen  ...  1953-01-31
4         Guillaume_Faury  ...  1968-02-22
..                    ...  ...         ...
173        Laura_J._Alber  ...        None
174         Vince_McMahon  ...  1945-08-24
175            Greg_Creed  ...        None
176           Rich_Barton  ...        None
177             Eric_Yuan  ...  1970-02-20

[178 rows x 3 columns]

# Part 2: Data Transformation

Looking at our data to clean via *projection*...

Generally, we can extract one "narrower" table form another by using **double brackets**.

In [ ]:
# Let's take a look at the data.  Here's a way of PROJECTING the exec_df dataframe into
# a smaller table

exec_df[['name', 'born']]

                     name        born
0             Julie_Sweet        None
1    Kumar_Mangalam_Birla  1967-06-14
2        Shantanu_Narayen  1963-05-27
3           Garo_H._Armen  1953-01-31
4         Guillaume_Faury  1968-02-22
..                    ...         ...
173        Laura_J._Alber        None
174         Vince_McMahon  1945-08-24
175            Greg_Creed        None
176           Rich_Barton        None
177             Eric_Yuan  1970-02-20

[178 rows x 2 columns]

In [9]:
# If I use single brackets, I can extract a single column as a Series.
exec_df['name']

0               Julie_Sweet
1      Kumar_Mangalam_Birla
2          Shantanu_Narayen
3             Garo_H._Armen
4           Guillaume_Faury
               ...
173          Laura_J._Alber
174           Vince_McMahon
175              Greg_Creed
176             Rich_Barton
177               Eric_Yuan
Name: name, Length: 178, dtype: object

In [10]:
# Notice anything awry?

for person in exec_df['name']:
    print (person)

Julie_Sweet
Kumar_Mangalam_Birla
Shantanu_Narayen
Garo_H._Armen
Guillaume_Faury
Daniel_Zhang
Jeff_Bezos
Lisa_Su
Stephen_Squeri
Doug_Parker
Joseph_R._Swedish
Tim_Cook
Lakshmi_Niwas_Mittal
John_Stankey
Charles_Woodburn
Tapan_Singhel
Carlos_Torres_Vila
Brian_Moynihan
Jes_Staley
Warren_Buffett
Hubert_Joly
Sunil_Bharti_Mittal
Stephen_A._Schwarzman
Andrew_Mackenzie
Oliver_Zipse
Dave_Calhoun
Rich_Lesser
Bob_Dudley
Denise_Morrison
Mark_Shuttleworth
Richard_Fairbank
Jim_Umpleby
Evan_G._Greenberg
Chuck_Robbins
Michael_Corbat
James_Quincey
Brian_Humphries
Brian_L._Roberts
Tidjane_Thiam
Ola_K%C3%A4llenius
Michael_Dell
Ed_Bastian
Christian_Sewing
Frank_Appel
Roland_Dickey_Jr.
Edward_D._Breen
G._V._Prasad
Devin_Wenig
Andrew_Wilson
B%C3%B6rje_Ekholm
Darren_Woods
Lisa_S._Jones
Carmine_Di_Sibio
Mark_Zuckerberg
Frederick_W._Smith
Sergio_Marchionne
Abigail_Johnson
James_Michael_Lafferty
James_Hackett
Terry_Gou
Lachlan_Murdoch
Daymond_John
Phebe_Novakovic
H._Lawrence_Culp_Jr.
Mary_T._Barra
Emma_Walmsley
David_M._Solomon
Sundar_Pichai
Felipe_Gozon
Gunupati_Venkata_Krishna_Reddy
C_Vijayakumar
Lee_Shau_Kee
Antonio_Neri
Darius_Adamczyk
John_A._Kaneb
Noel_Quinn
Arvind_Krishna
Dikesh_Malhotra
Salil_Parekh
Pat_Gelsinger
Scott_Etzler
Millard_Drexler
Richard_B._Handler
James_Dimon
Andrew_S._Rosen
Pieter_Elbers
Charles_G._Koch
Jeff_Clarke
Robert_Noel
Robert_Goldstein
Marillyn_Hewson
Steve_Rowe
Ajaypal_Singh_Banga
Chris_Kempczinski
Kevin_Sneader
Jonathan_Ornstein
Steven_A._Kandarian
Isaac_Larian
Satya_Nadella
Michael_J._Saylor
James_P._Gorman
Toxey_Haas
Chris_Beard
Vacant
Jeff_Shell
Robert_James_Thomson
Mark_Thompson
Mark_Parker
Pekka_Lundmark
Vasant_Narasimhan
Tatsumi_Kimishima
Tim_Armstrong
Safra_Catz
Mark_Hurd
Ramon_Laguarta
Albert_Bourla
Patrice_Louvet
David_S._Taylor
John_Strangfeld
Alan_Joyce
Anil_Ambani
Mukesh_Ambani
Luca_de_Meo
Phiwa_Nkambule
David_I._McKay
Ross_McEwan
Ben_van_Beurden
Michael_O%27Leary
Douglas_L._Peterson
Herbert_Fisk_Johnson_III
Brian_Peddle
Oh-Hyun_Kwon
Christian_Klein
James_Goodnight
Jean-Pascal_Tricoire
Joe_Kaeser
David_Simon
Chua_Sock_Koong
Masayoshi_Son
Tony_Aquila
Gary_C._Kelly
J._Clifford_Hudson
Kevin_Johnson
Raymond_Kwok
Dilip_Shanghvi
William_H._Rogers_Jr.
Rakesh_Khanna
Brian_Cornell
Rajesh_Gopinathan
Li_Dongsheng
Andy_Penn
Ho_Ching
Dave_Lewis
Elon_Musk
Alan_D._Schnitzer
Akio_Toyoda
Bill_Stromberg
Parag_Agrawal
Scott_Kirby
Ralph_Hamers
Joseph_C._Papa
Hans_Vestberg
Robert_Bakish
Vittorio_Colao
Herbert_Diess
Bill_Hilf
Bob_Chapek
Stefano_Pessina
Doug_McMillon
Ann_Sarnoff
Jason_Kilar
Charles_Scharf
John_Mackey
Laura_J._Alber
Vince_McMahon
Greg_Creed
Rich_Barton
Eric_Yuan

In [11]:
def to_space(x):
  return x.replace('_', ' ')

# Let's use *apply* to call a function over each element, returning a new Series
exec_df['name'].apply(to_space)

0               Julie Sweet
1      Kumar Mangalam Birla
2          Shantanu Narayen
3             Garo H. Armen
4           Guillaume Faury
               ...
173          Laura J. Alber
174           Vince McMahon
175              Greg Creed
176             Rich Barton
177               Eric Yuan
Name: name, Length: 178, dtype: object

In [12]:
# Let's use *apply* to call a function over each element, returning a new Series
exec_df['name'].apply(lambda x: x.replace('_', ' '))

0               Julie Sweet
1      Kumar Mangalam Birla
2          Shantanu Narayen
3             Garo H. Armen
4           Guillaume Faury
               ...
173          Laura J. Alber
174           Vince McMahon
175              Greg Creed
176             Rich Barton
177               Eric Yuan
Name: name, Length: 178, dtype: object

In [13]:
# I can also use *apply* to call a function over the rows of a dataframe
exec_df.apply(lambda x: x['name'].replace('_', ' '), axis=1)

0               Julie Sweet
1      Kumar Mangalam Birla
2          Shantanu Narayen
3             Garo H. Armen
4           Guillaume Faury
               ...
173          Laura J. Alber
174           Vince McMahon
175              Greg Creed
176             Rich Barton
177               Eric Yuan
Length: 178, dtype: object

In [14]:
# Let's clean the name by removing underscores...
exec_df['clean_name'] = exec_df['name'].apply(lambda x: x.replace('_', ' '))

exec_df

                     name  ...            clean_name
0             Julie_Sweet  ...           Julie Sweet
1    Kumar_Mangalam_Birla  ...  Kumar Mangalam Birla
2        Shantanu_Narayen  ...      Shantanu Narayen
3           Garo_H._Armen  ...         Garo H. Armen
4         Guillaume_Faury  ...       Guillaume Faury
..                    ...  ...                   ...
173        Laura_J._Alber  ...        Laura J. Alber
174         Vince_McMahon  ...         Vince McMahon
175            Greg_Creed  ...            Greg Creed
176           Rich_Barton  ...           Rich Barton
177             Eric_Yuan  ...             Eric Yuan

[178 rows x 4 columns]

In [15]:
# Here's a column
exec_df['clean_name']

0               Julie Sweet
1      Kumar Mangalam Birla
2          Shantanu Narayen
3             Garo H. Armen
4           Guillaume Faury
               ...
173          Laura J. Alber
174           Vince McMahon
175              Greg Creed
176             Rich Barton
177               Eric Yuan
Name: clean_name, Length: 178, dtype: object

In [16]:
exec_df.rename(columns={'name': 'old_name'})

                 old_name  ...            clean_name
0             Julie_Sweet  ...           Julie Sweet
1    Kumar_Mangalam_Birla  ...  Kumar Mangalam Birla
2        Shantanu_Narayen  ...      Shantanu Narayen
3           Garo_H._Armen  ...         Garo H. Armen
4         Guillaume_Faury  ...       Guillaume Faury
..                    ...  ...                   ...
173        Laura_J._Alber  ...        Laura J. Alber
174         Vince_McMahon  ...         Vince McMahon
175            Greg_Creed  ...            Greg Creed
176           Rich_Barton  ...           Rich Barton
177             Eric_Yuan  ...             Eric Yuan

[178 rows x 4 columns]

In [17]:
exec_df

                     name  ...            clean_name
0             Julie_Sweet  ...           Julie Sweet
1    Kumar_Mangalam_Birla  ...  Kumar Mangalam Birla
2        Shantanu_Narayen  ...      Shantanu Narayen
3           Garo_H._Armen  ...         Garo H. Armen
4         Guillaume_Faury  ...       Guillaume Faury
..                    ...  ...                   ...
173        Laura_J._Alber  ...        Laura J. Alber
174         Vince_McMahon  ...         Vince McMahon
175            Greg_Creed  ...            Greg Creed
176           Rich_Barton  ...           Rich Barton
177             Eric_Yuan  ...             Eric Yuan

[178 rows x 4 columns]

In [ ]:
# We can do the same via SQL.  For the example we'll save the dataframe first...

exec_df.to_sql('temp_exec', conn, if_exists="replace")
pd.read_sql_query('select name, replace(name, "_", " ") as clean_name from temp_exec', conn)

                     name            clean_name
0             Julie_Sweet           Julie Sweet
1    Kumar_Mangalam_Birla  Kumar Mangalam Birla
2        Shantanu_Narayen      Shantanu Narayen
3           Garo_H._Armen         Garo H. Armen
4         Guillaume_Faury       Guillaume Faury
..                    ...                   ...
173        Laura_J._Alber        Laura J. Alber
174         Vince_McMahon         Vince McMahon
175            Greg_Creed            Greg Creed
176           Rich_Barton           Rich Barton
177             Eric_Yuan             Eric Yuan

[178 rows x 2 columns]

## Selecting a subset of the rows

In [ ]:
# Here's a column
exec_df['clean_name']

0               Julie Sweet
1      Kumar Mangalam Birla
2          Shantanu Narayen
3             Garo H. Armen
4           Guillaume Faury
               ...
173          Laura J. Alber
174           Vince McMahon
175              Greg Creed
176             Rich Barton
177               Eric Yuan
Name: clean_name, Length: 178, dtype: object

In [18]:
# We can apply a test (predicate) to each column, returning a Series of boolean true/false values

exec_df['clean_name'] == 'Julie Sweet'

0       True
1      False
2      False
3      False
4      False
       ...
173    False
174    False
175    False
176    False
177    False
Name: clean_name, Length: 178, dtype: bool

In [ ]:
# If we compose these, we'll get only those rows where the boolean condition was True

exec_df[exec_df['clean_name'] == 'Julie Sweet']

          name                                       page  born   clean_name
0  Julie_Sweet  https://en.wikipedia.org/wiki/Julie_Sweet  None  Julie Sweet

In [19]:
exec_df[exec_df['clean_name'] == 'Julie Sweet'][['page']]

                                        page
0  https://en.wikipedia.org/wiki/Julie_Sweet

In [20]:
# And in SQL...

exec_df.to_sql('temp_exec', conn, if_exists="replace")

pd.read_sql_query('select * from temp_exec where clean_name="Julie Sweet"', conn)

   index         name  ...  born   clean_name
0      0  Julie_Sweet  ...  None  Julie Sweet

[1 rows x 5 columns]

In [21]:
pd.read_sql_query('select page from temp_exec where clean_name="Julie Sweet"', conn)

                                        page
0  https://en.wikipedia.org/wiki/Julie_Sweet

In [22]:
import numpy as np

exec_df.dropna(subset=['born'])

                     name  ...            clean_name
1    Kumar_Mangalam_Birla  ...  Kumar Mangalam Birla
2        Shantanu_Narayen  ...      Shantanu Narayen
3           Garo_H._Armen  ...         Garo H. Armen
4         Guillaume_Faury  ...       Guillaume Faury
5            Daniel_Zhang  ...          Daniel Zhang
..                    ...  ...                   ...
168         Doug_McMillon  ...         Doug McMillon
170           Jason_Kilar  ...           Jason Kilar
171        Charles_Scharf  ...        Charles Scharf
174         Vince_McMahon  ...         Vince McMahon
177             Eric_Yuan  ...             Eric Yuan

[105 rows x 4 columns]

In [23]:
pd.read_sql_query('select * from temp_exec where born is not null', conn).set_index('index')

                       name  ...            clean_name
index                        ...
1      Kumar_Mangalam_Birla  ...  Kumar Mangalam Birla
2          Shantanu_Narayen  ...      Shantanu Narayen
3             Garo_H._Armen  ...         Garo H. Armen
4           Guillaume_Faury  ...       Guillaume Faury
5              Daniel_Zhang  ...          Daniel Zhang
...                     ...  ...                   ...
168           Doug_McMillon  ...         Doug McMillon
170             Jason_Kilar  ...           Jason Kilar
171          Charles_Scharf  ...        Charles Scharf
174           Vince_McMahon  ...         Vince McMahon
177               Eric_Yuan  ...             Eric Yuan

[105 rows x 4 columns]

## Joining Data

We start with a simple join between company_ceos_df and exec_df and persist it to the database.  We then check how many companies did not have a match on CEO name.

In [24]:
exec_df[['clean_name', 'born']]

               clean_name        born
0             Julie Sweet        None
1    Kumar Mangalam Birla  1967-06-14
2        Shantanu Narayen  1963-05-27
3           Garo H. Armen  1953-01-31
4         Guillaume Faury  1968-02-22
..                    ...         ...
173        Laura J. Alber        None
174         Vince McMahon  1945-08-24
175            Greg Creed        None
176           Rich Barton        None
177             Eric Yuan  1970-02-20

[178 rows x 2 columns]

In [25]:
company_ceos_df[['Executive', 'Company']]

                Executive                    Company
0             Julie Sweet                  Accenture
1    Kumar Mangalam Birla         Aditya Birla Group
2        Shantanu Narayen              Adobe Systems
3           Garo H. Armen                     Agenus
4         Guillaume Faury                     Airbus
..                    ...                        ...
178     Thierry Delaporte                      Wipro
179         Vince McMahon                        WWE
180            Greg Creed                Yum! Brands
181           Rich Barton               Zillow Group
182             Eric Yuan  Zoom Video Communications

[183 rows x 2 columns]

In [26]:
company_ceos_df[['Executive', 'Company']].merge(exec_df[['clean_name', 'born']], 
                                                left_on=['Executive'], 
                                                right_on=['clean_name'])

                Executive  ...        born
0             Julie Sweet  ...        None
1    Kumar Mangalam Birla  ...  1967-06-14
2        Shantanu Narayen  ...  1963-05-27
3           Garo H. Armen  ...  1953-01-31
4         Guillaume Faury  ...  1968-02-22
..                    ...  ...         ...
170        Laura J. Alber  ...        None
171         Vince McMahon  ...  1945-08-24
172            Greg Creed  ...        None
173           Rich Barton  ...        None
174             Eric Yuan  ...  1970-02-20

[175 rows x 4 columns]

In [27]:
company_ceos_df.to_sql('company_ceos', conn, if_exists="replace")
exec_df.to_sql('executives', conn, if_exists="replace")
company_data_df.to_sql('company_data', conn, if_exists='replace')

pd.read_sql_query('select Executive, Company, born from company_ceos ' +\
                  'join executives on Executive=clean_name ' +\
                  'where born is not null', conn)

                Executive                    Company        born
0    Kumar Mangalam Birla         Aditya Birla Group  1967-06-14
1        Shantanu Narayen              Adobe Systems  1963-05-27
2           Garo H. Armen                     Agenus  1953-01-31
3         Guillaume Faury                     Airbus  1968-02-22
4            Daniel Zhang                    Alibaba  1972-01-11
..                    ...                        ...         ...
99          Doug McMillon                    Walmart  1966-10-17
100           Jason Kilar                WarnerMedia  1971-04-26
101        Charles Scharf                Wells Fargo  1965-04-24
102         Vince McMahon                        WWE  1945-08-24
103             Eric Yuan  Zoom Video Communications  1970-02-20

[104 rows x 3 columns]

###Finding the misses in the join.

Note that the join above resulted in 174 rows.  However, there are more rows in company_ceos_df so we are missing some companies.  We can see which are missed using a left outer join; setting "indicator= True" allows us to see which tuples in company_ceos_df failed to find a match (left_only, e.g. row 24 and 172).

In [28]:
pd.set_option('display.max_rows', 200)
display(company_ceos_df[['Executive', 'Company']].merge(exec_df[['clean_name', 'born']], 
                                                left_on=['Executive'], 
                                                right_on=['clean_name'], how="left", indicator=True))

                          Executive  ...     _merge
0                       Julie Sweet  ...       both
1              Kumar Mangalam Birla  ...       both
2                  Shantanu Narayen  ...       both
3                     Garo H. Armen  ...       both
4                   Guillaume Faury  ...       both
5                      Daniel Zhang  ...       both
6                        Jeff Bezos  ...       both
7                           Lisa Su  ...       both
8                    Stephen Squeri  ...       both
9                       Doug Parker  ...       both
10                Joseph R. Swedish  ...       both
11                         Tim Cook  ...       both
12             Lakshmi Niwas Mittal  ...       both
13                     John Stankey  ...       both
14                 Charles Woodburn  ...       both
15                    Tapan Singhel  ...       both
16               Carlos Torres Vila  ...       both
17                   Brian Moynihan  ...       both
18                       Jes Staley  ...       both
19                   Warren Buffett  ...       both
20                      Hubert Joly  ...       both
21              Sunil Bharti Mittal  ...       both
22            Stephen A. Schwarzman  ...       both
23                 Andrew Mackenzie  ...       both
24                     Oliver Zipse  ...       both
25                     Dave Calhoun  ...       both
26                      Rich Lesser  ...       both
27                       Bob Dudley  ...       both
28                  Denise Morrison  ...       both
29                Mark Shuttleworth  ...       both
30                      Aiman Ezzat  ...  left_only
31                 Richard Fairbank  ...       both
32                      Jim Umpleby  ...       both
33                Evan G. Greenberg  ...       both
34                    Chuck Robbins  ...       both
35                   Michael Corbat  ...       both
36                    James Quincey  ...       both
37                  Brian Humphries  ...       both
38                 Brian L. Roberts  ...       both
39                    Tidjane Thiam  ...       both
40                    Ola Källenius  ...  left_only
41                     Michael Dell  ...       both
42                       Ed Bastian  ...       both
43                 Christian Sewing  ...       both
44                      Frank Appel  ...       both
45                Roland Dickey Jr.  ...       both
46                  Edward D. Breen  ...       both
47                     G. V. Prasad  ...       both
48                      Devin Wenig  ...       both
49                    Andrew Wilson  ...       both
50                     Börje Ekholm  ...  left_only
51                     Darren Woods  ...       both
52                    Lisa S. Jones  ...       both
53                 Carmine Di Sibio  ...       both
54                  Mark Zuckerberg  ...       both
55               Frederick W. Smith  ...       both
56                Sergio Marchionne  ...       both
57                  Abigail Johnson  ...       both
58           James Michael Lafferty  ...       both
59                    James Hackett  ...       both
60                        Terry Gou  ...       both
61                  Lachlan Murdoch  ...       both
62                     Daymond John  ...       both
63                  Phebe Novakovic  ...       both
64             H. Lawrence Culp Jr.  ...       both
65                    Mary T. Barra  ...       both
66                    Emma Walmsley  ...       both
67                 David M. Solomon  ...       both
68                    Sundar Pichai  ...       both
69                     Felipe Gozon  ...       both
70   Gunupati Venkata Krishna Reddy  ...       both
71                    C Vijayakumar  ...       both
72                     Lee Shau Kee  ...       both
73                     Antonio Neri  ...       both
74                  Darius Adamczyk  ...       both
75                    John A. Kaneb  ...       both
76                       Noel Quinn  ...       both
77                   Arvind Krishna  ...       both
78                  Dikesh Malhotra  ...       both
79                     Salil Parekh  ...       both
80                    Pat Gelsinger  ...       both
81                     Scott Etzler  ...       both
82                  Millard Drexler  ...       both
83               Richard B. Handler  ...       both
84                      James Dimon  ...       both
85                  Andrew S. Rosen  ...       both
86                    Pieter Elbers  ...       both
87                  Charles G. Koch  ...       both
88                      Jeff Clarke  ...       both
89                      Robert Noel  ...       both
90                 Robert Goldstein  ...       both
91                    Andrew Meslow  ...  left_only
92                  Marillyn Hewson  ...       both
93                       Steve Rowe  ...       both
94              Ajaypal Singh Banga  ...       both
95                Chris Kempczinski  ...       both
96                    Kevin Sneader  ...       both
97                Jonathan Ornstein  ...       both
98              Steven A. Kandarian  ...       both
99                     Isaac Larian  ...       both
100                   Satya Nadella  ...       both
101               Michael J. Saylor  ...       both
102                 James P. Gorman  ...       both
103                      Toxey Haas  ...       both
104                     Chris Beard  ...       both
105                          Vacant  ...       both
106                      Jeff Shell  ...       both
107            Robert James Thomson  ...       both
108                   Mark Thompson  ...       both
109                   Sapnesh Lalla  ...  left_only
110                     Mark Parker  ...       both
111                  Pekka Lundmark  ...       both
112               Vasant Narasimhan  ...       both
113               Tatsumi Kimishima  ...       both
114                   Tim Armstrong  ...       both
115                      Safra Catz  ...       both
116                       Mark Hurd  ...       both
117                  Ramon Laguarta  ...       both
118                   Albert Bourla  ...       both
119                  Patrice Louvet  ...       both
120                 David S. Taylor  ...       both
121                 John Strangfeld  ...       both
122                      Alan Joyce  ...       both
123                     Anil Ambani  ...       both
124                   Mukesh Ambani  ...       both
125                     Luca de Meo  ...       both
126                  Phiwa Nkambule  ...       both
127                  David I. McKay  ...       both
128                     Ross McEwan  ...       both
129                 Ben van Beurden  ...       both
130                 Michael O'Leary  ...  left_only
131             Douglas L. Peterson  ...       both
132        Herbert Fisk Johnson III  ...       both
133                    Brian Peddle  ...       both
134                    Oh-Hyun Kwon  ...       both
135                 Christian Klein  ...       both
136                 James Goodnight  ...       both
137            Jean-Pascal Tricoire  ...       both
138                      Joe Kaeser  ...       both
139                     David Simon  ...       both
140                 Chua Sock Koong  ...       both
141                   Masayoshi Son  ...       both
142                     Tony Aquila  ...       both
143                   Gary C. Kelly  ...       both
144              J. Clifford Hudson  ...       both
145                   Kevin Johnson  ...       both
146                    Raymond Kwok  ...       both
147                  Dilip Shanghvi  ...       both
148           William H. Rogers Jr.  ...       both
149                   Rakesh Khanna  ...       both
150                   Brian Cornell  ...       both
151               Rajesh Gopinathan  ...       both
152                    Li Dongsheng  ...       both
153                       Andy Penn  ...       both
154                        Ho Ching  ...       both
155                      Dave Lewis  ...       both
156                       Elon Musk  ...       both
157       Umberto Macchi di Cellere  ...  left_only
158               Alan D. Schnitzer  ...       both
159                     Akio Toyoda  ...       both
160                  Bill Stromberg  ...       both
161                   Parag Agrawal  ...       both
162                     Scott Kirby  ...       both
163                    Ralph Hamers  ...       both
164                  Joseph C. Papa  ...       both
165                   Hans Vestberg  ...       both
166                   Robert Bakish  ...       both
167                  Vittorio Colao  ...       both
168                   Herbert Diess  ...       both
169                       Bill Hilf  ...       both
170                      Bob Chapek  ...       both
171                 Stefano Pessina  ...       both
172                   Doug McMillon  ...       both
173                     Ann Sarnoff  ...       both
174                     Jason Kilar  ...       both
175                  Charles Scharf  ...       both
176                     John Mackey  ...       both
177                  Laura J. Alber  ...       both
178               Thierry Delaporte  ...  left_only
179                   Vince McMahon  ...       both
180                      Greg Creed  ...       both
181                     Rich Barton  ...       both
182                       Eric Yuan  ...       both

[183 rows x 5 columns]

In [29]:
pd.set_option('display.max_rows', 50)
result_df = company_ceos_df[['Executive', 'Company']].merge(exec_df[['clean_name', 'born']], 
                                                left_on=['Executive'], 
                                                right_on=['clean_name'], how="outer", indicator=True)

result_df[result_df['_merge'] != 'both']

                     Executive                  Company  ...        born      _merge
30                 Aiman Ezzat                Capgemini  ...         NaN   left_only
40               Ola Källenius               Daimler AG  ...         NaN   left_only
50                Börje Ekholm                 Ericsson  ...         NaN   left_only
91               Andrew Meslow  Bath & Body Works, Inc.  ...         NaN   left_only
109              Sapnesh Lalla                     NIIT  ...         NaN   left_only
130            Michael O'Leary                  Ryanair  ...         NaN   left_only
157  Umberto Macchi di Cellere                    Tod's  ...         NaN   left_only
178          Thierry Delaporte                    Wipro  ...         NaN   left_only
183                        NaN                      NaN  ...  1969-06-11  right_only
184                        NaN                      NaN  ...        None  right_only
185                        NaN                      NaN  ...        None  right_only

[11 rows x 5 columns]

## Composing Joins

In [ ]:
pd.read_sql_query('select Executive, Company, born  from company_ceos ' +\
                  'join executives on Executive=clean_name join company_data cd on Company=cd.name ' +\
                  'where born is not null', conn)

               Executive                 Company        born
0          Garo H. Armen                  Agenus  1953-01-31
1           Daniel Zhang                 Alibaba  1972-01-11
2             Jeff Bezos                  Amazon  1964-01-12
3      Mark Shuttleworth               Canonical  1973-09-18
4       Brian L. Roberts                 Comcast  1959-06-28
5        Mark Zuckerberg                Facebook  1984-05-14
6          Sundar Pichai                  Google  1972-06-10
7        Darius Adamczyk               Honeywell  1966-02-08
8        Marillyn Hewson         Lockheed Martin  1953-12-27
9   Robert James Thomson               News Corp  1961-03-11
10            Joe Kaeser                 Siemens  1957-06-23
11         Parag Agrawal                 Twitter  1984-05-21
12         Hans Vestberg  Verizon Communications  1965-06-23

In [30]:
pd.read_sql_query('select * from company_ceos ' +\
                  'join executives on Executive=clean_name join company_data cd on Company=cd.name ' +\
                  'where born is not null', conn)

    index                 Company  ... first_funding_at last_funding_at
0       3                  Agenus  ...       04/08/2009      25/04/2013
1       5                 Alibaba  ...       01/10/1999      11/08/2005
2       6                  Amazon  ...       01/07/1995      01/07/1995
3      29               Canonical  ...       16/08/2013      16/08/2013
4      38                 Comcast  ...       08/05/2013      08/05/2013
5      54                Facebook  ...       01/09/2004      21/01/2011
6      68                  Google  ...       01/08/1998      07/06/1999
7      74               Honeywell  ...       27/10/2009      27/10/2009
8      92         Lockheed Martin  ...       06/07/2009      22/11/2010
9     107               News Corp  ...       08/01/2010      08/01/2010
10    138                 Siemens  ...       19/07/2010      19/07/2010
11    161                 Twitter  ...       01/07/2007      08/09/2011
12    165  Verizon Communications  ...       26/01/2010      28/02/2014

[13 rows x 31 columns]

In [31]:
company_ceos_df.merge(exec_df, 
                      left_on=['Executive'], 
                      right_on=['clean_name']).\
                      merge(company_data_df,
                            left_on='Company',
                            right_on='name')

                   Company  ... last_funding_at
0                   Agenus  ...      25/04/2013
1                  Alibaba  ...      11/08/2005
2                   Amazon  ...      01/07/1995
3              BAE Systems  ...      10/09/2010
4                Canonical  ...      16/08/2013
5                  Comcast  ...      08/05/2013
6                     eBay  ...      01/06/1997
7                 Facebook  ...      21/01/2011
8         General Dynamics  ...      10/09/2010
9         General Electric  ...      19/11/2009
10                  Google  ...      07/06/1999
11               Honeywell  ...      27/10/2009
12         Lockheed Martin  ...      22/11/2010
13          Mesa Air Group  ...      13/08/2014
14               News Corp  ...      08/01/2010
15                 Siemens  ...      19/07/2010
16               Starbucks  ...      01/02/1991
17                   Tesco  ...      15/07/2010
18                 Twitter  ...      08/09/2011
19  Verizon Communications  ...      28/02/2014

[20 rows x 28 columns]

## Tasks to be submitted on Blackboard after the lab by 17.00 PM.

#### Task-1: Using Pandas, filter all the "executive" names from "exec_df" dataframe with the age in range "1950-01-01" to "1960-01-01". Ensure result is stored in a new datafram along with the executive names. Print the results in dataframe.

In [ ]:
## Your answer should go here

#### Task-2: Using SQL, filter all the "executive" names from "exec_df" dataframe with the age in range "1950-01-01" to "1960-01-01". Print the returned results.